<template>
  <modal v-model="openModal" @hide="dismissCallback"
         ref="modal" id="modalCasting">
      <div slot="header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="dismissCallback"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Dados do Casting</h4>
      </div>
      <div slot="default">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="">Descrição</label>
              <textarea name="description" v-model="form.description" rows="4" cols="80" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="clients">Cliente</label>
              <input type="text"
                     id="clients"
                     name="client"
                     class="form-control"
                     autocomplete="off"
                     :value="company"
                     placeholder="Pesquisar cliente...">
              <typeahead v-model="client"
                         target="#clients"
                         :async-src="'/api/v1/clients/search?agency_id='+agencyId+'&search='"
                         item-key="tradeName"/>
            </div>
          </div>
        </div>
      </div>
    <div slot="footer">
      <button type="button" class="btn btn-green" data-dismiss="modal" @click="openModal = false">Voltar</button>
      <a type="button" class="btn btn-check" @click="save">Salvar</a>
    </div>
  </modal>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import castingService from '~/services/castings'
export default {
  name: 'CastingSave',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    castingId: {
      type: String,
      'default': null
    }
  },
  computed: {
    ...mapGetters(['casting']),
    isEdit () {
      return this.castingId
    },
    company () {
      return this.casting.client ? this.casting.client.tradeName : null
    },
    agencyId () {
      return this.$auth.user.agency_id
    }
  },
  data: () => ({
    openModal: false,
    client: null,
    form: {
      description: '',
      clientId: null,
      usersId: null,
      models: []
    },
    clients: []
  }),
  watch: {
    client (val) {
      this.form.clientId = val.id
    }
  },
  methods: {
    save () {
      if (this.hasModelSelected(this.casting)) {
        console.log(this.isEdit)
        if (this.isEdit === 'duplicate' || this.isEdit === '' || this.isEdit === 0 || this.isEdit === null) {
          this.create()
          return false
        }
        // atualiza dados
        this.update()
      }
    },
    create () {
      let data = this.form
      let casting = this.casting

      castingService.create({ ...casting, ...data }).then(data => {
        this.openModal = false
        this.$swal('Sucesso!', 'Casting salvo com sucesso!', 'success').then(() => {
          this.$router.push({ name: 'castings' })
        })
      })
    },
    update () {
      let data = this.form
      let casting = this.casting
      data.id = this.castingId

      castingService.update(casting.id, { ...casting, ...data }).then(data => {
        this.openModal = false
        this.$swal('Sucesso!', 'Casting atualizado com sucesso!', 'success').then(() => {
          this.$router.push({ name: 'castings' })
        })
      })
    },
    dismissCallback () {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    },
    hasModelSelected (data) {
      if (this.casting.models.length === 0) {
        this.$swal('Erro!', 'Nenhum modelo selecionado para o Casting!', 'error').then(() => {
          this.$store.commit('FETCH_CASTING_SELECT', data)
          this.openModal = false
        })
        return false
      }
      return true
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.casting)
  }
}
</script>
