<template>
  <modal v-model="openModal" @hide="dismissCallback"
         ref="modal" id="modalEvent">
    <div slot="header">
      <div :class="classObject" id="header">
        <h2 class="modal-title" id="titulo">{{ typeName }}</h2>
      </div>
    </div>
    <div slot="default">
      <div class="row">
        <div class="col-md-12">
          <nuxt-link :to="{ name: 'castings' }">Casting <span class="fa fa-caret-right"></span></nuxt-link><br>
          <img  v-for="(model, key) in casting.models"
                :key="key"
                :src="model.photo"
                :alt='model.name'
                :class="{ 'profile-img': true, 'mtop10': (key===0), 'mleft-15': (key>0) }"
                style="height: 60px"
                data-toggle='tooltip'
                data-placement='top'
                :title='model.name'>
        </div>
      </div>
      <div class="row mtop20">
        <div class="col-md-6">
          <div :class="{'form-group': true, 'has-error': errors.has('title') }">
            <label>Título</label>
            <input type="text" v-model="form.title" id="title" name="title"
                   class="form-control"
                  >
            <span v-show="errors.has('title')" class="help">{{ errors.first('title') }}</span>
          </div>
        </div>
        <div class="col-md-6">
          <div :class="{'form-group': true, 'has-error': errors.has('job') }">
            <label for="job">
              <nuxt-link :to="jobUrl">Trabalho <span class="fa fa-caret-right"></span></nuxt-link>
            </label>
            <input type="text"
                   id="jobs"
                   name="job"
                   class="form-control"
                   autocomplete="off"
                   :value="jobTitle"
                   placeholder=""
                   :readonly="true"
                   />
            <!--<typeahead v-model="job"-->
                       <!--target="#jobs"-->
                       <!--async-src="/api/v1/jobs/search?search="-->
                       <!--item-key="title" />-->
            <span v-show="errors.has('job')" class="help">{{ errors.first('job') }}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div :class="{'form-group': true, 'has-error': errors.has('client') }">
            <label for="client">
              <nuxt-link :to="clientUrl">Cliente  <span class="fa fa-caret-right"></span></nuxt-link>
            </label>
            <!-- <input type="text" name="" id="cliente" class="form-control"> -->
            <input type="text"
                   id="clients"
                   name="client"
                   class="form-control"
                   autocomplete="off"
                   :value="company"
                   :readonly="true"
                   placeholder="Pesquisar cliente...">
            <!--<typeahead v-model="client"-->
                       <!--target="#clients"-->
                       <!--async-src="/api/v1/clients/search?search="-->
                       <!--item-key="tradeName" />-->
            <span v-show="errors.has('client')" class="help">{{ errors.first('client') }}</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div :class="{'form-group': true, 'has-error': errors.has('client') }">
            <label>Data</label>
            <input type="text" v-model="form.date" name="date" id="date" class="form-control" v-mask="'99/99/9999'" placeholder="dd/mm/aaaa" />
            <span v-show="errors.has('date')" class="help">{{ errors.first('date') }}</span>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div :class="{'form-group': true, 'has-error': errors.has('hour') }">
            <label>Horário</label>
            <input type="text" v-model="form.hour" id="hour" name="hour"
                   class="form-control time" v-mask="'99:99'" placeholder="00:00" />
            <span v-show="errors.has('hour')" class="help">{{ errors.first('hour') }}</span>
          </div>
        </div>
          <div class="col-md-4">
            <div :class="{'form-group': true, 'has-error': errors.has('type') }">
              <label>Tipo</label>
              <select class="form-control" v-model="form.type" id="type" name="type">
                <option value="JOBS">Trabalho</option>
                <option value="MODELS">Modelo</option>
                <option value="PAYMENT">Pagamento</option>
                <option value="CASTING">Casting</option>
                <option value="OTHERS">Outros</option>
              </select>
              <span v-show="errors.has('type')" class="help">{{ errors.first('type') }}</span>
            </div>
          </div>
        <div class="col-md-12">
          <div class="form-group">
            <label>Observações</label>
            <textarea v-model="form.observation" rows="4" class="form-control" id="observation"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div slot="footer">
      <a href="javascript: void(0)"
         title="Excluír Evento"
         class="pull-left"
         @click.prevent="destroy(eventId)"
         style="background: #F9f9f9; padding: 6px 10px; font-size: 14px; border-radius: 50%"
          v-if="eventId">
        <i class="fa fa-trash"></i>
      </a>
      <button type="button" class="btn btn-secondary" @click="dismissCallback">Fechar</button>
      <button type="button" class="btn btn-green" @click="save">Salvar</button>
    </div>
  </modal>
</template>

<script type="text/javascript">
import { mapGetters } from 'vuex'
import mixinSwal from '~/mixins/swal'
import scheduleService from '~/services/schedules'
export default {
  name: 'EventsCasting',
  mixins: [mixinSwal],
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    clear: {
      type: Boolean,
      'default': false
    },
    eventId: {
      type: String,
      'default': null
    }
  },
  computed: {
    ...mapGetters(['casting']),
    company () {
      return this.casting.client ? this.casting.client.tradeName : this.form.tradeName
    },
    jobTitle () {
      return this.casting.job ? this.casting.job.title : this.form.jobTitle
    },
    jobUrl () {
      if (this.casting.job) {
        return '/jobs/store/' + this.casting.job.id
      }
      return '/jobs/store/'
    },
    clientUrl () {
      if (this.casting.client) {
        return '/clients/store/' + this.casting.client.id
      }
      return '/clients/store/'
    }
  },
  data: () => ({
    openModal: false,
    client: null,
    job: null,
    clients: [],
    typeName: '',
    classObject: {
      'modal-header': true,
      'event-blue': false,
      'event-orange': false,
      'event-red': false,
      'event-green': true,
      'event-gray': false
    },
    form: {
      id: 0,
      jobId: '',
      clientId: '',
      castingId: '',
      date: null,
      hour: null,
      type: 'JOBS',
      observation: '',
      title: '',
      tradeName: '',
      jobTitle: ''
    }
  }),
  watch: {
    client (val) {
      this.form.clientId = val.id
    },
    job (val) {
      this.form.jobId = val.id
    },
    'form.date' (val) {
      this.form.date = this.$options.filters.dateFormat(val)
    },
    'form.type' (val) {
      if (this.form.id === 0) {
        return false
      }

      switch (val) {
        case 'JOBS': {
          this.changeClassObject('Trabalho', true, false, false, false, false)
          break
        }
        case 'MODELS': {
          this.changeClassObject('Modelo', false, true, false, false, false)
          break
        }
        case 'PAYMENT': {
          this.changeClassObject('Pagamento', false, false, true, false, false)
          break
        }
        case 'CASTING': {
          this.changeClassObject('Casting', false, false, false, true, false)
          break
        }
        case 'OTHERS': {
          this.changeClassObject('Outro', false, false, false, false, true)
          break
        }
        default: {
          this.changeClassObject('Novo Evento', true, false, false, false, false)
        }
      }
    }
  },
  methods: {
    save () {
      let data = Object.assign({}, this.form)
      data.models = []
      if (this.casting.models.length > 0) {
        data.models = this.casting.models.map(r => r.id)
      }

      if (this.form.id === 0 || this.form.id === null) {
        this.create(data)
      } else {
        this.update(this.form.id, data)
      }
    },
    update (id, data) {
      scheduleService.update(id, data).then(res => {
        this.$swal('Sucesso!', 'Evento atualizado com sucesso!', 'success').then(() => {
          this.$store.dispatch('getEventsToday')
          this.$store.dispatch('getWidgetTotals')
          this.dismissCallback()
        })
      })
    },
    create (data) {
      scheduleService.create(data).then(res => {
        this.$swal('Sucesso!', 'Evento criado com sucesso!', 'success').then(() => {
          this.$store.dispatch('getEventsToday')
          this.$store.dispatch('getWidgetTotals')
          this.dismissCallback()
        })
      })
    },
    destroy (id) {
      this.swalDanger('Deseja excluir?', 'Depois não será possível reverter.').then((deleted) => {
        if (deleted) {
          scheduleService.destroy(id).then(res => {
            this.$swal('Sucesso!', 'Evento removido com sucesso!', 'success').then(() => {
              this.$store.dispatch('getEventsToday')
              this.$store.dispatch('getWidgetTotals')
              this.dismissCallback()
            })
          })
        }
      })
    },
    dismissCallback () {
      this.close()
    },
    close () {
      this.openModal = false
      if (this.clear) {
        this.$store.commit('RESET_CASTING_SELECT')
      }
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    },
    changeClassObject (typeName = 'Novo Evento', ...classActive) {
      this.typeName = typeName
      if (this.typeName === 'JOBS') {
        this.typeName = 'Trabalho'
      }
      this.classObject = {
        'modal-header': true,
        'event-blue': classActive[0],
        'event-orange': classActive[1],
        'event-red': classActive[2],
        'event-green': classActive[3],
        'event-gray': classActive[4]
      }
    }
  },
  created () {
    if (this.casting.id !== 0) {
      this.form.clientId = this.casting.client.id
      this.form.jobId = this.casting.job.id
      this.form.castingId = this.casting.id
    }

    if (this.eventId !== null) {
      scheduleService.getSchedule(this.eventId).then(data => {
        this.form.clientId = data.clientId
        this.form.jobId = data.jobId
        this.form.castingId = data.castingId
        this.form.id = data.id
        this.form.title = data.title
        this.form.date = data.date
        this.form.hour = data.hour
        this.form.observation = data.observation
        this.form.tradeName = data.tradeName
        this.form.jobTitle = data.jobTitle
        this.form.type = data.type
        this.changeClassObject(data.type, true, false, false, false, false)
      })
    } else {
      this.changeClassObject('Novo Evento', false, false, false, true, false)
    }
  },
  mounted () {
    this.openModal = this.open
  }
}
</script>
