<template>
  <modal v-model="openModal" @hide="dismissCallback"
        size="lg" ref="modal" id="modalAgenda">
      <div slot="header">
        <h2 class="modal-title pull-left">Casting</h2>
        <a href="#"
           class="btn pull-right"
           data-dismiss="modal"
           data-toggle="modal"
           data-target="#modalEvento"
           @click="newEvent"><span class="fa fa-plus"></span> Novo Evento</a>
      </div>
      <div slot="default">
        <div class="row">
          <div class="col-md-12" style="height: 450px">
            <!-- <full-calendar :events="events" :config="config"></full-calendar> -->
            <full-calendar :events="fcEvents"
                            @event-selected="eventSelected"
                            :config="config"
                            ref="calendar"></full-calendar>
          </div>
        </div>
      </div>
    <div slot="footer">
      <button type="button" class="btn btn-secondary" @click="dismissCallback">Fechar</button>
    </div>
  </modal>
</template>

<script type="text/javascript">
  import { ModalEvent } from '~/components/castings/modals'
  import { mapGetters } from 'vuex'
  export default {
    props: {
      open: {
        type: Boolean,
        'default': false
      }
    },
    components: {
      ModalEvent
    },
    computed: {
      ...mapGetters(['casting']),
      fcEvents () {
        let job = this.casting.job.title
        let client = this.casting.job.tradeName
        let casting = this.casting.description

        return this.casting.events.map(c => ({
          id: c.id,
          title: c.title,
          start: c.date + 'T' + c.hour,
          // allDay: false,
          className: 'event-green',
          job: job,
          client: client,
          description: c.observation,
          casting: casting,
          type: c.type,
          modelos: 'Marcos Teixeira, Lúcia Vieira, João da Silva'
        }))
      }
    },
    data: () => {
      return {
        openModal: true,
        // eventSources: [
        //   {
        //     events (start, end, timezone, callback) {
        //       let castingId = self.$nuxt.$store.getters.casting.id
        //       self.$nuxt.$axios.$get('/api/v1/schedules', { params: { timezone: timezone, castingsId: castingId } }).then(response => {
        //         callback(response)
        //       })
        //     },
        //     className: 'event-green',
        //     allDay: false
        //   }
        // ],
        // fcEvents: [
        //   {
        //     title: 'Casting Presencial',
        //     start: '2018-12-06T12:30:00',
        //     allDay: false,
        //     className: 'event-green',
        //     job: 'Campanha Natal',
        //     client: 'Agência XPTO',
        //     description: 'Casting Presencial',
        //     casting: 'Casting Exemplo 1',
        //     type: 'trabalho',
        //     modelos: 'Marcos Teixeira, Lúcia Vieira, João da Silva'
        //   }
        // ],
        config: {
          header: {right: 'today prev,next', center: '', left: 'title'},
          height: 450,
          defaultView: 'agendaWeek',
          duration: { days: 'visibleRange' },
          defaultTimedEventDuration: '01:00:00',
          // minTime: '00:00:00',
          // maxTime: '23:59:00',
          // allDay: true,
          disableDragging: true,
          eventDurationEditable: true,
          handleWindowResize: true,
          selectable: true,
          eventStartEditable: true,
          lang: 'pt-br',
          eventAfterRender (event, element, view) {
            $(element).tooltip({title: event.title, placement: 'top'})
          },
          eventDrop (event, delta, revertFunc, jsEvent, ui, view) {
            revertFunc()
          },
          eventResize (event, delta, revertFunc, jsEvent, ui, view) {
            revertFunc()
          },
          select (date, jsEvent, view) {
            return false
          }
        }
      }
    },
    methods: {
      eventSelected (calEvent, jsEvent, view) {
        this.editEvent(calEvent.id)
      },
      editEvent (id) {
        this.dismissCallback()
        this.$emit('open-event', id)
      },
      newEvent () {
        this.dismissCallback()
        this.$emit('open-event')
      },
      dismissCallback (clearCasting) {
        this.close()
      },
      close () {
        this.openModal = false
        setTimeout(() => {
          this.$emit('close')
        }, 100)
      }
    },
    mounted () {
      this.openModal = this.open
      window.dispatchEvent(new Event('resize'))
      // this.$store.dispatch('FETCH_CASTING_SELECT', this.casting)
      // setTimeout(() => {
      //   this.$refs.calendar.$emit('refetch-events')
      // }, 300)
    }
  }
</script>
