<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Novo Cliente</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 paginator">
        <div class="wrapper">
          <span class="fa fa-chevron-up arrow-up" @click="changeActive(null, 'up')"></span>
          <ul class="list-unstyled">
            <li><a href="#" data-target="tab_1" class="toggle-form" :class="{ 'active': (active===1) }" @click="changeActive(1)"><span class="fa fa-info-circle"></span></a></li>
            <li><a href="#" data-target="tab_2" class="toggle-form" :class="{ 'active': (active===2) }" @click="changeActive(2)"><span class="fa fa-address-card-o"></span></a></li>
            <li><a href="#" data-target="tab_3" class="toggle-form" :class="{ 'active': (active===3) }" @click="changeActive(3)"><span class="fa fa-bank"></span></a></li>
          </ul>
          <span class="fa fa-chevron-down arrow-down" @click="changeActive(null, 'down')"></span>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===1) }" id="tab_1">
          <buttons-top :title="'Informações Cadastrais'" @save="submit"></buttons-top>
          <form class="form">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="name">Nome fantasia</label>
                  <input type="text" class="form-control" id="name" name="name" v-model="form.name">
                </div>
                <div class="form-group">
                  <label for="tradeName">Razão social</label>
                  <input type="text" class="form-control" id="tradeName" name="tradeName" v-model="form.tradeName">
                </div>
                <div class="form-group">
                  <label for="document1">CNPJ</label>
                  <input type="text" class="form-control" id="document1" name="document1" v-model="form.document1"  v-mask="'99.999.999/9999-99'" maxlength="18">
                </div>
                <div class="form-group">
                  <label for="document2">I.E.</label>
                  <input type="text" class="form-control" id="document2" name="document2" v-model="form.document2" maxlength="15" >
                </div>
                <div class="form-group">
                  <label for="site">Site</label>
                  <input type="text" class="form-control" id="site" name="site" v-model="form.site">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" v-model="form.email">
                </div>
              </div>
            </div>
            <button type="button" name="button" class="btn btn-next pull-right mleft-15 arrow-down" @click="changeActive(2)">Próximo</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===2) }" id="tab_2">
          <buttons-top :title="'Contato'" @save="submit"></buttons-top>
          <form class="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="zipCode">CEP</label>
                  <input type="text" class="form-control" id="zipCode" name="zipCode" v-model="form.clientAddress.zipCode" @keyup="searchAddress" v-mask="'99999-999'" maxlength="9">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="street">Endereço</label>
                  <input type="text" class="form-control" id="street" name="street" v-model="form.clientAddress.street">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <div :class="{'form-group': true, 'error': searchOk }">
                  <label for="no">No.</label>
                  <input type="text" :class="{'form-control': true, 'error': searchOk }"
                         id="no" name="number" v-model="form.clientAddress.number"
                         @keydown="searchOk=false">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <div class="form-group">
                  <label for="additionalInfo">Comp.</label>
                  <input type="text" class="form-control" id="additionalInfo" name="additionalInfo" v-model="form.clientAddress.additionalInfo">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cityBlock">Bairro</label>
              <input type="text" class="form-control" id="cityBlock" name="cityBlock" v-model="form.clientAddress.cityBlock">
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-1">
                <div class="form-group">
                  <label for="state">Estado</label>
                  <select-states v-model="form.clientAddress.state"></select-states>
                </div>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-11">
                <div class="form-group">
                  <label for="city">Cidade</label>
                  <input type="text" class="form-control" id="city" name="city" v-model="form.clientAddress.city">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contactName">Contato</label>
                  <input type="text" class="form-control" id="contactName" name="contactName" v-model="form.clientAddress.contactName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contactPosition">Cargo</label>
                  <input type="text" class="form-control" id="contactPosition" name="contactPosition" v-model="form.clientAddress.contactPosition">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone1">Telefone 1</label>
                  <input type="text" class="form-control" id="phone1" name="phone1" v-model="form.clientAddress.phone1" v-mask="'(99)99999-9999'" maxlength="14">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone2">Telefone 2</label>
                  <input type="text" class="form-control" id="phone2" name="phone2" v-model="form.clientAddress.phone2" v-mask="'(99)99999-9999'" maxlength="14">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone3">Telefone 3</label>
                  <input type="text" class="form-control" id="phone3" name="phone3" v-model="form.clientAddress.phone3" v-mask="'(99)99999-9999'" maxlength="14">
                </div>
              </div>
            </div>
            <button type="button" name="button" class="btn pull-right mleft-15 btn-next arrow-down" @click="changeActive(3)">Próximo</button>
            <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(1)">Voltar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===3) }" id="tab_3">
          <buttons-top :title="'Dados Bancário'" @save="submit"></buttons-top>
          <div class="clearfix"></div>
          <form class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="bankName">Banco</label>
                  <select-banks v-model="form.clientBankAccount.bankName"
                                @bank-code="selectBankCode"></select-banks>
                </div>
              </div>
              <div class="col-md-6">
                <div class="radio">
                  <label class="radio-inline">
                    <input type="radio" name="type" v-model="form.clientBankAccount.type" value="CC"> Conta-corrente
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="type" v-model="form.clientBankAccount.type" value="CP"> Conta-poupança
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="agency">Agência</label>
              <input type="text" class="form-control" id="agency" name="agency" v-model="form.clientBankAccount.agency">
            </div>
            <div class="form-group">
              <label for="conta">Conta</label>
              <input type="text" class="form-control" id="number" name="number" v-model="form.clientBankAccount.number">
            </div>
            <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(2)">Voltar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { get as axiosGet } from 'axios'
import serviceClients from '~/services/clients'
import ButtonsTop from '~/components/clients/partials/buttons'
import SelectStates from '~/components/global/states'
import SelectBanks from '~/components/global/banks'
import mixinTab from '~/mixins/tabs'

export default {
  mixins: [mixinTab],
  middleware: 'auth',
  components: {
    ButtonsTop,
    SelectStates,
    SelectBanks
  },
  data: () => ({
    searchOk: false,
    form: {
      id: 0,
      name: '',
      tradeName: '',
      document1: '',
      document2: '',
      email: '',
      site: '',
      clientAddress: {
        city: '',
        number: '',
        country: '',
        state: '',
        street: '',
        additionalInfo: '',
        cityBlock: '',
        zipCode: '',
        phone1: '',
        phone2: '',
        phone3: '',
        contactName: '',
        contactPosition: ''
      },
      clientBankAccount: {
        number: '',
        agency: '',
        bankCode: '',
        bankName: '',
        holder: false,
        type: 'CC',
        holderName: '',
        document: ''
      }
    }
  }),
  computed: {
    isEdit () {
      return this.$route.params.id
    }
  },
  methods: {
    submit () {
      if (!this.isEdit) {
        this.create()
        return false
      }
      this.update()
    },
    create () {
      serviceClients.create(this.form).then(data => this.$router.push({ name: 'clients' }))
    },
    update () {
      serviceClients.update(this.isEdit, this.form).then(data => this.$router.push({ name: 'clients' }))
    },
    selectBankCode (value) {
      this.form.clientBankAccount.bankCode = value
    },
    searchAddress () {
      let zipCode = this.form.clientAddress.zipCode
      if (zipCode.length === 9) {
        axiosGet('https://viacep.com.br/ws/' + zipCode.replace('-', '') + '/json/').then(data => {
          let result = data.data
          if (result.error === true) {
            return false
          } else {
            this.form.clientAddress.street = result.logradouro
            this.form.clientAddress.cityBlock = result.bairro
            this.form.clientAddress.state = result.uf
            this.form.clientAddress.city = result.localidade
            $('#no').focus()
            this.searchOk = true
          }
        })
      }
    },

    fetchItems () {
      if (this.isEdit) {
        serviceClients.getClient(this.isEdit).then(data => {
          this.form = data
        })
      }
    }
  },
  mounted () {
    this.fetchItems()
  }
}
</script>
