<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Clientes</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-no-border active">
          <div class="row search-group">
            <button class="btn btn-search pull-right mleft-15 mright-20" type="button" id="btn-search" data-toggle="dropdown-search" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-search"></span>
            </button>
            <nuxt-link :to="{ name: 'clients-store-id' }" class="btn btn-green pull-right"><span class="fa fa-plus"></span> Novo Cliente</nuxt-link>
            <div class="panel panel-default dropdown-search collapse" id="dropdown-search">
              <div class="panel-body">
                <form>
                  <ul class="list-unstyled">
                    <li>
                      <div class="form-group">
                        <label for="name" >Nome</label>
                          <input type="text" name="name" class="form-control search-input" v-model="filter.name">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="document1" >CNPJ</label>
                          <input type="text" name="document1" class="form-control search-input" v-model="filter.document1">
                        </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="city" >Cidade</label>
                          <input type="text" name="city" class="form-control search-input" v-model="filter.city">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="enabled" >Status</label>
                          <select class="form-control search-select" name="enabled" v-model="filter.enabled">
                            <option value="">Ambos</option>
                            <option value="1">Ativos</option>
                            <option value="0">Inativos</option>
                          </select>
                      </div>
                    </li>
                    <div class="panel-footer">
                      <button type="button" name="button" class="btn pull-right mleft-15" id="btn-filter" data-toggle="dropdown-search" @click.prevent="onSearch">Filtrar</button>
                      <button type="button" name="button" class="btn btn-green pull-right" id="btn-clear" data-toggle="dropdown-search" @click.prevent="fetch">Limpar</button>
                    </div>
                  </ul>
                </form>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <table class="table table-hover hidden-xs hidden-sm">
            <thead>
              <tr>
                <th>Nome</th>
                <th>CNPJ</th>
                <th>Telefone</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Email</th>
                <th>Status</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="client in paginateItems"
                  :key="client.id">
                <td>{{ client.tradeName }}</td>
                <td>{{ client.document1 }}</td>
                <td>{{ client.clientAddress.phone1 }}</td>
                <td>{{ client.clientAddress.city }}</td>
                <td>{{ client.clientAddress.state }}</td>
                <td>{{ client.email }}</td>
                <td>
                  <span class="label label-success" v-if="client.enabled">Ativo</span>
                  <span class="label label-danger" v-else>Inativo</span>
                </td>
                <td>
                  <actions :client="client"></actions>
                </td>
              </tr>
            </tbody>
          </table>
          <table class="table table-hover visible-xs visible-sm">
            <thead>
              <tr>
                <th>Cliente</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="client in paginateItems"
                  :key="client.id">
                <td>
                  <span class="label label-success" v-if="client.enabled">Ativo</span>
                  <span class="label label-danger" v-else>Inativo</span>&nbsp;
                  <b>{{ client.tradeName }}</b><br>
                  {{ client.document1 }}<br>
                  {{ client.clientAddress.phone1 }}<br>
                  {{ client.clientAddress.city }} - {{ client.clientAddress.state }} <br>
                  {{ client.email }}
                </td>
                <td>
                  <actions :client="client"></actions>
                </td>
              </tr>

            </tbody>
          </table>

          <p class="text-center" v-if="total===0">Nenhum registro encontrado.</p>

          <nav aria-label="Page navigation" class="pagination-wrapper" v-if="isVisible">
            <paginate
              :page-count="totalPages"
              :click-handler="getPaginatedItems"
              :container-class="'pagination'">
            </paginate>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { search } from '~/plugins/search.js'
import { mapGetters } from 'vuex'
import paginate from '~/mixins/paginate'
import Actions from '~/components/clients/partials/actions'

export default {
  name: 'MmClients',
  middleware: 'auth',
  mixins: [paginate],
  components: {
    Actions
  },
  computed: {
    ...mapGetters([
      'clients'
    ]),
    items () {
      return this.clients
    }
  },
  data: () => ({
    filter: {
      name: '',
      document1: '',
      city: '',
      enabled: ''
    }
  }),
  methods: {
    onSearch () {
      this.$store.dispatch('getClients', this.filter)
    },
    fetch () {
      this.$store.dispatch('getClients')
    }
  },
  created () {
    this.fetch()
  },
  mounted () {
    search()
  }
}
</script>
