<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Castings</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-no-border active">
          <div class="row search-group">
            <button class="btn btn-search pull-right mleft-15 mright-20" type="button" id="btn-search" data-toggle="dropdown-search" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-search"></span>
            </button>
            <nuxt-link :to="{ name: 'castings-store-id' }"  class="btn btn-green pull-right"><span class="fa fa-plus"></span> Novo Casting</nuxt-link>
            <div class="panel panel-default dropdown-search collapse" id="dropdown-search">
              <div class="panel-body">
                <form @submit="search">
                  <ul class="list-unstyled">
                    <li>
                      <div class="form-group">
                        <label for="" >Descrição</label>
                        <input type="text" name="description" v-model="form.description" class="form-control search-input">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="client" >Cliente</label>
                        <input type="text" name="client" v-model="form.client" class="form-control search-input">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="">Status</label>
                        <select class="form-control search-select" v-model="form.status">
                          <option value="">Ambos</option>
                          <option value="PRE_SELECTION">Pré-seleção</option>
                          <option value="USED">Utilizado</option>
                        </select>
                      </div>
                    </li>
                    <div class="panel-footer">
                      <button type="button" name="button" class="btn pull-right mleft-15" id="btn-filter" data-toggle="dropdown-search" @click="search">Filtrar</button>
                      <button type="button" name="button" class="btn btn-green pull-right" id="btn-clear" data-toggle="dropdown-search" @click="clearFilter()">Limpar</button>
                    </div>
                  </ul>
                </form>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <table class="table table-hover hidden-xs hidden-sm">
            <thead>
              <tr>
                <th>Descrição</th>
                <th>Cliente</th>
                <th>Criado</th>
                <th>Usuário</th>
                <th>Status</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="casting in paginateItems"
                  :key="casting.id">
                <td>{{ casting.description }}</td>
                <td>{{ casting.client.tradeName }}</td>
                <td>{{ casting.createdAt | moment("DD/MM/YYYY") }}</td>
                <td>{{ casting.user.name }}</td>
                <td v-html="$options.filters.castingStatus(casting.status)"></td>
                <td>
                  <actions :casting="casting"></actions>
                </td>
              </tr>

            </tbody>
          </table>
          <table class="table table-hover visible-xs visible-sm">
            <thead>
              <tr>
                <th>Casting</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="casting in paginateItems"
                  :key="casting.id">
                <td>
                  <span v-html="$options.filters.castingStatus(casting.status)"></span><br>
                  <b>{{ casting.description }}</b><br>
                  Cliente: {{ casting.client.tradeName }}<br>
                  {{ casting.user.name }} - {{ casting.createdAt | moment("DD/MM/YYYY") }}</td>
                <td>
                  <actions :casting="casting"></actions>
                </td>
              </tr>

            </tbody>
          </table>

          <p class="text-center" v-if="total===0">Nenhum registro encontrado.</p>

          <nav aria-label="Page navigation" class="pagination-wrapper" v-if="isVisible">
            <pagination v-model="pageNum"
                :total-page="totalPages"
                @change="getPaginatedItems"
                boundary-links />
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import Actions from '~/components/castings/partials/actions.vue'
import { search } from '~/plugins/search.js'
import paginate from '~/mixins/paginate'

export default {
  name: 'Castings',
  middleware: 'auth',
  mixins: [paginate],
  components: {
    Actions
  },
  computed: {
    ...mapGetters([
      'castings'
    ]),
    items () {
      return this.castings
    }
  },
  data: () => ({
    openModal: false,
    form: {
      description: '',
      client: '',
      status: ''
    }
  }),
  methods: {
    ...mapActions(['getCastings']),
    search () {
      this.getCastings(this.form)
    },
    clearFilter () {
      this.form = {
        description: '',
        client: '',
        status: ''
      }
      this.getCastings(this.form)
    }
  },
  created () {
    this.getCastings(this.form)
  },
  mounted () {
    search()
  }
}
</script>
