<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Certo! Agora precisamos de suas características para continuar.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)">
            <label for='category' :class="{ 'error': errors.has('category') }">Em qual dessas categorias de modelo você se encaixa?</label>
            <select class="form-control startform" name="category" id="category" v-model="form.category" v-validate="'required'">
              <option value="">Selecione</option>
              <option value="Baby">Baby</option>
              <option value="Comercial">Comercial</option>
              <option value="Fashion">Fashion</option>
              <option value="Infantil">Infantil</option>
              <option value="Plus-Size">Plus Size</option>
              <option value="Publicitário">Publicitário</option>
              <option value="Teen">Teen</option>
            </select>
            <span v-show="errors.has('category')" class="help error">{{ errors.first('category') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)">
            <label for='skinColor' :class="{ 'error': errors.has('skinColor') }">Qual a sua cor de pele?</label>
            <select class="form-control" name="skinColor" id="skinColor" v-model="form.skinColor" v-validate="'required'">
              <option value="">Selecione</option>
              <option value="Branca">Branca</option>
              <option value="Amarela">Amarela</option>
              <option value="Morena">Morena</option>
              <option value="Morena Clara">Morena Clara</option>
              <option value="Mulata">Mulata</option>
              <option value="Negra">Negra</option>
            </select>
            <span v-show="errors.has('skinColor')" class="help error">{{ errors.first('skinColor') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)">
            <label for=''>Seu cabelo é de qual cor?</label>
            <select class="form-control" name="hairColor" id="hairColor" v-model="form.hairColor">
              <option value="">Selecione</option>
              <option value="Castanho">Castanho</option>
              <option value="Grisalho">Grisalho</option>
              <option value="Loiro">Loiro</option>
              <option value="Preto">Preto</option>
              <option value="Ruivo">Ruivo</option>
              <option value="Outro">Outro</option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===4) }" v-show="(step===4)">
            <label for=''>E o tamanho?</label>
            <select class="form-control" name="hairLength" id="hairLength" v-model="form.hairLength">
              <option value="">Selecione</option>
              <option value="Careca">Careca</option>
              <option value="Curto">Curto</option>
              <option value="Longo">Longo</option>
              <option value="Médio">Médio</option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===5) }" v-show="(step===5)" id="hairType">
            <label for=''>E qual o tipo de seu cabelo?</label>
            <select class="form-control" name="hairType" id="hairType"  v-focus="step===5" v-model="form.hairType">
              <option value="">Selecione</option>
              <option value="Encaracolado">Encaracolado</option>
              <option value="Crespo">Crespo</option>
              <option value="Liso">Liso</option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===6) }" v-show="(step===6)">
            <label for=''>Utiliza alguma química nos cabelos? Qual?</label>
            <input type="text" class="form-control" name="hairUnnatural" id="hairUnnatural" v-model="form.hairUnnatural">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===7) }" v-show="(step===7)">
            <label for=''>E seus olhos são de qual cor?</label>
            <select class="form-control" name="eyesColor" id="eyesColor" v-model="form.eyesColor">
              <option value="">Selecione</option>
              <option value="Castanho">Castanho</option>
              <option value="Azul">Azul</option>
              <option value="Verde">Verde</option>
              <option value="Preto">Preto</option>
              <option value="Mel">Mel</option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===8) }" v-show="(step===8)">
            <label for=''>Por último, qual sua etnia?</label>
            <select class="form-control" name="ethnicity" id="ethnicity" v-model="form.ethnicity">
              <option value="">Selecione</option>
              <option value="Ocidental">Ocidental</option>
              <option value="Oriental">Oriental</option>
              <option value="Mestiça">Mestiça</option>
              <option value="Indígena">Indígena</option>
              <option value="Mestiça Oriental">Mestiça Oriental</option>
              <option value="Outra">Outra</option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===9) }" v-show="(step===9)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Categoria de Modelo</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="category" class="pull-right info" @click.prevent="changeStep(1)">{{ form.category || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Cor de pele</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="skinColor" class="pull-right info" @click.prevent="changeStep(2)">{{ form.skinColor || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Cor do cabelo</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="hairColor" class="pull-right info" @click.prevent="changeStep(3)">{{ form.hairColor || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Tamanho do cabelo</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="hairLength" class="pull-right info" @click.prevent="changeStep(4)">{{ form.hairLength || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Tipo de Cabelo</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="hairType" class="pull-right info" @click.prevent="changeStep(5)">{{ form.hairType || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Química nos cabelos</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="hairUnnatural" class="pull-right info" @click.prevent="changeStep(6)">{{ form.hairUnnatural || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Cor dos Olhos</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="eyesColor" class="pull-right info" @click.prevent="changeStep(7)">{{ form.eyesColor || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Etnia</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="ethnicity" class="pull-right info" @click.prevent="changeStep(8)">{{ form.ethnicity || '--' }}</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15"
                id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="characteristics"
                data-next="/model/step5"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import mixinSteps from '~/mixins/steps'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      category: '',
      skinColor: '',
      hairColor: '',
      hairLength: '',
      hairType: '',
      hairUnnatural: '',
      eyesColor: '',
      ethnicity: ''
    },
    totalSteps: 9
  }),
  methods: {
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'characteristics', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  mounted () {
    setTimeout(() => {
      let { modelCharacteristics } = this.model.model
      if (modelCharacteristics) {
        this.form = Object.assign(this.form, modelCharacteristics)
      }
    }, 200)
  }
}
</script>
