<template>
  <div class="dropdown">
    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><nuxt-link :to="{ name: 'clients-store-id', params: { id: client.id } }"><span class="fa fa-edit"></span> Editar</nuxt-link></li>
      <li role="separator" class="divider"></li>
      <li v-if="client.enabled"><a href="javascript:void(0)" @click="changeStatus(client.id, 'disable')"><span class="fa fa-close"></span> Inativar</a></li>
      <li v-else><a href="javascript:void(0)" @click="changeStatus(client.id, 'enable')"><span class="fa fa-check"></span> Ativar</a></li>
    </ul>
  </div>
</template>

<script>
import mixinSwal from '~/mixins/swal'
import serviceClient from '~/services/clients'

export default {
  props: ['client'],
  mixins: [mixinSwal],
  methods: {
    changeStatus (id, status) {
      let trans = status === 'enable' ? 'ativar' : 'inativar'

      this.swalOptions('Tem certeza que deseja ' + trans + ' este cliente?').then(res => {
        if (res) {
          serviceClient.changeStatus(id, status).then(() => {
            this.$toasted.show('Situação alterada!')
            this.$store.dispatch('getClients')
          })
        }
      })
    }
  }
}
</script>

