<template>
  <div class="row">
    <div class="col-xs-7 col-sm-7 col-md-6">
      <h1>Informações Cadastrais</h1>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-6">
      <button type="button" name="button" class="btn pull-right mleft-15 btn-check save" @click="save">Salvar</button>
      <nuxt-link :to="{ name: 'clients' }" class="btn btn-green pull-right hidden-xs hidden-sm">Clientes</nuxt-link>
      <!-- <a href="clientes.html" class="btn btn-green pull-right hidden-xs hidden-sm">Clientes</a> -->
    </div>
  </div>
</template>

<script type="text/javascript">
  export default {
    props: ['title'],
    methods: {
      save () {
        this.$emit('save')
      }
    }
  }
</script>
