<template>
  <div class="card iso-item default" :key="'default'">
    <div class="card-block">
      <h5>Características</h5>
      <ul class="list-inline">
        <li><strong>Categoria de Modelo</strong><span>{{character.category}}</span></li>
        <li><strong>Cor de pele</strong><span>{{character.skinColor}}</span></li>
        <li><strong>Cor do cabelo</strong><span>{{character.hairColor}}</span></li>
        <li><strong>Tamanho do cabelo</strong><span>{{character.hairLength}}</span></li>
        <li><strong>Tipo de Cabelo</strong><span>{{character.hairType}}</span></li>
        <li><strong>Química nos cabelos</strong><span>{{character.hairUnnatural || '--'}}</span></li>
        <li><strong>Cor dos Olhos</strong><span>{{character.eyesColor}}</span></li>
        <li><strong>Etnia</strong><span>{{character.ethnicity}}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="#" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <character-modal v-if="open" :open="open" :data="character" @close="open=false"></character-modal>
  </div>
</template>

<script type="text/javascript">
  import CharacterModal from './modal.vue'
  export default {
    name: 'MmCharacter',
    props: ['fetch'],
    components: {
      CharacterModal
    },
    computed: {
      character () {
        return this.fetch.modelCharacteristics || {
          skinColor: '',
          hairColor: '',
          hairLength: '',
          hairType: '',
          eyesColor: '',
          ethnicity: ''
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
