<template>
  <modal v-model="openModal" title="Características" @hide="dismissCallback" ref="modal" id="modalEndereco" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="category">Categoria</label>
            <select class="form-control startform" name="category" id="category" v-model="form.category">
              <option value="Baby">Baby</option>
              <option value="Comercial">Comercial</option>
              <option value="Fashion">Fashion</option>
              <option value="Infantil">Infantil</option>
              <option value="Plus-Size">Plus Size</option>
              <option value="Publicitário">Publicitário</option>
              <option value="Teen">Teen</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="skinColor">Cor de Pele</label>
            <select class="form-control" name="skinColor" id="skinColor" v-model="form.skinColor">
              <option value="Branca">Branca</option>
              <option value="Amarela">Amarela</option>
              <option value="Morena">Morena</option>
              <option value="Morena Clara">Morena Clara</option>
              <option value="Mulata">Mulata</option>
              <option value="Negra">Negra</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hairColor">Cor do Cabelo</label>
            <select class="form-control" name="hairColor" id="hairColor" v-model="form.hairColor">
              <option value="Castanho">Castanho</option>
              <option value="Grisalho">Grisalho</option>
              <option value="Loiro">Loiro</option>
              <option value="Preto">Preto</option>
              <option value="Ruivo">Ruivo</option>
              <option value="Outro">Outro</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hairLength">Tamanho do Cabelo</label>
            <select class="form-control" name="hairLength" id="hairLength" v-model="form.hairLength">
              <option value="Careca">Careca</option>
              <option value="Curto">Curto</option>
              <option value="Longo">Longo</option>
              <option value="Médio">Médio</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hairType">Tipo de Cabelo</label>
            <select class="form-control" name="hairType" id="hairType" v-model="form.hairType">
              <option value="Encaracolado">Encaracolado</option>
              <option value="Crespo">Crespo</option>
              <option value="Liso">Liso</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hairUnnatural">Química no Cabelo</label>
            <input type="text" name="hairUnnatural" id="hairUnnatural" v-model="form.hairUnnatural" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="eyesColor">Cor dos Olhos</label>
            <select class="form-control" name="eyesColor" id="eyesColor" v-model="form.eyesColor">
              <option value="Castanho">Castanho</option>
              <option value="Azul">Azul</option>
              <option value="Verde">Verde</option>
              <option value="Preto">Preto</option>
              <option value="Mel">Mel</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ethnicity">Etnia</label>
            <select class="form-control" name="ethnicity" id="ethnicity" v-model="form.ethnicity">
              <option value="Ocidental">Ocidental</option>
              <option value="Oriental">Oriental</option>
              <option value="Mestiça">Mestiça</option>
              <option value="Indígena">Indígena</option>
              <option value="Mestiça Oriental">Mestiça Oriental</option>
              <option value="Outra">Outra</option>
            </select>
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
import modelService from '~/services/models.js'
import { mapState } from 'vuex'

export default {
  name: 'CharacterModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        skinColor: '',
        hairColor: '',
        hairLength: '',
        hairType: '',
        hairUnnatural: '',
        eyesColor: '',
        ethnicity: '',
        category: '',
        id: 0
      }
    }
  },
  data () {
    return {
      openModal: false,
      form: {}
    }
  },
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let modelId = this.modelSelected.id
          modelService.saveCharacteristics(modelId, this.form).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Características atualizada!' }).then(() => {
              this.$store.commit('FETCH_MODEL_CHARACTERS', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
  }
}
</script>
