<template>
  <form class="form" @submit.prevent="submit">
    <h1 class="forgot">Recuperar Senha</h1>
    <div :class="{'form-group': true, 'error': errors.has('username') }">
      <label for="username" id="username">E-mail</label>
      <input v-validate="'required|email'" type="text" :class="{'form-control': true, 'error': errors.has('username') }"
             id="username" name="username" v-model="username" placeholder="E-mail">
      <span v-show="errors.has('username')" class="help">{{ errors.first('username') }}</span>
    </div>
    <div class="clearfix">
    </div>
    <div class="row mtop30">
      <div class="col-xs-12 col-md-4">
        <button type="submit" class="btn" id="sending">Recuperar senha</button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  layout: 'login',
  data () {
    return {
      username: ''
    }
  },
  methods: {
    submit () {
      const { username } = this
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.$axios.put(`auth/${username}/reset`).then(() => {
            this.$swal(
              'Recuperar senha',
              `Um e-mail com sua senha foi enviado para ${username}.`,
              'success'
            ).then(() => this.$router.push({ name: 'auth.signin' }))
          })
          return false
        }
        this.$swal('Error', 'Preencha os campos do formulário corretamente!', 'error')
      })
    }
  },
  head () {
    return {
      title: 'Lembrar senha',
      bodyAttrs: {
        class: 'login'
      }
    }
  }
}
</script>

<style type="text/css" scoped>
  .form h1 {
    width: auto;
    max-width: 285px;
  }
</style>
