<template>
  <form method="POST" class="form" @submit.prevent="submit">
    <h1>Login</h1>
    <div :class="{'form-group': true, 'error': errors.has('email') }">
      <label for="email">E-mail</label>
      <input v-validate="'required|email'" type="text" :class="{'form-control': true, 'error': errors.has('email') }"
            id="email" name="email" v-model="email" placeholder="E-mail">
      <span v-show="errors.has('email')" class="help">{{ errors.first('email') }}</span>
    </div>
    <div :class="{'form-group': true, 'error': errors.has('password') }">
      <label for="password">Senha</label>
      <input v-validate="'required'" type="password" :class="{'form-control': true, 'error': errors.has('password') }"
             id="password" name="password" v-model="password" placeholder="Senha" v-focus="focused" @focus="focused = true" @blur="focused = false">
      <span v-show="errors.has('password')" class="help">{{ errors.first('password') }}</span>
    </div>
    <p class="error hidden" id="error-msg">Usuario e/ou senha inválidos.</p>
    <div class="checkbox pull-left">
      <label>
        <input type="checkbox" class="system-default">
        Lembrar-me
      </label>
    </div>
    <div class="pull-right">
      <nuxt-link :to="{ name: 'login-forgot' }">Esqueceu sua senha?</nuxt-link>
    </div>
    <div class="clearfix">
    </div>
    <div class="row mtop30">
      <div class="col-xs-12 col-md-4">
        <button type="submit" class="btn" id="entrar">Entrar</button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  layout: 'login',
  data () {
    return {
      email: '',
      password: '',
      focused: false
    }
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          // eslint-disable-next-line
          const { email, password } = this // http://wesbos.com/destructuring-objects/
          // ... code ...
          this.$auth.loginWith('local', {
            data: { email, password }
          }).then(() => {
            this.$router.push({ name: 'dashboard' })
          }, () => {
            this.$swal('Login', 'Usuário ou senha incorreto!', 'error').then(() => {
              this.password = ''
              this.focused = true
            })
          })

          return false
        }
        window.swal('Error', 'Preencha os campos do formulário corretamente!', 'error')
      })
    }
  },
  head () {
    return {
      title: 'Login',
      bodyAttrs: {
        class: 'login'
      }
    }
  }
}
</script>
