<template>
  <form method="POST" class="form" @submit.prevent="submit">
    <h1>Cadastro</h1>
    <div :class="{'form-group': true, 'error': errors.has('companyName') }">
      <label for="companyName">Nome da Empresa</label>
      <input v-validate="'required'" type="text" :class="{'form-control': true, 'error': errors.has('companyName') }"
             id="companyName" name="companyName" v-model="companyName" placeholder="Nome da Empresa">
      <span v-show="errors.has('companyName')" class="help">{{ errors.first('companyName') }}</span>
    </div>
    <div :class="{'form-group': true, 'error': errors.has('email') }">
      <label for="email">E-mail</label>
      <input v-validate="'required|email'" type="text" :class="{'form-control': true, 'error': errors.has('email') }"
             id="email" name="email" v-model="email" placeholder="E-mail">
      <span v-show="errors.has('email')" class="help">{{ errors.first('email') }}</span>
    </div>
    <div :class="{'form-group': true, 'error': errors.has('password') }">
      <label for="password">Senha</label>
      <input v-validate="'required'" type="password" :class="{'form-control': true, 'error': errors.has('password') }"
             id="password" name="password" v-model="password" placeholder="Senha" v-focus="focused" @focus="focused = true" @blur="focused = false">
      <span v-show="errors.has('password')" class="help">{{ errors.first('password') }}</span>
    </div>
    <p class="error hidden" id="error-msg">Usuario e/ou senha inválidos.</p>
    <div class="clearfix">
    </div>
    <div class="row mtop30">
      <div class="col-xs-12 col-md-4">
        <button type="submit" class="btn" id="entrar">Entrar</button>
      </div>
    </div>
  </form>
</template>

<script>
export default {
  layout: 'login',
  data () {
    return {
      companyName: '',
      email: '',
      password: '',
      focused: false
    }
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          // eslint-disable-next-line
          const { companyName, email, password } = this // http://wesbos.com/destructuring-objects/
          // ... code ...
          this.$axios.post('api/v1/agencies', { companyName, email, password }).then(data => {
            this.login()
          })

          return false
        }
        window.swal('Error', 'Preencha os campos do formulário corretamente!', 'error')
      })
    },
    login () {
      const { email, password } = this
      this.$auth.loginWith('local', {
        data: { email, password }
      }).then(() => {
        this.$router.push({ name: 'dashboard' })
      })
    }
  },
  head () {
    return {
      title: 'Cadastro',
      bodyAttrs: {
        class: 'login'
      }
    }
  }
}
</script>
