<template>
  <div id="list">
    <nuxt-link :to="{ name: 'models' }" class="btn btn-green pull-right mtop10 hidden-xs hidden-sm">Modelos</nuxt-link>
    <div class="filter-group">
      <button type="button" name="button" @click="filter('show all')" class="filter btn btn-secondary">Todos</button>
      <button type="button" name="button" @click="filter('success')" class="filter btn btn-green">Dados</button>
      <button type="button" name="button" @click="filter('default')" class="filter btn btn-orange">Modelo</button>
      <button type="button" name="button" @click="filter('primary')" class="filter btn btn-blue">Informações</button>
    </div>
    <div class="clearfix"></div>
    <isotope ref="box"
      id="box"
      :item-selector="'iso-item'"
      :list="list"
      :options='option'
      class="isotope">
      <component
          v-for="element in list"
          :fetch="model"
          :class='["card", element.category]'
          :key="element.id"
          :is="element.name"></component>
    </isotope>
  </div>
</template>

<script type="text/javascript">
  import { MmPhoto, MmData, MmAddress, MmCharacter, MmMeasures,
    MmEducation, MmExperience, MmBank, MmComposite, MmRepresentative } from '~/components/models'
  import { mapState } from 'vuex'
  import resetModel from '~/store/modules/models/model'

  export default {
    name: 'ModelStore',
    middleware: 'auth',
    components: {
      MmPhoto,
      MmData,
      MmAddress,
      MmRepresentative,
      MmCharacter,
      MmMeasures,
      MmEducation,
      MmExperience,
      MmBank,
      MmComposite
    },
    computed: {
      isEdit () {
        return !(typeof this.$route.params.id === 'undefined')
      },
      ...mapState({
        'model': state => state.models.modelSelected
      })
    },
    data () {
      return {
        list: [
          { id: 0, category: 'success', name: 'mm-photo' },
          { id: 1, category: 'success', name: 'mm-data' },
          { id: 2, category: 'success', name: 'mm-address' },
          { id: 3, category: 'success', name: 'mm-representative' },
          { id: 4, category: 'default', name: 'mm-character' },
          { id: 5, category: 'default', name: 'mm-measures' },
          { id: 6, category: 'primary', name: 'mm-education' },
          { id: 7, category: 'primary', name: 'mm-experience' },
          { id: 8, category: 'primary', name: 'mm-bank' },
          { id: 9, category: 'default', name: 'mm-composite' }
        ],
        option: {
          itemSelector: '.element-item',
          getFilterData: {
            'show all': function () {
              return true
            },
            success: function (el) {
              return el.category === 'success'
            },
            default: function (el) {
              return el.category === 'default'
            },
            primary: function (el) {
              return el.category === 'primary'
            }
          }
        }
      }
    },
    methods: {
      filter (key) {
        this.$refs.box.filter(key)
      }
    },
    created () {
      if (!this.isEdit) {
        this.$store.commit('FETCH_MODEL_SELECT', resetModel)
      }

      if (this.$route.params.id) {
        this.$store.dispatch('getModel', { id: this.$route.params.id })
      }
    },
    mounted () {
      setTimeout(() => {
        this.$refs.box.unfilter()
      }, 200)
    },
    head () {
      return {
        title: 'Modelos',
        bodyAttrs: {
          class: 'models'
        }
      }
    }
  }
</script>

<style rel='stylesheet/css' src="~/assets/css/scss/cad-modelo.scss" lang="scss"></style>
