<template>
  <modal v-model="openCalendar" @hide="dismissCallback" 
        size="lg" ref="modal" id="modalAgenda">
    <div slot="header" :class="{ 'modal-header flex align-center event-orange': true }">
        <img src="~assets/img/portrait.jpg" alt="Imagem" class="profile-img" style="height: 60px" data-toggle="tooltip" data-placement="top" title="" data-original-title="João da Silva">
        <h2 class="modal-title mleft-15">João da Silva</h2>
    </div>
    <div slot="default">
      <full-calendar :events="fcEvents" :config="configs" ref="calendar"></full-calendar>
    </div>
    <div slot="footer">
      <button type="button" class="btn" @click="dismissCallback">Fechar</button>
    </div>
  </modal>
</template>

<script type="text/javascript">
  var isMobile = require('ismobilejs')
  export default {
    name: 'Calendar',
    props: {
      modelId: {
        type: Number,
        'default': false
      },
      open: {
        type: Boolean,
        'default': false
      }
    },
    data: () => ({
      openCalendar: false,
      fcEvents: [
        {
          title: 'Campanha Natal',
          start: '2018-01-16T12:30:00',
          allDay: false,
          className: 'event-orange',
          job: 'Campanha Natal',
          client: 'Agência XPTO',
          description: 'Realização do trabalho. Endereço: xyz',
          casting: 'Casting Exemplo 1',
          type: 'trabalho'
        },
        {
          title: 'Revista Vogue',
          start: '2018-01-17T15:30:00',
          allDay: false,
          className: 'event-orange',
          job: 'Campanha Natal',
          client: 'Agência XPTO',
          description: 'Realização do trabalho. Endereço: xyz',
          casting: 'Casting Exemplo 1',
          type: 'trabalho'
        },
        {
          title: 'Teste Outdoor',
          start: '2018-01-14T15:30:00',
          allDay: false,
          className: 'event-orange',
          job: 'Campanha Natal',
          client: 'Agência XPTO',
          description: 'Realização do trabalho. Endereço: xyz',
          casting: 'Casting Exemplo 1',
          type: 'trabalho'
        }
      ],
      configs: {
        // locale: 'pt-br',
        // changeView: 'agendaWeek',
        // handleWindowResize: true,
        // header: { left: 'title', center: '', right: 'today prev,next' }
        header: { left: 'title', center: '', right: 'today prev,next' },
        height: 'parent',
        defaultView: 'agendaWeek',
        duration: { days: 'visibleRange' },
        defaultTimedEventDuration: '01:00:00',
        handleWindowResize: true,
        eventStartEditable: true,
        eventClick: function (calEvent, jsEvent, view) {
          $('#titulo').text(calEvent.title)
          $('#header').attr('class', 'modal-header ' + calEvent.className.toString())
          var start = new Date(calEvent.start)
          $('#data').val(start.customFormat('#YYYY#-#MM#-#DD#'))
          $('#job').val(calEvent.job)
          $('#cliente').val(calEvent.client)
          $('#descricao').text(calEvent.description)
          $('#casting').val(calEvent.casting)
          $('#type').val(calEvent.type)
          $('#modalEvento').modal('show')
          return false
        }
      }
    }),
    methods: {
      eventClick (event, jsEvent, pos) {
        console.log('eventClick', event, jsEvent, pos)
      },
      dismissCallback () {
        this.close()
      },
      close () {
        this.openCalendar = false
        setTimeout(() => {
          this.$emit('close')
        }, 100)
      }
    },
    mounted () {
      this.openCalendar = this.open

      if (isMobile.any) {
        // this.$refs.calendar.fireMethod('option', 'header', { center: 'today prev,next', right: '' })
        this.$refs.calendar.fireMethod('changeView', 'listMonth')
      } else {
        this.$refs.calendar.fireMethod('changeView', 'agendaWeek')
      }
      setTimeout(() => {
        this.$refs.calendar.$emit('reload-events')
      }, 300)
    }
  }
</script>