<template>
  <div>
    <div class="card-block">
      <h5>Endereço </h5>
<!--       <div v-if="!address.id">
        <div class="card text-center">
          <div class="card-block">
            <h4 class="card-title">Dados de endereço</h4>
            <a href="javascript:void(0)" @click="open=true"><span class="fa fa-plus"></span> Preencher</a>
          </div>
        </div>
      </div> -->
      <ul class="list-inline">
        <li><strong>CEP</strong><span>{{ address.zipCode }}</span></li>
        <li><strong>Rua</strong><span>{{ address.street }}</span></li>
        <li><strong>Número</strong><span>{{ address.number }}</span></li>
        <li v-show="address.additionalInfo"><strong>Complemento</strong><span>{{ address.additionalInfo }}</span></li>
        <li><strong>Bairro</strong><span>{{ address.cityBlock }}</span></li>
        <li><strong>Estado</strong><span>{{ address.state }}</span></li>
        <li><strong>Cidade</strong><span>{{ address.city }}</span></li>
        <!-- <li><strong>Telefone</strong><span>{{ address.phone }}</span></li> -->
        <!-- <li><strong>Celular</strong><span>{{ address.celphone }}</span></li> -->
      </ul>
    </div>
    <div class="card-block menu">
      <a href="javascript:void(0)" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <address-modal v-if="open" :open="open" :data="address" @close="open=false"></address-modal>
  </div>
</template>

<script>
  import AddressModal from './modal.vue'
  export default {
    name: 'MmAddress',
    props: ['fetch'],
    components: {
      AddressModal
    },
    computed: {
      address () {
        return this.fetch.modelAddress || {
          street: '',
          additionalInfo: '',
          number: '',
          cityBlock: '',
          city: '',
          zipCode: '',
          state: '',
          country: 'Brasil'
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
