<template>
  <modal v-model="openModal" title="Endereço" @hide="dismissCallback" ref="modal" id="modalEndereco" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="">CEP</label>
            <div class="input-group">
            <input type="text" name="zipCode" v-model="form.zipCode"
                   @keyup.enter="searchAddress" v-mask="'99999-999'" class="form-control">
                   <div class="input-group-addon" style="cursor: pointer" title="Clique para pesquisar endereço" @click="searchAddress">
                     <i class="fa fa-search"></i>
                   </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label for="street">Rua</label>
            <input type="text" name="street" v-model="form.street" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="">Número</label>
            <input type="text" name="number" v-model="form.number" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="additionalInfo">Complemento</label>
            <input type="text" name="additionalInfo" v-model="form.additionalInfo" class="form-control">
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="cityBlock">Bairro</label>
            <input type="text" name="cityBlock" v-model="form.cityBlock" class="form-control">
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label for="">Estado</label>
            <select class="form-control" name="state" v-model="form.state">
              <option v-for="state in states" :value="state.code">{{state.code}}</option>
            </select>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="">Cidade</label>
            <input type="text" name="city" v-model="form.city" class="form-control">
          </div>
        </div>
<!--         <div class="col-md-4">
          <div class="form-group">
            <label for="">Telefone</label>
            <input type="text" name="phone" v-model="form.phone" v-mask="'(99)99999-9999'" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="">Celular</label>
            <input type="text" name="celphone" v-model="form.celphone" v-mask="'(99)99999-9999'" class="form-control">
          </div>
        </div> -->
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
import modelService from '~/services/models.js'
import states from '~/static/states.json'
import { get as axiosGet } from 'axios'
import { mapState } from 'vuex'

export default {
  name: 'AddressModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        street: '',
        additionalInfo: '',
        number: '',
        cityBlock: '',
        city: '',
        zipCode: '',
        state: '',
        country: 'Brasil',
        id: 0
      }
    }
  },
  data: () => ({
    openModal: false,
    form: {},
    states: []
  }),
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let modelId = this.modelSelected.id

          modelService.saveAddress(modelId, this.form).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Endereço atualizado!' }).then(() => {
              this.$store.commit('FETCH_MODEL_ADDRESS', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    },
    searchAddress () {
      let zipCode = this.form.zipCode
      if (zipCode.length === 9) {
        axiosGet('https://viacep.com.br/ws/' + zipCode.replace('-', '') + '/json/').then(data => {
          let result = data.data
          if (result.error === true) {
            return false
          } else {
            this.form.street = result.logradouro
            this.form.additionalInfo = result.complemento
            this.form.cityBlock = result.bairro
            this.form.state = result.uf
            this.form.city = result.localidade
            $('[name="number"]').focus()
            // this.searchOk = true
          }
        })
      }
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
    this.states = states
  }
}
</script>
