<template>
  <div class="card iso-item success" :key="'success'" style="margin-bottom: 5px">
    <div class="card-block">
      <h5>Dados</h5>
      <ul class="list-inline">
        <li><strong>Nome completo</strong><span>{{ data.fullName }}</span></li>
        <li><strong>Nome artístico</strong><span>{{ data.artisticName }}</span></li>
        <li><strong>E-mail</strong><span>{{ data.email }}</span></li>
        <li><strong>Sexo</strong><span>{{ data.gender | genderTrans }}</span></li>
        <li><strong>Data de Nascimento</strong><span>{{ data.birthDate | moment("DD/MM/YYYY") }}</span></li>
        <li><strong>RG</strong><span>{{ data.rg }}</span></li>
        <li><strong>CPF</strong><span>{{ data.cpf }}</span></li>
        <li><strong>Possui passaporte</strong><span>{{ data.hasPassport | yesOrNo }}</span></li>
        <li v-show="data.hasPassport"><strong>Nº Passaporte</strong><span>{{ data.passaportNumber }}</span></li>
        <li><strong>Facebook</strong><span>{{ data.facebook }}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="#" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <data-modal v-if="open" :data="data" :open="open" @close="open=false"></data-modal>
  </div>
</template>

<script>
  /* eslint-disable camelcase */
  import DataModal from './modal.vue'
  export default {
    name: 'MmData',
    props: ['fetch'],
    components: {
      DataModal
    },
    computed: {
      data () {
        let { id, fullName, artisticName, email, cpf, status, gender, rg, hasPassport, passaportNumber, facebook, birthDate, token, open } = this.fetch
        return { id, fullName, artisticName, email, cpf, status, gender, rg, hasPassport, passaportNumber, facebook, birthDate, token, open } || {
          fullName: '',
          artisticName: '',
          email: '',
          cpf: '',
          status: '',
          gender: '',
          rg: '',
          hasPassport: false,
          passaportNumber: '',
          facebook: '',
          birthDate: '',
          open: false,
          token: ''
        }
      },
      isEdit () {
        return typeof this.$route.params.id !== 'undefined'
      }
    },
    data () {
      return {
        open: false
      }
    },
    mounted () {
      if (this.isEdit === false) {
        this.open = true
      }
    }
  }
</script>
