<template>
  <modal v-model="openModal"
         title="Dados"
         @hide="dismissCallback"
         ref="modal" id="modalDados" size="lg"
         :dismiss-btn="false"
         :backdrop="isEdit">
    <div slot="header">
      <button type="button" aria-label="Close" class="close" @click="openModal=false" v-show="isEdit">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Dados</h4>
    </div>
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-8">
          <div :class="{'form-group': true, 'has-error': errors.has('fullName') }">
            <label class="control-label" for="fullName">Nome Completo</label>
            <input type="text" name="fullName" value="fullName" v-model="form.fullName" class="form-control" v-validate="'required'">
            <span v-show="errors.has('fullName')" class="help-block">{{ errors.first('fullName') }}</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="artisticName">Nome Artístico</label>
            <input type="text" name="artisticName" value="artisticName" v-model="form.artisticName" class="form-control">
          </div>
        </div>
        <div class="col-md-8">
          <div :class="{'form-group': true, 'has-error': errors.has('email') }">
            <label for="email">E-mail</label>
            <input type="text" name="email" value="email" v-model="form.email" class="form-control" v-validate="'required|email'">
            <span v-show="errors.has('email')" class="help-block">{{ errors.first('email') }}</span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="gender">Sexo</label>
            <select class="form-control" name="gender" value="gender" v-model="form.gender">
              <option value="MALE">Masculino</option>
              <option value="FEMALE">Feminino</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="birthDate">Data Nascimento</label>
            <input type="text" name="birthDate" value="birthDate" v-model="form.birthDate" v-mask="'99/99/9999'" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div :class="{'form-group': true, 'has-error': errors.has('rg') }">
            <label for="rg">RG</label>
            <input type="text" name="rg" value="rg" v-model="form.rg" class="form-control" maxlength="14" v-validate="'required'">
            <span v-show="errors.has('rg')" class="help-block">{{ errors.first('rg') }}</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="">CPF</label>
            <input type="text" name="cpf" value="cpf" v-model="form.cpf" v-mask="'999.999.999-99'" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hasPassport">Possui passaporte</label>
            <select class="form-control" name="hasPassport" value="hasPassport" v-model="form.hasPassport">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4" v-if="form.hasPassport">
          <div class="form-group">
            <label for="passaportNumber">Número passaporte</label>
            <input type="text" class="form-control" name="passaportNumber" value="passaportNumber" v-model="form.passaportNumber">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="facebook">Facebook</label>
            <input type="text" class="form-control" name="facebook" value="facebook" v-model="form.facebook">
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false" v-show="isEdit">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
/* eslint-disable camelcase */
import serviceModel from '~/services/models.js'
import { mapState } from 'vuex'
export default {
  name: 'DataModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        fullName: '',
        artisticName: '',
        email: '',
        cpf: '',
        gender: '',
        rg: '',
        hasPassport: false,
        passaportNumber: '',
        facebook: '',
        birthDate: '',
        open: false,
        token: '',
        id: ''
      }
    }
  },
  data () {
    return {
      openModal: false,
      form: {
        fullName: '',
        artisticName: '',
        email: '',
        cpf: '',
        gender: '',
        rg: '',
        hasPassport: false,
        passaportNumber: '',
        facebook: '',
        birthDate: '',
        open: false,
        token: '',
        id: ''
      }
    }
  },
  computed: {
    isEdit () {
      return this.$store.state.models.modelSelected.id !== 0
    },
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  watch: {
    'form.birthDate' (val) {
      let dateReg = /^\d{4}([./-])\d{2}\1\d{2}$/
      if (val.match(dateReg)) {
        this.form.birthDate = this.$options.filters.birthDateFormat(val)
      }
    }
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let { fullName, artisticName, email, cpf, gender, rg, hasPassport, passaportNumber, facebook, birthDate } = this.form
          if (this.isEdit) {
            this.update({ fullName, artisticName, email, cpf, gender, rg, hasPassport, passaportNumber, facebook, birthDate })
            return
          }
          this.create({ fullName, artisticName, email, cpf, gender, rg, hasPassport, passaportNumber, facebook, birthDate })
        }
      })
    },
    create (params) {
      serviceModel.create(params).then((data) => {
        this.openModal = false
        this.$swal({ title: 'Dados pessoais atualizado!' }).then(() => {
          this.$store.commit('FETCH_MODEL_SELECT', data)
          this.$store.dispatch('getWidgetTotals')
        })
      })
    },
    update (params) {
      let id = this.modelSelected.id

      serviceModel.update(id, params).then((data) => {
        this.openModal = false
        this.$swal({ title: 'Dados pessoais atualizado!' }).then(() => {
          this.$store.commit('FETCH_MODEL_SELECT', data)
        })
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
  }
}
</script>
