<template>
  <section class="mini-dashboard hidden-xs hidden-sm">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-2">
          <div class="user">
            <div class="row">
              <div class="col-md-4">
                <img src="~assets/img/portrait.jpg" alt="Roberto Faria" class="profile-img">
              </div>
              <div class="col-md-8">
                <router-link :to="{ name: 'users-store-id', params: { id: user.id } }"
                  style="color: #333 !important;">
                  {{user.name}}
                  <span class="fa fa-pencil hidden"></span>
                </router-link>
                <small>booker</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1 arrow-date">
          <span class="fa fa-chevron-right"></span>
          <p>{{ dateNow | moment('DD/MM') }}</p>
        </div>
        <div class="col-sm-6 col-md-7 agenda">
          <h3><span class="fa fa-clock-o"></span></h3>
          <ul class="list-inline">
            <li v-for="(event, k) in eventsToday"
                :key="k"
                :tabindex="k"
                data-toggle="popover"
                data-trigger="focus"
                data-placement="bottom"
                v-popover.bottom="{content: event.type + ': ' + event.title + ' - ' + event.client}">
              {{event.hour}}
            </li>
            <!--<li tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom"-->
            <!--data-content="Casting: Jorge Mateus - Agencia Portal" class="large">11h - 13h</li>-->
            <!--<li tabindex="0" data-toggle="popover" data-trigger="focus" data-placement="bottom"-->
            <!--data-content="Ensaio: Bruno Reis - Revista Vogue" class="blue">16h - 17h</li>-->
          </ul>
        </div>
        <div class="col-sm-3 col-md-2 tools">
          <ul class="list-inline">
            <li>
              <p>Trabalhos</p>
              <b>{{widgetTotals.jobsTotal}}</b>
            </li>
            <li>
              <p>Agenda</p>
              <b>{{widgetTotals.eventsTotal}}</b>
            </li>
            <li>
              <p>Modelos</p>
              <b>{{widgetTotals.modelsTotal}}</b>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</template>

<script type="text/javascript">
  import { mapGetters } from 'vuex'
  export default {
    name: 'MiniDashboard',
    data: () => ({
      dateNow: new Date()
    }),
    computed: {
      ...mapGetters(['eventsToday', 'widgetTotals']),
      user () {
        return Object.assign({}, {id: 0, name: ''}, this.$auth.user)
      }
    },
    created () {
      this.$store.dispatch('getEventsToday')
      this.$store.dispatch('getWidgetTotals')
    }
  }
</script>
