<template>
  <header class="header">
    <div class="container-fluid">
      <nuxt-link :to="{ name: 'dashboard' }" class="hidden-xs hidden-sm">
        <div class="logo">
          Logo
        </div>
      </nuxt-link>
      <a href="javascript:void(0)" @click="back"
                 class="return-mobile visible-xs visible-sm"
                 v-if="notIsDashboard">
        <span class="fa fa-chevron-left"></span>
      </a>
    <span>s</span>

    <div class="options">
      <div class="pesquisar">
        <input type="text" name="" value="" placeholder="Pesquisar">
        <button class="options-btn"><span class="fa fa-search"></span></button>
      </div>
      <div class="dropdown hidden-sm hidden-xs">
        <button class="options-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span class="fa fa-gear"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
          <li><nuxt-link :to="{ name: 'users' }">Usuários</nuxt-link></li>
          <li><nuxt-link :to="{ name: 'agency' }">Empresa</nuxt-link></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Sistema</a></li>
        </ul>
      </div>
      <button href="#" class="options-btn hidden-sm hidden-xs"><span class="fa fa-comment"></span></button>
      <button type="button" class="options-btn hidden-sm hidden-xs" @click="logout"><span class="fa fa-sign-out"></span></button>
      <button id="mobile-nav" class="options-btn visible-sm visible-xs pull-right"><span class="fa fa-bars"></span></button>
    </div>
    </div>
  </header>
</template>

<script type="text/javascript">
  export default {
    name: 'MmHeader',
    computed: {
      notIsDashboard () {
        return (this.$route.name !== 'dashboard')
      }
    },
    methods: {
      logout () {
        this.$store.dispatch('auth/invalidate')
        this.$router.push({ name: 'login' })
      },
      back () {
        this.$router.go(-1)
      }
    },
    mounted () {
      $('#mobile-nav').click(function () {
        $('.navigation').toggleClass('mobile-nav-active')
      })

      $(document).mouseup(function (e) {
        var container = $('.navigation')
        var button = $('#mobile-nav')
        // if the target of the click isn't the container nor a descendant of the container
        if (!container.is(e.target) && container.has(e.target).length === 0 && !button.is(e.target) && button.has(e.target).length === 0) {
          $('.navigation').removeClass('mobile-nav-active')
        }
      })
    }
  }
</script>
