<template>
  <nav class="navigation" >
    <div class="row menu">
      <div class="col-xs-4 col-sm-4">
        <div class="dropdown visible-sm visible-xs">
          <button class="options-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span class="fa fa-gear"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><nuxt-link :to="{ name: 'users' }">Usuários</nuxt-link></li>
            <li><nuxt-link :to="{ name: 'agency' }">Empresa</nuxt-link></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Sistema</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4">
        <button href="#" class="options-btn visible-sm visible-xs"><span class="fa fa-comment"></span></button>
      </div>
      <div class="col-xs-4 col-sm-4">
        <button type="button" class="options-btn visible-sm visible-xs" @click="logout"><span class="fa fa-sign-out"></span></button>
      </div>
    </div>
    <ul class="list-unstyled nav-items">
      <li>
        <nuxt-link :to="{ name: 'dashboard' }">
          <div class="row">
            <div class="col-md-3">
              <span class="fa fa-tasks"></span>
            </div>
            <div class="col-md-9">
              <small>Dashboard</small>
            </div>
          </div>
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="{ name: 'schedule' }">
          <div class="row">
            <div class="col-md-3">
              <span class="fa fa-calendar"></span>
            </div>
            <div class="col-md-9">
              <small>Agenda</small>
            </div>
          </div>
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="{ name: 'jobs' }">
          <div class="row">
            <div class="col-md-3">
              <span class="fa fa-camera"></span>
            </div>
            <div class="col-md-9">
              <small>Trabalhos</small>
            </div>
          </div>
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="{ name: 'castings' }">
          <div class="row">
            <div class="col-md-3">
              <span class="fa fa-inbox"></span>
            </div>
            <div class="col-md-9">
              <small>Casting</small>
            </div>
          </div>
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="{ name: 'models' }">
          <div class="row">
            <div class="col-md-3">
              <span class="fa fa-male"></span>
            </div>
            <div class="col-md-9">
              <small>Modelos</small>
            </div>
          </div>
        </nuxt-link>
      </li>
      <li>
        <nuxt-link :to="{ name: 'clients' }">
          <div class="row">
            <div class="col-md-3">
              <span class="fa fa-users"></span>
            </div>
            <div class="col-md-9">
              <small>Clientes</small>
            </div>
          </div>
        </nuxt-link>
      </li>
      <li>
        <div class="row">
          <div class="col-md-3">
            <span class="fa fa-bar-chart"></span>
          </div>
          <div class="col-md-9">
            <small>Relatórios</small>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</template>

<script type="text/javascript">
  export default {
    name: 'Navigation',
    methods: {
      logout () {
        this.$store.dispatch('auth/logout')
      }
    },
    watch: {
      '$route' (to, from) {
        $('.navigation').removeClass('mobile-nav-active')
      }
    }
  }
</script>
