<template>
  <div class="hidden-xs col-md-6 banner left green">
    <div class="paginator">
      <div class="wrapper">
        <span class="fa fa-chevron-up arrow-up" @click="stepUp"></span>
        <ul class="list-unstyled">
          <li><a href="javascript:void(0)" @click.prevent="changePage(1)" :class="{ 'active': $route.name === 'model-step1' }"><span :class="{'fa fa-info-circle': true, 'step-done': (step >= 1)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(2)" :class="{ 'active': $route.name === 'model-step2' }"><span :class="{'fa fa-address-card-o': true, 'step-done': (step >= 2)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(3)" :class="{ 'active': $route.name === 'model-step3' }" v-show="!hasOfAge"><span :class="{'fa fa-user': true, 'step-done': (step >= 3)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(4)" :class="{ 'active': $route.name === 'model-step4' }"><span :class="{'fa fa-eye': true, 'step-done': (step >= 4)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(5)" :class="{ 'active': $route.name === 'model-step5' }"><span :class="{'fa fa-arrows-v': true, 'step-done': (step >= 5)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(6)" :class="{ 'active': $route.name === 'model-step6' }"><span :class="{'fa fa-graduation-cap': true, 'step-done': (step >= 6)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(7)" :class="{ 'active': $route.name === 'model-step7' }"><span :class="{'fa fa-industry': true, 'step-done': (step >= 7)}"></span></a></li>
          <li><a href="javascript:void(0)" @click.prevent="changePage(8)" :class="{ 'active': $route.name === 'model-step8' }"><span :class="{'fa fa-money': true, 'step-done': (step >= 8)}"></span></a></li>
        </ul>
        <span class="fa fa-chevron-down arrow-down" @click="stepDown"></span>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  import { mapGetters } from 'vuex'
  export default {
    computed: mapGetters(['completedStep', 'hasOfAge', 'step']),
    methods: {
      stepUp () {
        if (this.step > 1 && this.step <= 8) {
          let step = this.step - 1
          this.$store.commit('SET_STEP', step)
          this.$router.push({ name: 'model-step' + step })
        }
      },
      stepDown () {
        if (this.step >= 1 && this.step < 8) {
          let step = this.step + 1
          this.$store.commit('SET_STEP', step)
          this.$router.push({ name: 'model-step' + step })
        }
      },
      changePage (step = 1) {
        this.$router.push({ name: 'model-step' + step })
      }
    }
  }
</script>
