<template>
  <div>
    <div class="dropdown">
      <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="fa fa-bars"></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">

        <li><nuxt-link :to="{ name: 'castings-store-id', params: { id: casting.id } }"><span class="fa fa-edit"></span> Editar</nuxt-link></li>

        <li><a href="javascript:void(0)" @click="duplicate()"><span class="fa fa-copy"></span> Duplicar</a></li>
        <li v-if="!hasJob"><a href="javascript:void(0)" @click.prevent="createJob"><span class="fa fa-camera"></span> Criar Trabalho</a></li>
        <li v-if="hasJob"><a href="javascript:void(0)" @click="openModalSchedule(casting)"><span class="fa fa-calendar"></span> Agenda de Eventos</a></li>

        <li role="separator" class="divider"></li>
        <li><a href="javascript:void(0)" @click="destroy(casting.id)"><span class="fa fa-close"></span> Excluir</a></li>
      </ul>
    </div>
    <modal-schedule v-if="openSchedule" :open="openSchedule" @open-event="formEvent" @close="openSchedule=false"></modal-schedule>
    <modal-event v-if="openEvent" :open="openEvent" @close="eventClose" :event-id="eventId" :clear="true"></modal-event>
  </div>
</template>

<script type="text/javascript">
  import { ModalSchedule, ModalEvent } from '~/components/castings/modals'

  export default {
    name: 'Actions',
    props: ['casting'],
    components: {
      ModalSchedule,
      ModalEvent
    },
    data: () => ({
      openSchedule: false,
      openEvent: false,
      eventId: null
    }),
    computed: {
      hasJob () {
        return this.casting.job.id !== ''
      }
    },
    methods: {
      createJob () {
        let { id } = this.casting
        this.$store.dispatch('getCasting', { id })
        this.$router.push({ name: 'jobs-store-id' })
      },
      eventClose () {
        this.openEvent = false
        this.$store.dispatch('getCastings', { description: '', client: '', status: '' })
      },
      duplicate () {
        let vm = this
        this.$nuxt.$loading.start()
        this.$store.dispatch('duplicateCasting', this.casting)
        setTimeout(function () {
          vm.$router.push({ name: 'castings-store-id', params: { id: 'duplicate' } })
          this.$nuxt.$loading.finish()
        }, 500)
      },
      destroy (id) {
        this.$swal({
          title: 'Deseja excluir?',
          text: 'Depois não será possível reverter.',
          icon: 'warning',
          buttons: {
            cancel: {
              text: 'Cancelar',
              value: null,
              visible: true,
              closeModal: true
            },
            confirm: {
              text: 'Apagar',
              value: true,
              visible: true,
              closeModal: true
            }
          },
          dangerMode: true
        }).then((willDelete) => {
          if (willDelete) {
            this.$store.dispatch('casting/destroy', { id: id })
            this.$swal('Casting excluído com sucesso!', {
              icon: 'success'
            })
          }
        })
      },
      openModalSchedule (casting) {
        this.openSchedule = true
        this.$store.commit('FETCH_CASTING_SELECT', casting)
      },
      formEvent (id) {
        if (id !== '') {
          this.eventId = id
        } else {
          this.eventId = null
        }
        this.openEvent = true
      }
    }
  }
</script>
