<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Agora vamos registrar as informações de seu endereço.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)" id="zipCode">
            <label for="zipCode" :class="{ 'error': errors.has('zipCode') }">Qual o CEP de sua casa?</label>
            <input type="text" class="form-control startform" name="zipCode"
                   v-model="form.zipCode" @keyup="searchAddress" v-mask="'99999-999'"
                   v-validate="'required'" autocomplete="off" v-focus="step===1">
            <span v-show="errors.has('zipCode')" class="help error">{{ errors.first('zipCode') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="street">
            <label for="street" :class="{ 'error': errors.has('street') }">Confira se essa é sua rua. Se não, por favor insira o nome correto.</label>
            <input type="text" class="form-control" name="street" v-model="form.street" v-focus="step===2" v-validate="'required'">
            <span v-show="errors.has('street')" class="help error">{{ errors.first('street') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)" id="number">
            <label for="number" :class="{ 'error': errors.has('number') }">Qual o número de sua casa?</label>
            <input type="text" class="form-control" name="number" v-model="form.number" v-focus="step===3" v-validate="'required'">
            <span v-show="errors.has('number')" class="help error">{{ errors.first('number') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===4) }" v-show="(step===4)" id="additionalInfo">
            <label for="additionalInfo">Possui algum complemento? Se não tiver, pode deixar em branco.</label>
            <input type="text" class="form-control" name="additionalInfo" v-model="form.additionalInfo" v-focus="step===4">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===5) }" v-show="(step===5)" id="cityBlock">
            <label for="cityBlock" :class="{ 'error': errors.has('cityBlock') }">Confira se esse é seu bairro. Se não, por favor insira o nome correto.</label>
            <input type="text" class="form-control" name="cityBlock" v-model="form.cityBlock" v-validate="'required'" v-focus="step===5">
            <span v-show="errors.has('cityBlock')" class="help error">{{ errors.first('cityBlock') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===6) }" v-show="(step===6)" id="state">
            <label for="state" :class="{ 'error': errors.has('state') }">Este é seu estado? Se não, pode seleciona-lo agora.</label><br>
            <select class="form-control" name="state" v-model="form.state" v-validate="'required'" v-focus="step===6" @change="stepUp">
              <option value="">Selecione: </option>
              <option v-for="state in states" :value="state.code">{{state.code}}</option>
            </select>
            <span v-show="errors.has('state')" class="help error">{{ errors.first('state') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===7) }" v-show="(step===7)" id="city">
            <label for="city"  :class="{ 'error': errors.has('city') }">Essa também é sua Cidade? Se não, por favor insira a sua Cidade.</label>
            <input type="text" class="form-control" name="city" v-model="form.city" v-validate="'required'" v-focus="step===7">
            <span v-show="errors.has('city')" class="help error">{{ errors.first('city') }}</span>
          </div>
        </transition>
        <!-- <div class="form-group" id="celphone">
          <label for="celphone">Insira seu número de celular para contato.</label>
          <input type="text" class="form-control" v-mask="'(99)99999-9999'"
          name="celphone" id="celphone" v-model="form.celphone">
        </div>
        <div class="form-group" id="phone">
          <label for="phone">Se possuir, insira um telefone fixo.</label>
          <input type="text" class="form-control" v-mask="'(99)99999-9999'"
          name="phone" id="phone" v-model="form.phone">
        </div> -->
        <transition name="slide" @keyup.enter="stepUp">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===8) }" v-show="(step===8)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>CEP</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="zipCode" class="pull-right info" @click.prevent="changeStep(1)">{{ form.zipCode || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-6">
                <strong>Rua</strong>
              </div>
              <div class="col-xs-10 col-sm-10 col-md-6">
                <a data-target="street" class="pull-right info" @click.prevent="changeStep(2)">{{ form.street || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Número</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="number" class="pull-right info" @click.prevent="changeStep(3)">{{ form.number || '--' }}</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Complemento</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="comp" class="pull-right info" @click.prevent="changeStep(4)">{{ form.additionalInfo || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-6">
                <strong>Bairro</strong>
              </div>
              <div class="col-xs-10 col-sm-10 col-md-6">
                <a data-target="cityBlock" class="pull-right info" @click.prevent="changeStep(5)">{{ form.cityBlock || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Estado</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="state" class="pull-right info" @click.prevent="changeStep(6)">{{ form.state || '--' }}</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Cidade</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="city" class="pull-right info" @click.prevent="changeStep(7)">{{ form.city || '--' }}</a>
              </div>
              <!-- <div class="col-xs-4 col-sm-4 col-md-6">
                <strong>Celular</strong>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-6">
                <a data-target="celphone" class="pull-right info">{{ form.celphone || '--' }}</a>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Telefone</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="phone" class="pull-right info">{{ form.phone || '--' }}</a>
              </div> -->
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15"
                id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="adresses"
                data-next="/model/step3"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import { get as axiosGet } from 'axios'
import states from '~/static/states.json'
import mixinSteps from '~/mixins/steps'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      street: '',
      additionalInfo: '',
      number: '',
      cityBlock: '',
      city: '',
      zipCode: '',
      state: '',
      country: 'Brasil'
    },
    states: [],
    totalSteps: 8
  }),
  methods: {
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'adresses', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    },
    searchAddress () {
      let zipCode = this.form.zipCode
      if (zipCode.length === 9) {
        axiosGet('https://viacep.com.br/ws/' + zipCode.replace('-', '') + '/json/').then(data => {
          let result = data.data
          if (result.error === true) {
            return false
          } else {
            this.form.street = result.logradouro
            // this.form.additionalInfo = result.additionalInfo
            this.form.cityBlock = result.bairro
            this.form.state = result.uf
            this.form.city = result.localidade
          }
        })
      }
    }
  },
  mounted () {
    this.states = states

    setTimeout(() => {
      let { modelAddress } = this.model.model
      if (modelAddress) {
        this.form = Object.assign(this.form, modelAddress)
      }
    }, 200)
  }
}
</script>
