<template>
  <div class="col-xs-12 col-sm-12 col-md-6 banner right">
    <div class="conclusion-message">
      <h1>Bem vindo!</h1>
      <h3>Vamos iniciar o seu cadastramento com a agência You Models.</h3>
      Através deste formulário iremos registrar todas as suas informações, serão 8 etapas de cadastro no total.<br>
      Para melhor podermos indicá-lo nos jobs, por favor preencha as informações de forma mais fiel possível.<br><br>
      Vamos começar?
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <nuxt-link class="btn mtop10" id="btn-next" :to="{ name: 'model-step1' }">Iniciar</nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  layout: 'wizard'
}
</script>
