<template>
  <div class="col-sm-12 col-md-6 banner right">
    <div class="conclusion-message">
      <h1>Parabéns!<span class="fa fa-hand-peace-o"></span></h1>
      <h3>Você concluiu seu cadastro com sucesso!</h3>
      As informações já foram enviadas para a agência e logo você receberá um retorno.
    </div>
  </div>
</template>

<script type="text/javascript">
export default {
  layout: 'wizard',
  mounted () {
    this.$store.dispatch('wizard/success')
  }
}
</script>
