<template>
  <div class="dropdown">
    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" v-if="isPreCandidate">
      <li><nuxt-link :to="{ name: 'models-store-id', params: { id: model.id } }"><span class="fa fa-eye"></span> Visualizar</nuxt-link></li>
      <li><a href="javascript:void(0)" @click="sendUrl"><span class="fa fa-paper-plane"></span> Reenviar</a></li>
      <li><a href="javascript:void(0)" v-clipboard:copy="url" v-clipboard:success="onCopy" v-clipboard:error="onError"><span class="fa fa-copy"></span> Copiar Link</a></li>

      <li role="separator" class="divider"></li>

      <li><a href="javascript:void(0)" @click="destroy(model.id)"><span class="fa fa-close"></span> Excluir</a></li>
    </ul>

    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1" v-else>
      <li><nuxt-link :to="{ name: 'models-store-id', params: { id: model.id } }"><span class="fa fa-eye"></span> Visualizar</nuxt-link></li>
      <li v-if="isEnabled && !isPreCandidate"><a href="javascript:void(0)" @click="open"><span class="fa fa-calendar"></span> Agenda do Modelo</a></li>

      <li v-if="isPending"><a href="javascript:;" @click="approveModel(model.id, 'approved')"><span class="fa fa-check"></span> Aprovar</a></li>
      <li v-if="isPending"><a href="javascript:;" @click="approveModel(model.id, 'reproved')"><span class="fa fa-close"></span> Reprovar</a></li>

      <li role="separator" class="divider"></li>

      <li v-if="isEnabled"><a href="javascript:;" @click="enableModel(model.id, 'disabled')"><span class="fa fa-close"></span> Inativar</a></li>
      <li v-else><a href="javascript:;" @click="enableModel(model.id, 'enabled')"><span class="fa fa-check"></span> Ativar</a></li>
      <li v-if="!isEnabled"><a href="javascript:void(0)" @click="destroy(model.id)"><span class="fa fa-close"></span> Excluir</a></li>
    </ul>
  </div>
</template>

<script type="text/javascript">
  import mixinSwal from '~/mixins/swal'
  import serviceModel from '~/services/models'

  export default {
    name: 'Actions',
    props: ['model'],
    mixins: [mixinSwal],
    computed: {
      url () {
        return process.env.BASE_URL + '/model/' + this.model.code
      },
      isPending () {
        return this.model.status === 'PENDING'
      },
      isPreCandidate () {
        return this.model.status === 'PRE_CANDIDATE'
      },
      isEnabled () {
        return this.model.isEnabled
      }
    },
    methods: {
      sendUrl () {
        this.swalOptions('Enviar e-mail com URL novamente?').then(res => {
          if (res) {
            let { fullName, email } = this.model
            let name = fullName

            serviceModel.sendLink({ name, email }).then(() => {
              this.$toasted.show('E-mail enviado!')
              this.$store.dispatch('getModels')
            })
          }
        })
      },
      onCopy (e) {
        this.$toasted.show('Link copiado para área de transferência!')
      },
      onError () {
        this.$toasted.show('Erro ao copiar!')
      },
      approveModel (id, status) {
        let trans = status === 'approved' ? 'aprovar' : 'reprovar'

        this.swalOptions('Tem certeza que deseja ' + trans + ' este modelo?').then(res => {
          if (res) {
            serviceModel.approveModel(id, status).then(() => {
              this.$toasted.show('Situação alterada!')
              this.$store.dispatch('getModels')
            })
          }
        })
      },
      enableModel (id, status) {
        let trans = status === 'enabled' ? 'ativar' : 'inativar'

        this.swalOptions('Tem certeza que deseja ' + trans + ' este modelo?').then(res => {
          if (res) {
            serviceModel.enableModel(id, status).then(() => {
              this.$toasted.show('Situação alterada!')
              this.$store.dispatch('getModels')
            })
          }
        })
      },
      destroy (id) {
        this.swalDanger('Deseja excluir?', 'Depois não será possível reverter.').then((willDelete) => {
          if (willDelete) {
            this.$store.dispatch('model/destroy', { id: id })
            this.$toasted.show('Modelo excluído!')
          }
        })
      },
      open () {
        this.$emit('openModal')
      }
    }
  }
</script>
