<template>
  <div class="progress-wrapper">
    <div class="progress">
      <div class="progress-bar progress-bar-orange" role="progressbar"
           aria-valuenow="45"
           aria-valuemin="0"
           aria-valuemax="100" :style="{ 'width': width+'%' }">
      </div>
    </div>
    <h4>PASSO <span id="step">{{ step+1 }}</span> / <span id="total-steps">{{ totalSteps+1 }}</span></h4>
  </div>
</template>

<script type="text/javascript">
export default {
  name: 'progressStatus',
  props: ['totalSteps', 'step'],
  // data: () => ({
  //   width: 0
  // }),
  computed: {
    width () {
      let total = (100 * this.step) / this.totalSteps
      return total
    }
  }
}
</script>
