<template>
  <div>
    <div class="card-block">
      <h5>Formação</h5>
      <ul class="list-inline">
        <li><strong>Escolaridade</strong><span>{{ education.scholarity | scholarityTrans }}</span></li>
        <li><strong>Ator/Atriz</strong><span>{{ education.actorActress | yesOrNo }}</span></li>
        <li><strong>Número DRT</strong><span>{{ education.drt || '--' }}</span></li>
        <li><strong>Apresentador(a)</strong><span>{{ education.presenter | yesOrNo }}</span></li>
        <li><strong>Cantor(a)</strong><span>{{ education.singer | yesOrNo }}</span></li>
        <li><strong>Dançarino(a)</strong><span>{{ education.dancer | yesOrNo }}</span></li>
        <li><strong>Mestre de cerimônia</strong><span>{{ education.ceremonyMaster | yesOrNo }}</span></li>
        <li><strong>Idioma</strong><span>{{ education.language | join(', ') }}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="#" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <graduation-modal v-if="open" :data="education" :open="open" @close="open=false"></graduation-modal>
  </div>
</template>

<script>
  import GraduationModal from './modal.vue'
  export default {
    name: 'MmGraduation',
    props: ['fetch'],
    components: {
      GraduationModal
    },
    computed: {
      education () {
        return this.fetch.modelEducation || {
          scholarity: '',
          actorActress: false,
          presenter: false,
          singer: false,
          dancer: false,
          ceremonyMaster: false,
          drt: '',
          language: []
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
