<template>
  <modal v-model="openModal" title="Formação" @hide="dismissCallback" ref="modal" id="modalFormacao" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="scholarity">Escolaridade</label>
            <select class="form-control" id="scholarity" name="scholarity" v-model="form.scholarity">
              <option value="NONE">Não sabe ler nem escrever</option>
              <option value="ELEMENTARY_INCOMPLETE">Ensino fundamental incompleto</option>
              <option value="ELEMENTARY">Ensino fundamental completo</option>
              <option value="HIGH_SCHOOL_INCOMPLETE">Ensino médio incompleto</option>
              <option value="HIGH_SCHOOL">Ensino médio completo</option>
              <option value="GRADUATION_INCOMPLETE">Ensino superior incompleto</option>
              <option value="GRADUATED">Ensino superior completo</option>
              <option value="MASTER">Pós-graduação</option>
              <option value="OTHERS">Outros</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="actorActress">Ator/Atriz</label>
            <select class="form-control" name="actorActress" id="actorActress" v-model="form.actorActress">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="drt">Número DRT</label>
            <input type="text" name="drt" id="drt" v-model="form.drt" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="presenter">Apresentador(a)</label>
            <select class="form-control" name="presenter" id="presenter" v-model="form.presenter">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="singer">Cantor(a)</label>
            <select class="form-control" name="singer" id="singer" v-model="form.singer">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dancer">Dançarino(a)</label>
            <select class="form-control" name="dancer" id="dancer" v-model="form.dancer">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="ceremonyMaster">Mestre de Cerimônia</label>
            <select class="form-control" name="ceremonyMaster" id="ceremonyMaster" v-model="form.ceremonyMaster">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="language">Idiomas</label><br>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Inglês" id="ingles" v-model="form.language"> Inglês
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Espanhol" id="espanhol" v-model="form.language"> Espanhol
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Outro" id="outro" v-model="form.language"> Outros
            </label>
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
import modelService from '~/services/models.js'
import { mapState } from 'vuex'

export default {
  name: 'GraduationModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        scholarity: '',
        actorActress: false,
        presenter: false,
        singer: false,
        dancer: false,
        ceremonyMaster: false,
        drt: '',
        language: []
      }
    }
  },
  data: () => ({
    openModal: false,
    form: {}
  }),
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let modelId = this.modelSelected.id

          modelService.saveEducation(modelId, this.form).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Formação atualizada!' }).then(() => {
              this.$store.commit('FETCH_MODEL_EDUCATION', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
  }
}
</script>
