<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Vamos lá! Vamos iniciar seu cadastro pelas suas informações pessoais.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)">
            <label for="fullName" :class="{ 'error': errors.has('fullName') }">Qual o seu nome completo? (Igual consta em seu documento.)</label>
            <input type="text" id="fullName" name="fullName"
                   v-model="form.fullName" class="form-control startform"
                   v-focus="step===1"
                   v-validate="'required'">
            <span v-show="errors.has('fullName')" class="help error">{{ errors.first('fullName') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="artistico">
            <label for="">Qual seu nome artístico?</label>
            <input type="text" id="artisticName" name="artisticName"
                   v-model="form.artisticName"
                   v-focus="step===2"
                   class="form-control error-msg">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)" id="sexo">
            <label for="">Qual seu sexo?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="gender" v-model="form.gender" value="MALE"> Masculino
            </label>
            <label class="radio-inline">
              <input type="radio" name="gender" v-model="form.gender" value="FEMALE"> Feminino
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===4) }" v-show="(step===4)" id="nascimento">
            <label for="" :class="{ 'error': errors.has('birthDate') }">Qual sua data de nascimento?</label>
            <input type="text" class="form-control" id="birthDate" name="birthDate"
                   max="2050-12-31"
                   v-model="form.birthDate"
                   v-mask="'99/99/9999'"
                   v-validate="'required'">
            <span v-show="errors.has('birthDate')" class="help error">{{ errors.first('birthDate') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===5) }" v-show="(step===5)" id="rg">
            <label for="">Qual seu RG?</label>
            <input type="text" class="form-control" id="rg" name="rg" v-model="form.rg" v-focus="step===5">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===6) }" v-show="(step===6)" id="cpf">
            <label for="" :class="{ 'error': errors.has('cpf') }">Qual seu CPF?</label>
            <input type="text" class="form-control" id="cpf" name="cpf"
                   v-model="form.cpf"
                   v-validate="'required'"
                   v-focus="step===6"
                   v-mask="'999.999.999-99'">
            <span v-show="errors.has('cpf')" class="help error">{{ errors.first('cpf') }}</span>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===7) }" v-show="(step===7)" id="hasPassport">
            <label for="hasPassport">Possui passport?</label><br>
            <label class="radio-inline" for="hasPassport">
              <input type="radio" name="hasPassport" v-model="form.hasPassport" :value="true"> Sim
            </label>
            <label class="radio-inline mleft-15">
              <input type="radio" name="hasPassport" v-model="form.hasPassport" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===8) }" v-show="(step===8)" v-if="form.hasPassport">
            <label for="">Qual o número de seu passport?</label>
            <input type="text" class="form-control"
            name="passaportNumber" v-model="form.passaportNumber" v-focus="step===8">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===9) }" v-show="(step===9)">
            <label for="">Qual o link de seu Facebook?</label>
            <input type="text" class="form-control" id="facebook" name="facebook" v-model="form.facebook" v-focus="step===9">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===10) }" v-show="(step===10)" id="foto">
            <label for="">Insira uma foto sua.</label>
            <!-- <input type="file" class="form-control"> -->
            <picture-input
              ref="pictureInput"
              @change="onChangeImage"
              @remove="onRemoveImage"
              width="150"
              height="150"
              :hideChangeButton="true"
              margin="16"
              radius="50"
              accept="image/jpeg,image/png"
              size="1"
              buttonClass="btn"
              :custom-strings="{
                upload: 'Selecione',
                remove: 'Remover',
                drag: 'Clique ou arraste uma imagem aqui.',
                fileSize: 'O tamanho do arquivo excede o limite'
              }">
            </picture-input>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===11) }" v-show="(step===11)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Foto</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <img :src="form.photo" :alt="form.fullName"
                     class="profile-img pull-right"
                     @click.prevent="changeStep(10)"
                     v-if="form.photo">
                <a @click.prevent="changeStep(10)" class="pull-right info" v-else>Sem imagem</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Nome completo</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="fullName" class="pull-right info" @click.prevent="changeStep(1)">{{ form.fullName || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Nome artístico</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="artistico" class="pull-right info" @click.prevent="changeStep(2)">{{ form.artisticName || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Sexo</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="sexo" class="pull-right info" @click.prevent="changeStep(3)">{{ form.gender | genderTrans }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Data de Nascimento</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="nascimento" class="pull-right info" @click.prevent="changeStep(4)">{{ form.birthDate || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>RG</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="rg" class="pull-right info" @click.prevent="changeStep(5)">{{ form.rg || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>CPF</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="cpf" class="pull-right info" @click.prevent="changeStep(6)">{{ form.cpf || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Possui passport</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="hasPassport" class="pull-right info" @click.prevent="changeStep(7)">{{ form.hasPassport | yesOrNo }}</a>
              </div>
            </div>
            <div class="row" v-show="form.hasPassport">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Número do Passport</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="passaportNumber" class="pull-right info" @click.prevent="changeStep(8)">{{ form.passaportNumber || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Facebook</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="facebook" class="pull-right info" @click.prevent="changeStep(9)">{{ form.facebook || '--' }}</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15" id="btn-next"
                :data-form="JSON.stringify(form)"
                data-action="updateModelWizard"
                data-next="/model/step2"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import mixinSteps from '~/mixins/steps'

export default {
  name: 'RegisterModels',
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      fullName: '',
      artisticName: '',
      gender: 'MALE',
      birthDate: '1900-01-01',
      rg: '',
      cpf: '',
      hasPassport: false,
      passaportNumber: '',
      facebook: '',
      email: '',
      photo: ''
    },
    totalSteps: 11
  }),
  watch: {
    'form.hasPassport' (val) {
      if (val === false) {
        this.form.passaportNumber = ''
      }
    },
    'form.birthDate' (val) {
      let dateReg = /^\d{4}([./-])\d{2}\1\d{2}$/
      if (val === '') {
        return false
      }

      if (val === 'Invalid date') {
        this.form.birthDate = ''
        return false
      }

      if (val.match(dateReg)) {
        this.form.birthDate = this.$options.filters.birthDateFormat(val)
      }
    },
    step (newStep, oldStep) {
      if ((oldStep === 7 && newStep === 8) && this.form.hasPassport === false) {
        this.step = 9
      }

      if ((oldStep === 9 && newStep === 8) && this.form.hasPassport === false) {
        this.step = 7
      }

      if (newStep === 10) {
        setTimeout(() => {
          window.dispatchEvent(new Event('resize'))
        }, 200)
      }
    }
  },
  methods: {
    onChangeImage (image) {
      if (image) {
        this.form.photo = image
      }
    },
    onRemoveImage () {
      this.form.photo = ''
    },
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        this.$store.dispatch('updateModelWizard', this.form).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  mounted () {
    // get modelSelected
    setTimeout(() => {
      let { fullName, artisticName, gender, birthDate, rg, cpf, hasPassport, passaportNumber, facebook, email, photo } = this.model.model
      let dateReg = /^\d{4}([./-])\d{2}\1\d{2}$/

      if (birthDate.match(dateReg)) {
        birthDate = this.$options.filters.birthDateFormat(birthDate)
      }

      email = this.model.email
      passaportNumber = passaportNumber || ''
      this.form = { fullName, artisticName, gender, birthDate, rg, cpf, hasPassport, passaportNumber, facebook, email, photo }
    }, 600)
  }
}
</script>

<style type="text/css">
  .picture-input .preview-container {
    display: none !important;
  }
  .picture-input input[type='file'] {
    display: block !important;
  }
</style>
