<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Empresa</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 paginator">
        <div class="wrapper">
          <span class="fa fa-chevron-up arrow-up" @click="changeActive(null, 'up')"></span>
          <ul class="list-unstyled">
            <li><a href="#" data-target="tab_1" class="toggle-form" :class="{ 'active': (active===1) }" @click="changeActive(1)"><span class="fa fa-info-circle"></span></a></li>
            <li><a href="#" data-target="tab_2" class="toggle-form" :class="{ 'active': (active===2) }" @click="changeActive(2)"><span class="fa fa-address-card-o"></span></a></li>
            <li><a href="#" data-target="tab_3" class="toggle-form" :class="{ 'active': (active===3) }" @click="changeActive(3)"><span class="fa fa-bank"></span></a></li>
          </ul>
          <span class="fa fa-chevron-down arrow-down" @click="changeActive(null, 'down')"></span>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===1) }" id="tab_1">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Informações Cadastrais</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" @click.prevent="submit" class="btn pull-right mleft-15 btn-check save">Salvar</button>
              <nuxt-link :to="{ name: 'dashboard' }" class="btn btn-green pull-right hidden-xs hidden-sm">Home</nuxt-link>
            </div>
          </div>
          <form class="form">
            <div class="row mtop10">
              <div class="col-md-2">
                <label>Logo</label>
                <div class="logo-upload" @click="onChangeImage">
                  <label for="avatar">
                    <img :src="(form.logo !== '') ? form.logo : null"
                          v-if="form.logo"
                          class="thumb" >
                    <span class="fa fa-upload" v-else></span>
                  </label>
                </div>
                <picture-input
                  ref="pictureInput"
                  @change="onChange"
                  accept="image/jpeg,image/jpg"
                  size="1" v-show="false"
                  :custom-strings="{ fileSize: 'O tamanho do arquivo excede o limite' }">
                </picture-input>
              </div>
              <div class="col-md-10">
                <div class="form-group">
                  <label for="fantasia">Nome fantasia</label>
                  <input type="text" class="form-control" id="fantasia" name="tradingName" v-model="form.tradingName">
                </div>
                <div class="form-group">
                  <label for="razao">Razão social</label>
                  <input type="text" class="form-control" id="razao" name="companyName" v-model="form.companyName">
                </div>
                <div class="form-group">
                  <label for="document1">CNPJ</label>
                  <input type="text" class="form-control" id="document1" name="document1" v-model="form.document1" v-mask="'99.999.999/9999-99'" maxlength="18">
                </div>
                <div class="form-group">
                  <label for="document2">I.E.</label>
                  <input type="text" class="form-control" id="document2" name="document2" v-model="form.document2" v-mask="'999.999.999.999'" maxlength="15">
                </div>
                <div class="form-group">
                  <label for="site">Site</label>
                  <input type="text" class="form-control" id="site" name="site" v-model="form.site">
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" name="email" v-model="form.email">
                </div>
              </div>
            </div>
            <button type="button" name="button" class="btn btn-next pull-right mleft-15 arrow-down" @click="changeActive(2)">Próximo</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===2) }" id="tab_2">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Contato</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" @click.prevent="submit" class="btn pull-right mleft-15 btn-check save">Salvar</button>
              <nuxt-link :to="{ name: 'dashboard' }" class="btn btn-green pull-right hidden-xs hidden-sm">Home</nuxt-link>
            </div>
          </div>
          <form class="form">
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="cep">CEP</label>
                  <input type="text" class="form-control" id="cep" @keyup="searchAddress"
                         name="postcode" v-model="form.agencyAddress.zipCode"
                         v-mask="'99999-999'" maxlength="9">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="form-group">
                  <label for="street">Endereço</label>
                  <input type="text" class="form-control" id="street"
                  name="address" v-model="form.agencyAddress.street">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <div :class="{'form-group': true, 'error': searchOk }">
                  <label for="no">No.</label>
                  <input type="text" :class="{'form-control': true, 'error': searchOk }"
                         id="no" name="number" v-model="form.agencyAddress.number"
                         @keydown="searchOk=false">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-2">
                <div class="form-group">
                  <label for="additionalInfo">Comp.</label>
                  <input type="text" class="form-control" id="additionalInfo" name="additionalInfo" v-model="form.agencyAddress.additionalInfo">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="cityBlock">Bairro</label>
              <input type="text" class="form-control" id="cityBlock" name="cityBlock" v-model="form.agencyAddress.cityBlock">
            </div>
            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-1">
                <div class="form-group">
                  <label for="state">Estado</label>
                  <select-states v-model="form.agencyAddress.state"></select-states>
                </div>
              </div>
              <div class="col-xs-8 col-sm-8 col-md-11">
                <div class="form-group">
                  <label for="city">Cidade</label>
                  <input type="text" class="form-control" name="city" id="city" v-model="form.agencyAddress.city">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contactName">Contato</label>
                  <input type="text" class="form-control" name="contactName" id="contactName" v-model="form.agencyAddress.contactName">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="contactPosition">Cargo</label>
                  <input type="text" class="form-control" id="contactPosition" name="contactPosition" v-model="form.agencyAddress.contactPosition">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone1">Telefone 1</label>
                  <input type="text" class="form-control" id="phone1" name="phone1" v-model="form.agencyAddress.phone1" v-mask="'(99)99999-9999'" maxlength="14">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone2">Telefone 2</label>
                  <input type="text" class="form-control" id="phone2" name="phone2" v-model="form.agencyAddress.phone2" v-mask="'(99)99999-9999'" maxlength="14">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="phone3">Telefone 3</label>
                  <input type="text" class="form-control" id="phone3" name="phone3"  v-model="form.agencyAddress.phone3" v-mask="'(99)99999-9999'" maxlength="14" value="">
                </div>
              </div>
            </div>
            <button type="button" name="button" class="btn pull-right mleft-15 btn-next arrow-down" @click="changeActive(3)">Próximo</button>
            <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(1)">Voltar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===3) }" id="tab_3">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Dados Bancários</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" @click.prevent="submit" class="btn pull-right mleft-15 btn-check save">Salvar</button>
              <nuxt-link :to="{ name: 'dashboard' }" class="btn btn-green pull-right hidden-xs hidden-sm">Home</nuxt-link>
            </div>
          </div>
          <div class="clearfix"></div>
          <form class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="banks">Banco</label>
                  <select-banks v-model="form.agencyBankAccount.bankName"
                               :code="bankCode"></select-banks>
                </div>
              </div>
              <div class="col-md-6">
                <div class="radio">
                  <label class="radio-inline">
                    <input type="radio" name="bankType" id="bankType" value="CC" v-model="form.agencyBankAccount.type"> Conta-corrente
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="bankType" id="bankType" value="CP" v-model="form.agencyBankAccount.type"> Conta-poupança
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="agency">Agência</label>
              <input type="text" class="form-control" id="agency" name="agency" v-model="form.agencyBankAccount.agency">
            </div>
            <div class="form-group">
              <label for="number">Conta</label>
              <input type="text" class="form-control" id="number" name="number" v-model="form.agencyBankAccount.number">
            </div>
            <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(2)">Voltar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import { get as axiosGet } from 'axios'
import mixinTabs from '~/mixins/tabs'
import { mapState } from 'vuex'
// import { cloneDeep } from 'lodash'
import SelectStates from '~/components/global/states'
import SelectBanks from '~/components/global/banks'

export default {
  name: 'Agency',
  middleware: 'auth',
  mixins: [mixinTabs],
  components: {
    SelectStates,
    SelectBanks
  },
  computed: {
    ...mapState({
      agency: state => state.agency.agency
    })
  },
  data: () => ({
    files: [],
    searchOk: false,
    form: {
      tradingName: '',
      companyName: '',
      document1: '',
      document2: '',
      site: '',
      email: '',
      logo: '',
      agencyAddress: {
        city: '',
        number: '',
        country: 'Brasil',
        state: '',
        street: '',
        additionalInfo: '',
        cityBlock: '',
        zipCode: '',
        phone1: '',
        phone2: '',
        phone3: '',
        contactName: '',
        contactPosition: ''
      },
      agencyBankAccount: {
        number: '',
        agency: '',
        bankCode: '',
        bankName: '',
        type: 'CC'
      }
    }
  }),
  methods: {
    submit () {
      delete this.form.id
      delete this.form.usersId
      this.$store.dispatch('updateAgency', this.form).then(() => {
        window.swal('Sucesso!', 'Dados atualizado com sucesso!', 'success')
      })
    },
    searchAddress () {
      let postcode = this.form.agencyAddress.zipCode
      if (postcode.length === 9) {
        axiosGet('https://viacep.com.br/ws/' + postcode.replace('-', '') + '/json/').then(data => {
          let result = data.data
          if (result.error === true) {
            return false
          } else {
            this.form.agencyAddress.street = result.logradouro
            // this.form.additionalInfo = result.additionalInfo
            this.form.agencyAddress.cityBlock = result.bairro
            this.form.agencyAddress.state = result.uf
            this.form.agencyAddress.city = result.localidade
            $('#no').focus()
            this.searchOk = true
          }
        })
      }
    },
    onChangeImage () {
      this.$refs.pictureInput.onClick()
    },
    onChange (logo) {
      this.form.logo = logo
    },
    bankCode (code) {
      this.form.agencyBankAccount.bankCode = code
    }
  },
  created () {
    this.$store.dispatch('getAgency').then(data => {
      this.form = data
    })
  }
}
</script>

<style src="assets/css/empresa.css"></style>
<style type="text/css" scoped>
  .thumb {
    width: 100%;
    max-height: 128px;
  }
</style>
