<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Estamos quase terminando, vamos preencher sua experiência profissional agora.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)" id="hasProfessionalMaterial">
            <label for="hasProfessionalMaterial">Possui material fotográfico profissional?</label><br>
            <label class="radio-inline mleft-15 formstart">
              <input type="radio" name="hasProfessionalMaterial" v-model="form.hasProfessionalMaterial" v-focus="step===1" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="hasProfessionalMaterial" v-model="form.hasProfessionalMaterial" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="hasPhotosAndVideos">
            <label for="hasPhotosAndVideos">Já participou de fotos ou vídeos publicitários?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="hasPhotosAndVideos" v-model="form.hasPhotosAndVideos" v-focus="step===2" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="hasPhotosAndVideos" v-model="form.hasPhotosAndVideos" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)" id="otherAgencies">
            <label for="otherAgencies">Se já for agenciado por outra agência, por favor cite qual agência.</label><br>
            <input type="text" name="otherAgencies" v-model="form.otherAgencies" v-focus="step===3" class="form-control">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===4) }" v-show="(step===4)" id="availability">
            <label for="">Qual sua disponibilidade de horário?</label><br>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Manhã" id="manha" v-model="form.availability"> Manhã
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Tarde" id="tarde" v-model="form.availability"> Tarde
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Noite" id="noite" v-model="form.availability"> Noite
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Flexível" id="flexivel" v-model="form.availability"> Flexível
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===5) }" v-show="(step===5)" id="internacionalExperiences">
            <label for="">Se possui experiência internacional, cite quais países.</label>
            <input type="text" name="internacionalExperiences" v-model="form.internacionalExperiences" v-focus="step===5" class="form-control">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===6) }" v-show="(step===6)" id="employed">
            <label for="">Se possui emprego fixo, preencha os dados abaixo.</label>
            <div class="row mtop20">
              <div class="col-md-6">
                Empresa <input type="text" name="companyName" id="companyName" v-model="form.companyName" class="form-control">
              </div>
              <div class="col-md-6">
                Área de atuação <input type="text" name="workingArea" id="workingArea" v-model="form.workingArea" class="form-control">
              </div>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===7) }" v-show="(step===7)" id="skills">
            <label for="">Descreva habilidades extras que você possua.</label>
            <textarea name="skills" id="skills" v-model="form.skills" rows="4" cols="80" v-focus="step===7" class="form-control"></textarea>
          </div>
        </transition>
        <!-- exibicao de dados preenchidos -->
        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===8) }" v-show="(step===8)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Material profissional</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="hasProfessionalMaterial" class="pull-right info" @click.prevent="changeStep(1)">{{ form.hasProfessionalMaterial | yesOrNo }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Fotos e Vídeos publicitários</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="hasPhotosAndVideos" class="pull-right info" @click.prevent="changeStep(2)">{{ form.hasPhotosAndVideos | yesOrNo }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Outras agências</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="otherAgencies" class="pull-right info" @click.prevent="changeStep(3)">{{ form.otherAgencies || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Horário(s)</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="availability" class="pull-right info" @click.prevent="changeStep(4)">{{ form.availability | join(' | ') }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Experiência internacional</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="internacionalExperiences" class="pull-right info" @click.prevent="changeStep(5)">{{ form.internacionalExperiences || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Emprego fixo</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="employed" class="pull-right info" @click.prevent="changeStep(6)">{{ form.employed | yesOrNo }}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Empresa</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="employed" class="pull-right info" @click.prevent="changeStep(6)">{{ form.companyName || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Área de atuação</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="employed" class="pull-right info" @click.prevent="changeStep(6)">{{ form.workingArea || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Habilidades</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="skills" class="pull-right info" style="text-align: right" @click.prevent="changeStep(7)">{{ form.skills || '--' }}</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15" id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="experience"
                data-next="/model/step8"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import mixinSteps from '~/mixins/steps'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      hasProfessionalMaterial: false,
      hasPhotosAndVideos: false,
      otherAgencies: '',
      availability: [],
      internacionalExperiences: '',
      employed: false,
      companyName: '',
      workingArea: '',
      skills: ''
    },
    totalSteps: 8
  }),
  watch: {
    'form.companyName' (value) {
      this.form.employed = false
      if (value !== '') {
        this.form.employed = true
      }
    }
  },
  methods: {
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'experience', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  mounted () {
    setTimeout(() => {
      let { modelExperience } = this.model.model
      if (modelExperience) {
        this.form = Object.assign(this.form, modelExperience)
      }
    }, 200)
  }
}
</script>
