<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Novo Trabalho</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1 paginator">
        <div class="wrapper">
          <span class="fa fa-chevron-up arrow-up" @click="changeActive(null, 'up')"></span>
          <ul class="list-unstyled">
            <li><a href="#" data-target="tab_1" class="toggle-form" :class="{ 'active': (active===1) }" @click="changeActive(1)"><span class="fa fa-camera"></span></a></li>
            <li><a href="#" data-target="tab_2" class="toggle-form" :class="{ 'active': (active===2) }" @click="changeActive(2)"><span class="fa fa-tv"></span></a></li>
            <li><a href="#" data-target="tab_3" class="toggle-form" :class="{ 'active': (active===3) }" @click="changeActive(3)"><span class="fa fa-inbox"></span></a></li>
            <li><a href="#" data-target="tab_4" class="toggle-form" :class="{ 'active': (active===4) }" @click="changeActive(4)"><span class="fa fa-money"></span></a></li>
          </ul>
          <span class="fa fa-chevron-down arrow-down" @click="changeActive(null, 'down')"></span>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable"  :class="{ 'active': (active===1) }" id="tab_1">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Detalhes</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" class="btn pull-right mleft-15 btn-check save" @click="submit">Salvar</button>
              <nuxt-link :to="{ name: 'jobs' }" class="btn btn-green pull-right hidden-xs hidden-sm">Trabalhos</nuxt-link>
            </div>
          </div>
          <div class="clearfix"></div>
          <form class="form">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fantasia">Título</label>
                  <input type="text" class="form-control" id="title" name="title" v-model="form.title" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="razao">Cliente</label>
                  <input type="text"
                         id="clientId"
                         :value="form.client.tradeName"
                         name="clientId"
                         class="form-control"
                         autocomplete="off"
                         placeholder="" readonly>
                  <!--<typeahead v-model="client"-->
                             <!--target="#clientId"-->
                             <!--async-src="/api/v1/clients/search?search="-->
                             <!--item-key="tradeName" />-->
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="cnpj">Descrição</label>
                  <input type="text" class="form-control" id="description" name="description" v-model="form.description">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="jobDate">Data</label>
                  <input type="text" v-mask="'99/99/9999'" class="form-control" id="jobDate" name="jobDate" v-model="form.jobDate" placeholder="dd/mm/aaaa">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="ie">Horário</label>
                  <input type="text" class="form-control"  v-mask="'99:99'" id="jobHour" name="jobHour" v-model="form.jobHour" placeholder="00:00">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="price">Valor</label>
                  <input type="text" class="form-control" v-mask="'money'" placeholder="00,00" id="price" name="price" v-model="form.price">
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                <div class="form-group">
                  <label for="commission">Comissão</label>
                  <input type="text" class="form-control" v-mask="'money'" placeholder="00,00" id="commission" name="commission" v-model="form.commission">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="locale">Local de Produção</label>
                  <input type="text" class="form-control" id="locale" name="locale" v-model="form.locale">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="observation">Observação</label>
                  <textarea rows="3" cols="80" class="form-control" id="observation" name="observation" v-model="form.observation"></textarea>
                </div>
              </div>
              <!-- <div class="col-md-6">
                <div class="form-group">
                  <label for="status">Status</label>
                  <input type="text" class="form-control" id="status" name="status" v-model="form.status">
                </div>
              </div> -->
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Situação</label>
                  <select class="form-control" id="status" name="status" v-model="form.status">
                    <option value="APPROVED">Aprovado</option>
                    <option value="CASTING">Casting</option>
                    <option value="WAITING_APPROVAL">Aguardando Aprovação</option>
                    <option value="COMPLETED">Concluído</option>
                    <option value="CANCELED">Cancelado</option>
                  </select>
                </div>
              </div>
            </div>
            <button type="button" name="button" class="btn btn-next pull-right mleft-15 arrow-down" @click="changeActive(2)">Próximo</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===2) }" id="tab_2">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Veiculação</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" class="btn pull-right mleft-15 btn-check save" @click="submit">Salvar</button>
              <nuxt-link :to="{ name: 'jobs' }" class="btn btn-green pull-right hidden-xs hidden-sm">Trabalhos</nuxt-link>
            </div>
          </div>
          <div class="clearfix"></div>
          <form class="form">
            <div class="row mtop10">
              <div class="col-md-6">
                <label>Área de Trabalho</label>
                <div class="form-group">
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" name="workingArea" v-model="form.workingArea" value="promo">
                    <label for="promo">Promocional</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" name="workingArea" v-model="form.workingArea" value="pub">
                    <label for="pub">Publicitário</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" name="workingArea" v-model="form.workingArea" value="moda">
                    <label for="moda">Moda</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline checkbox-break">
                    <input type="checkbox" class="styled" name="workingArea" v-model="form.workingArea" value="publish">
                    <label for="publish">Publicação</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" name="workingArea" v-model="form.workingArea" value="other">
                    <label for="outro">Outra</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Outra Área de Trabalho</label>
                  <input type="text" class="form-control" name="otherWorkingArea" v-model="form.otherWorkingArea" :disabled="hasOtherArea">
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Observações</label>
                  <input type="text" class="form-control" name="observationWorkingArea" v-model="form.observationWorkingArea">
                </div>
              </div>
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Mídias</label>
                <div class="form-group">
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" value="press" name="media" v-model="form.media">
                    <label for="press">Impressa</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" value="ele" name="media" v-model="form.media">
                    <label for="ele">Eletrônica</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" value="dig" name="media" v-model="form.media">
                    <label for="dig">Digital</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Especificar Mídia</label>
                  <input type="text" class="form-control" name="specifyMedia" v-model="form.specifyMedia">
                </div>
              </div>
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Abrangência</label>
                <div class="form-group">
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" value="reg" name="range" v-model="form.range">
                    <label for="reg">Regional</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" value="est" name="range" v-model="form.range">
                    <label for="est">Estadual</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" value="nac" name="range" v-model="form.range">
                    <label for="nac">Nacional</label>
                  </div>
                  <div class="checkbox checkbox-primary checkbox-inline checkbox-break">
                    <input type="checkbox" class="styled" value="int" name="range" v-model="form.range">
                    <label for="int">Internacional</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Especificar Abrangência</label>
                  <input type="text" class="form-control" name="specifyRange" v-model="form.specifyRange">
                </div>
              </div>
              <div class="col-md-12">
                <hr>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label>Exclusividade</label>
                <div class="form-group">
                  <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" name="hasExclusivity" v-model="form.hasExclusivity">
                    <label for="hasExclusivity">Exclusivo</label>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <label>Exclusividade Segmento</label>
                  <input type="text" class="form-control" name="exclusivitySegment" v-model="form.exclusivitySegment">
                </div>
              </div>
            </div>
            <button type="button" name="button" class="btn pull-right mleft-15 btn-next arrow-down" @click="changeActive(3)">Próximo</button>
            <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(1)">Voltar</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===3) }" id="tab_3">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Modelos</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" class="btn pull-right mleft-15 btn-check save" @click="submit">Salvar</button>
              <nuxt-link :to="{ name: 'jobs' }" class="btn btn-green pull-right hidden-xs hidden-sm">Trabalhos</nuxt-link>
            </div>
          </div>
          <div class="clearfix"></div>
          <!-- casting component -->
          <casting v-model="form.castingId"
            :job-id="form.id" @set-client="setClient">
          </casting>

          <button type="button" name="button" class="btn pull-right mleft-15 btn-next arrow-down" @click="changeActive(4)">Próximo</button>
          <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(2)">Voltar</button>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-11">
        <div class="section collapsable" :class="{ 'active': (active===4) }" id="tab_4">
          <div class="row">
            <div class="col-xs-7 col-sm-7 col-md-6">
              <h1>Despesas</h1>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-6">
              <button type="button" name="button" class="btn pull-right mleft-15 btn-check save" @click="submit">Salvar</button>
              <nuxt-link :to="{ name: 'jobs' }" class="btn btn-green pull-right hidden-xs hidden-sm">Trabalhos</nuxt-link>
            </div>
          </div>
          <div class="clearfix"></div>
          <!-- costs-table component -->
          <costs v-model="form.costs"></costs>

          <button type="button" name="button" class="btn pull-right btn-green btn-previous arrow-up" @click="changeActive(3)">Voltar</button>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import mixinTab from '~/mixins/tabs'
import serviceJobs from '~/services/jobs/jobs'
import Costs from '~/components/jobs/costs'
import Casting from '~/components/jobs/casting'
import { cloneDeep } from 'lodash'
import { mapGetters } from 'vuex'

export default {
  name: 'MmJobsStore',
  middleware: 'auth',
  mixins: [mixinTab],
  components: {
    Costs,
    Casting
  },
  data: () => ({
    form: {
      id: 0,
      clientId: 0,
      castingId: 0,
      title: '',
      description: '',
      jobDate: '',
      jobHour: '',
      price: 0.00,
      commission: 0.00,
      locale: '',
      observation: '',
      status: 'CASTING',
      workingArea: [],
      otherWorkingArea: '',
      observationWorkingArea: '',
      media: [],
      specifyMedia: '',
      range: [],
      specifyRange: '',
      hasExclusivity: false,
      exclusivitySegment: '',
      costs: [],
      client: {
        tradeName: ''
      }
    },
    client: null,
    tabsLength: 4
  }),
  computed: {
    ...mapGetters(['hasJob', 'casting']),
    isEdit () {
      return this.$route.params.id
    },
    hasOtherArea () {
      return this.form.workingArea.indexOf('other') === -1
    }
  },
  watch: {
    client (val) {
      this.form.clientId = val.id
    },
    'form.jobDate' (val) {
      let dateReg = /^\d{4}([./-])\d{2}\1\d{2}$/
      if (val === '') {
        return false
      }

      if (val === 'Invalid date') {
        this.form.jobDate = ''
        return false
      }

      if (val.match(dateReg)) {
        this.form.jobDate = this.$options.filters.birthDateFormat(val)
      }
    }
  },
  methods: {
    submit () {
      if (!this.isEdit) {
        this.create()
        return false
      }
      this.update()
    },
    create () {
      serviceJobs.create(this.form).then(data => {
        this.$store.commit('RESET_CASTING_SELECT')
        this.$store.dispatch('getWidgetTotals')
        this.$router.push({ name: 'jobs' })
      })
    },
    update () {
      serviceJobs.update(this.isEdit, this.form).then(data => {
        this.$store.commit('RESET_CASTING_SELECT')
        this.$store.dispatch('getWidgetTotals')
        this.$router.push({ name: 'jobs' })
      })
    },
    fetchItems () {
      if (this.hasJob.id) {
        this.form = cloneDeep(this.hasJob)
        return false
      }

      if (this.isEdit) {
        serviceJobs.getJob(this.isEdit).then(data => {
          this.form = data
          this.form.costs = data.costs.data
        })
      }
    },
    setClient (params) {
      this.form.clientId = params.clientId
      this.form.client.tradeName = params.tradeName
    }
  },
  mounted () {
    this.fetchItems()
    if (this.casting.id !== 0) {
      this.form.castingId = this.casting.id
      this.form.clientId = this.casting.clientId
      this.form.client.tradeName = this.casting.client.name
    }
  }
}
</script>

<style rel='stylesheet/css' src="~/assets/css/trabalho.css"></style>
