<template>
  <div class="dropdown">
    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><a href="#" @click="edit"><span class="fa fa-pencil fa-fw"></span> Editar</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#" @click="destroy(cost.id)"><span class="fa fa-close fa-fw"></span> Remover</a></li>
    </ul>
  </div>
</template>

<script type="text/javascript">
export default {
  name: 'MmCostAction',
  props: ['cost'],
  data: () => ({
    hasEdit: 0
  }),
  methods: {
    edit () {
      this.hasEdit = this.cost.id
      this.$emit('edit', this.cost)
    },
    destroy (id) {
      this.$emit('remove', this.cost)
    }
  }
}
</script>