<template>
  <form class="form">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover hidden-xs hidden-sm">
          <thead>
            <tr>
              <th v-if="!basic">Usuário</th>
              <th v-if="!basic">Data</th>
              <th>Descrição</th>
              <th style="width: 100px">Valor</th>
              <th :style="{ width: widthAction }">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cost in value" :key="cost.id">
              <td v-if="!basic">{{ cost.username }}</td>
              <td v-if="!basic">{{ cost.date | moment("DD/MM/YYYY HH:mm") }}</td>
              <td>{{ cost.description }}</td>
              <td>R$ {{ cost.price }}</td>
              <td>
                <actions
                  :cost="cost"
                  @edit="editCost"
                  @remove="destroy">
                </actions>
              </td>
            </tr>
            <tr>
              <td v-if="!basic"></td>
              <td v-if="!basic"></td>
              <td>
                <input type="text"
                  class="form-control"
                  placeholder="Descrição"
                  v-model="costForm.description"
                  v-focus="focused"
                  @focus="focused = true"
                  @blur="focused = false"
                  @keypress.enter="addCost">
              </td>
              <td>
                <input type="text"
                  class="form-control despesa-input"
                  v-mask="'money'"
                  placeholder="00,00"
                  v-model="costForm.price"
                  @keypress.enter="addCost"
                  style="width: 100%;">
              </td>
              <td>
                <button class="btn btn-green btn-small" type="button" @click="addCost">
                  <span class="fa fa-save"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>

        <table class="table table-hover visible-xs visible-sm">
          <thead>
            <tr>
              <!--<th v-if="!basic">Despesa</th>-->
              <th style="width: 50%">Descrição</th>
              <th style="width: 30%">Valor</th>
              <th style="width: 20%">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="cost in value" :key="cost.id">
              <!--<td v-if="!basic">-->
                <!--{{ cost.username }} <br>-->
                <!--{{ cost.date | moment("DD/MM/YYYY HH:mm") }}-->
              <!--</td>-->
              <td>{{ cost.description }}</td>
              <th style="width: 20px">R$ {{ cost.price }}</th>
              <td>
                <actions
                  :cost="cost"
                  @edit="editCost"
                  @remove="destroy">
                </actions>
              </td>
            </tr>
            <tr>
              <td>
                <input type="text"
                       class="form-control"
                       placeholder="Descrição"
                       v-model="costForm.description"
                       v-focus="focused"
                       @focus="focused = true"
                       @blur="focused = false"
                       @keypress.enter="addCost">
              </td>
              <td>
                <input type="text"
                       class="form-control despesa-input"
                       v-mask="'money'"
                       placeholder="00,00"
                       v-model="costForm.price"
                       @keypress.enter="addCost"
                       style="width: 100%;">
              </td>
              <td>
                <button class="btn btn-green btn-small" type="button" @click="addCost">
                  <span class="fa fa-save"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>
</template>

<script type="text/javascript">
import Actions from './actions'
export default {
  name: 'MmCost',
  props: {
    basic: {
      type: Boolean,
      'default': false
    },
    value: {
      type: Array,
      required: true,
      'default': []

    }
  },
  components: {
    Actions
  },
  computed: {
    widthAction () {
      if (this.basic) {
        return '50px'
      }
      return '120px'
    }
  },
  data: () => ({
    costs: [],
    costForm: {
      id: 0,
      user_id: 0,
      username: '',
      description: '',
      price: 0.00,
      date: new Date()
    },
    focused: false
  }),
  methods: {
    addCost () {
      if (this.costForm.description !== '' &&
          this.costForm.price !== 0 &&
          this.costForm.id === 0) {
        this.save()
      }

      this.focused = true
      this.resetForm()
    },
    save () {
      let data = this.costForm
      this.value.push({ ...data, id: parseInt(window._.uniqueId()) })
    },
    editCost (cost) {
      this.costForm = cost
    },
    destroy (cost) {
      let id = this.value.indexOf(cost)
      if (id > -1) {
        this.value.splice(id, 1)
      }
    },
    resetForm () {
      this.costForm = {
        id: 0,
        user_id: this.$auth.user.id,
        username: this.$auth.user.name,
        description: '',
        price: 0.00,
        date: new Date()
      }
    }
  },
  mounted () {
    this.resetForm()
  }
}
</script>
