<template>
  <div class="row">
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg mbottom20 flex justify-between">
      <a class="btn btn-small" href="javascript: void(0)" @click="openCasting = true"><span class="fa fa-save"></span> Salvar</a>
      <a class="btn btn-small btn-green"
        href="#"
         @click="openSchedule = true">
        <span class="fa fa-calendar"></span> Eventos</a>
      <a class="btn btn-small btn-green"
        href="javascript:void(0)"
        @click.prevent="createJob"
        v-if="isEdit"><span class="fa fa-camera"></span> Criar Trabalho</a>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-3">
      <div class="filter">
        <div class="filter-header">
          <h5>Filtros</h5>
          <span class="fa fa-filter"></span>
        </div>
        <div class="items">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="artisticName">Nome</label>
                <input type="text" name="artisticName" id="artisticName" autocomplete="off" v-model="form.artisticName" @keyup="modelFilter('artisticName')" class="form-control">
              </div>
            </div>
          </div>
          <label for="">Altura</label>
          <b-form-slider :value="form.height" v-model="form.height" :min="0.5" :max="2.2" :step="0.1" @slideStop="changeSlider('height')" tooltip="always" trigger-change-event />
          <label for="">Manequim</label>
          <b-form-slider ref="dummy" :value="form.dummy" v-model="form.dummy" :min="4" :max="60" :step="1" @slideStop="changeSlider('dummy')" tooltip="always" :trigger-change-event="true" />
          <label for="">Calçado</label>
          <b-form-slider :value="form.shoes" v-model="form.shoes" :min="5" :max="50" :step="1" @slideStop="changeSlider('shoes')" tooltip="always" trigger-change-event />
          <label for="">Quadril</label>
          <b-form-slider :value="form.hip" v-model="form.hip" :min="10" :max="90" :step="1" @slideStop="changeSlider('hip')" tooltip="always" trigger-change-event />
          <label for="">Idade</label>
          <b-form-slider :value="form.age" v-model="form.age" :min="1" :max="90" :step="1" @slideStop="changeSlider('age')" tooltip="always" trigger-change-event />

          <label for="" class="cat-title">Cor do Cabelo</label>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-6 checkbox-break">
              <label>
                <input type="checkbox" name="hair-color" v-model="form.hairColor" @change="modelFilter('hair-color')" value="Loiro"> Loiro
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" name="hair-color" v-model="form.hairColor" @change="modelFilter('hair-color')" value="Ruivo"> Ruivo
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" name="hair-color" v-model="form.hairColor" @change="modelFilter('hair-color')" value="Castanho"> Castanho
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6 checkbox-break">
              <label>
                <input type="checkbox" name="hair-color" v-model="form.hairColor" @change="modelFilter('hair-color')" value="Preto"> Preto
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" name="hair-color" v-model="form.hairColor" @change="modelFilter('hair-color')" value="Grisalho"> Grisalho
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" name="hair-color" v-model="form.hairColor" @change="modelFilter('hair-color')" value="Outro"> Outro
              </label>
            </div>
          </div>
          <label for="" class="cat-title">Gênero</label>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-6 checkbox-break">
              <label>
                <input type="checkbox" v-model="form.genders" @change="modelFilter('genders')" value="MALE"> Masculino
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" v-model="form.genders" @change="modelFilter('genders')" value="FEMALE"> Feminino
              </label>
            </div>
          </div>
          <label for="" class="cat-title">Categoria</label>
          <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-6 checkbox-break">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Baby"> Baby
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Infantil"> Infantil
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Teen"> Teen
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6 checkbox-break">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Publicitário"> Publicitário
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Plus-size"> Plus-size
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Comercial"> Comercial
              </label>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-6 checkbox-break">
              <label>
                <input type="checkbox" v-model="form.categories" @change="modelFilter('categories')" value="Fashion"> Fashion
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-9">
      <div class="row">
        <div class="col-md-12 hidden-xs hidden-sm">
          <a class="btn btn-small pull-right mleft-15" href="javascript: void(0)" @click="openCasting = true"><span class="fa fa-save"></span> Salvar Casting</a>
          <a class="btn btn-small btn-green pull-right mleft-15" href="javascript: void(0)" @click="openSchedule = true"><span class="fa fa-calendar"></span> Agenda de Eventos</a>
          <a class="btn btn-small btn-green pull-right" href="javascript:void(0)" @click.prevent="createJob"><span class="fa fa-camera"></span> Criar Trabalho</a>
        </div>
        <div class="col-md-12">
          <div class="cast-selection">
            <div class="cast-items">
              <h4>Casting</h4>
              <transition-group name="fade">
                <div v-for="m in modelsCasting" :key="m.id" class="item"
                    data-toggle="tooltip"
                    data-placement="top"
                    :title="m.artisticName"
                    :data-original-title="m.artisticName"
                    style="">
                    <img :src="m.photo">
                    <a href="javascript:void(0)" @click="removeCastingModel(m)" class="remove-cast-item">
                      <span class="fa fa-close"></span>
                    </a>
                </div>
              </transition-group>
            </div>
            <!-- <a href="javascript:void(0)" @click="selected = []" v-show="selected.length" id="clear-casting"><span class="fa fa-close"></span> Limpar</a> -->
          </div>
        </div>
        <div class="cards">
          <p class="text-center" v-if="modelsFilter.length === 0">Nenhum modelo encontrado.</p>
          <transition-group name="fade" tag="p">
            <div class="col-md-6" v-for="model in paginateItems"
                :key="model.id"
                :id="model.id">
              <div class="card">
                <a class="image-link add-cast-item" @click="addCastingModel(model)" :data-img="model.photo" :data-nome="model.artisticName">
                  <span>ADICIONAR AO CASTING</span>
                </a>
                <img :src="model.photo" :alt="model.artisticName">
                <div class="card-info">
                  <div class="dropdown pull-right mtop10">
                    <a class="dropdown-toggle cast-btn" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="fa fa-ellipsis-v"></span>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li><a href="javascript: void(0)" class="add-cast-item" @click="addCastingModel(model)" :data-img="model.photo" :data-nome="model.artisticName"><span class="fa fa-plus"></span> Adicionar ao Casting</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="javascript:void(0)" @click="calendarModels(model.id)"><span class="fa fa-calendar"></span> Agenda do Modelo</a></li>
                      <li><nuxt-link :to="{ name: 'models-store-id', params: { id: model.id } }"><span class="fa fa-male"></span> Cadastro do Modelo</nuxt-link></li>
                    </ul>
                  </div>
                  <h4>{{ model.artisticName }}</h4>
                  <small>
                    {{ model.modelAddress.city }}/{{ model.modelAddress.state }} <br>
                    {{ model.email }}
                  </small>
                  <small>
                    <ul class="list-unstyled">
                      <li><strong>Sexo </strong><span>{{ model.gender | genderTrans }}</span></li>
                      <li><strong>Idade </strong><span>{{ model.birthDate | age }}</span></li>
                      <li><strong>Manequim </strong><span>{{ model.modelMeasurements.dummy }}</span></li>
                      <li><strong>Calçado </strong><span>{{ model.modelMeasurements.shoes }}</span></li>
                      <li><strong>Cor do Cabelo </strong><span>{{ model.modelCharacteristics.hairColor }}</span></li>
                      <li><strong>Altura </strong><span>{{ model.modelMeasurements.height }}</span></li>
                      <li><strong>Quadril </strong><span>{{ model.modelMeasurements.hip }}</span></li>
                    </ul>
                  </small>
                </div>
              </div>
            </div>
          </transition-group>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <nav aria-label="Page navigation" class="pagination-wrapper">
        <pagination v-model="pageNum"
            :total-page="totalPages"
            @change="getPaginatedItems"
            boundary-links />
      </nav>
    </div>
    <modal-casting v-if="openCasting" :casting-id="isEdit" :open="openCasting"  @close="openCasting=false"></modal-casting>
    <modal-schedule v-if="openSchedule" :open="openSchedule" @open-event="formEvent" @close="openSchedule=false"></modal-schedule>
    <modal-event v-if="openEvent" :open="openEvent" @close="openEvent=false" :event-id="eventId"></modal-event>
    <calendar v-if="openCalendar" :open="openCalendar" @close="openCalendar=false" :model-id="modelId"></calendar>
  </div>
</template>

<script>
// http://www.vuejs-brasil.com.br/vue-js-2-filtros-em-listas/
// import '~/assets/css/bootstrap-slider.css'
import { ModalCasting, ModalSchedule, ModalEvent } from '~/components/castings/modals'
import { Calendar } from '~/components/models'
import casting from '~/services/castings.js'
import { mapGetters, mapActions } from 'vuex'
import { map, filter } from 'lodash'
import paginate from '~/mixins/paginate'
var isMobile = require('ismobilejs')

export default {
  middleware: 'auth',
  mixins: [paginate],
  components: {
    ModalCasting,
    ModalSchedule,
    ModalEvent,
    Calendar
  },
  data: () => ({
    openSchedule: false,
    openCasting: false,
    openEvent: false,
    openCalendar: false,
    eventId: null,
    form: {
      artisticName: '',
      height: [0.5, 2.2],
      dummy: [4, 60],
      shoes: [5, 50],
      hip: [10, 200],
      age: [0, 90],
      hairColor: [],
      genders: [],
      categories: []
    },
    models: [],
    search: [],
    modelId: 0
  }),
  computed: {
    ...mapGetters(['casting']),
    isEdit () {
      return this.$route.params.id
    },
    modelsCasting () {
      if (this.casting) {
        return this.casting.models
      }
      return []
    },
    modelsFilter () {
      if (!this.casting) {
        return 0
      }
      let ids = map(this.casting.models, 'id')
      return filter(this.models, m => {
        return ids.indexOf(m.id) === -1
      })
    },
    items () {
      return this.modelsFilter
    }
  },
  methods: {
    ...mapActions(['getCasting', 'addCastingModel', 'removeCastingModel']),
    changeSlider (type) {
      this.modelFilter(type)
    },
    modelFilter (type = '') {
      this.implementSearch(type)
      casting.getModelsFilter(this.search).then(data => {
        this.models = data.data
      })
    },
    createJob () {
      this.$router.push({ name: 'jobs-store-id' })
    },
    implementSearch (type) {
      this.search.artisticName = this.form.artisticName
      this.search.minHeight = this.form.height[0]
      this.search.maxHeight = this.form.height[1]

      this.search.minDummy = this.form.dummy[0]
      this.search.maxDummy = this.form.dummy[1]

      this.search.minShoes = this.form.shoes[0]
      this.search.maxShoes = this.form.shoes[1]

      this.search.minHip = this.form.hip[0]
      this.search.maxHip = this.form.hip[1]

      this.search.minAge = this.form.age[0]
      this.search.maxAge = this.form.age[1]

      this.search.hairColors = this.form.hairColor

      this.search.genders = this.form.genders

      this.search.categories = this.form.categories
    },
    formEvent (id) {
      if (id !== '') {
        this.eventId = id
      } else {
        this.eventId = null
      }
      this.openEvent = true
    },
    calendarModels (id) {
      this.openCalendar = true
      this.modelId = id
    }
  },
  created () {
    if (this.isEdit !== 'duplicate') {
      this.$store.commit('FETCH_CASTING_SELECT', { id: 0, description: '', client: {}, models: [], events: [] })
    }
  },
  mounted () {
    if (isMobile.any) {
      $('.filter-header').click(() => {
        $('.items').slideToggle()
      })
    }

    this.modelFilter()

    if (this.isEdit !== 'duplicate' && typeof this.isEdit !== 'undefined') {
      let id = this.$route.params.id
      this.getCasting({ id: id })
    }
  },
  head () {
    return {
      title: 'Casting',
      bodyAttrs: {
        class: 'casting'
      }
    }
  }
}
</script>

<style rel='stylesheet/css' src="~/assets/css/scss/casting.scss" lang="scss"></style>
<style type="text/css">
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0
}
.cast-selection .cast-items .item {
  float: left;
}
</style>
