<template>
  <div>
    <div class="row search-group">
      <button class="btn btn-search pull-right mleft-15 mright-20" type="button" id="btn-search" data-toggle="dropdown-search" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-search"></span>
      </button>
      <div class="panel panel-default dropdown-search collapse" id="dropdown-search">
        <div class="panel-body">
          <form>
            <ul class="list-unstyled">
              <li>
                <div class="form-group">
                  <label for="title" >Título</label>
                  <input type="text" name="title" v-model="form.title" class="form-control search-input">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label for="client" >Cliente</label>
                  <input type="text" name="client" v-model="form.client" class="form-control search-input">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label for="model" >Modelo</label>
                  <input type="text" name="model" v-model="form.model" class="form-control search-input">
                </div>
              </li>
              <li>
                <div class="form-group">
                  <label for="type" >Tipo</label>
                  <select class="form-control" v-model="form.type" id="type" name="type">
                    <option value="">Todos</option>
                    <option value="JOBS">Trabalho</option>
                    <option value="MODELS">Modelo</option>
                    <option value="PAYMENT">Pagamento</option>
                    <option value="CASTING">Casting</option>
                    <option value="OTHERS">Outros</option>
                  </select>
                </div>
              </li>
              <div class="panel-footer">
                <button type="button" name="button" class="btn pull-right mleft-15" id="btn-filter" data-toggle="dropdown-search" @click.prevent="search">Filtrar</button>
                <button type="button" name="button" class="btn btn-green pull-right" id="btn-clear" data-toggle="dropdown-search" @click.prevent="clearFilter">Limpar</button>
              </div>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mtop10">
        <full-calendar :config="config" :event-sources="eventSources"
                       @event-selected="eventSelected"
                       ref="calendar"></full-calendar>
      </div>
    </div>
    <modal-event v-if="openEvent" :open="openEvent" @close="close" :event-id="eventId"></modal-event>
  </div>
</template>
<script>
  import { search } from '~/plugins/search.js'
  import { ModalEvent } from '~/components/castings/modals'
  // import { get as axiosGet } from 'axios'
  var isMobile = require('ismobilejs')
  export default {
    middleware: 'auth',
    components: {
      ModalEvent
    },
    data () {
      let self = this
      return {
        openEvent: false,
        eventId: '',
        form: {
          title: '',
          client: '',
          model: '',
          type: ''
        },
        config: {
          header: {left: 'title', center: 'today month agendaWeek agendaDay prev,next', right: ''},
          defaultView: 'month',
          titleFormat: 'MMMM YYYY',
          defaultTimedEventDuration: '01:00:00',
          handleWindowResize: true,
          eventStartEditable: true,
          // eventClick: function (calEvent, jsEvent, view) {
          //   console.log(calEvent)
          //   return false
          // },
          eventAfterRender: function (event, element, view) {
            if (event.type === 'casting') {
              $(element).tooltip({title: event.modelos, placement: 'top'})
            }
          },
          eventDrop (event, delta, revertFunc, jsEvent, ui, view) {
            revertFunc()
          },
          eventResize (event, delta, revertFunc, jsEvent, ui, view) {
            revertFunc()
          }
        },
        eventSources: [
          {
            events (start, end, timezone, callback) {
              let params = { start: start.format('YYYY-MM-DD'), end: end.format('YYYY-MM-DD'), ...self.form }
              self.$axios.get(`/api/v1/event`, { params: params }).then(response => {
                callback(response.data.data)
              })
            }
          }
        ]
      }
    },
    methods: {
      search () {
        this.$refs.calendar.$emit('refetch-events')
      },
      clearFilter () {
        this.form = {
          title: '',
          client: '',
          model: '',
          type: ''
        }
        this.$refs.calendar.$emit('refetch-events')
      },
      eventSelected (calEvent, jsEvent, view) {
        this.$store.dispatch('getCasting', { id: calEvent.casting.id })
        this.openEvent = true
        this.eventId = calEvent.id
      },
      close () {
        this.$refs.calendar.$emit('refetch-events')
        this.openEvent = false
      }
    },
    mounted () {
      search()
      if (isMobile.any) {
        this.$refs.calendar.fireMethod('changeView', 'listMonth')
        this.$refs.calendar.fireMethod('option', 'header', {center: 'today prev,next', right: ''})
        this.$refs.calendar.fireMethod('option', 'height', 500)
        window.dispatchEvent(new Event('resize'))
      }
    }
  }
</script>
