<template>
  <div class="card iso-item default" :key="'default'">
    <div class="card-block">
      <h5>Composites</h5>
      <ul class="list-inline">
        <li v-for="(image, key) in composites">
          <strong>Composite</strong>
          <span>
              <a href="javascript:void(0)" @click="openImage(image)"><span class="badge"><span class="fa fa-file-image-o"></span> composite ({{key}})</span></a>
              <a href="javascript:void(0)" @click="removeComposite(image)"><span class="badge badge-danger mleft-5"><span class="fa fa-close"></span></span></a>
          </span>
        </li>
      </ul>
    </div>
    <div class="card-block menu">
      <input type="file" id="upload" name="upload" style="visibility: hidden; width: 1px; height: 1px" @change="handleInputChange($event)" />
      <a href="#" onclick="document.getElementById('upload').click(); return false"><span class="fa fa-upload"></span> Upload</a>
    </div>
  </div>
</template>


<script>
import modelService from '~/services/models.js'
export default {
  name: 'MmComposite',
  props: ['fetch'],
  data: () => ({
    composites: []
  }),
  methods: {
    saveComposites () {
      let composites = this.composites.map(c => ({ photo: c }))
      modelService.saveComposite(this.fetch.id, composites).then(data => {
        this.$store.commit('FETCH_MODEL_COMPOSITES', data)
      })
    },
    removeComposite (image) {
      if (this.composites.indexOf(image) > -1) {
        this.composites.splice(this.composites.indexOf(image), 1)
        this.saveComposites()
      }
    },
    openImage (image) {
      var w = window.open('about:blank')
      setTimeout(() => { // FireFox seems to require a setTimeout for this to work.
        let img = new Image()
        img.src = image
        w.document.title = this.fetch.fullName
        w.document.body.appendChild(img)
      }, 1)
    },
    handleInputChange (e) {
      var file = e.dataTransfer ? e.dataTransfer.files[0] : e.target.files[0]
      var pattern = /image-*/
      var reader = new FileReader()
      if (!file.type.match(pattern)) {
        alert('invalid format')
        return false
      }
      reader.onload = this._handleReaderLoaded.bind(this)
      reader.readAsDataURL(file)
    },
    _handleReaderLoaded (e) {
      let reader = e.target
      this.imageSrc = reader.result
      this.composites.push(this.imageSrc)
      setTimeout(() => {
        this.saveComposites()
      }, 1000)
    }
  },
  mounted () {
    setTimeout(() => {
      this.composites = this.fetch.modelComposites.map(c => c.photo)
    }, 1000)
  }
}
</script>
