<template>
  <div>
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <h1 class="no-margin">Usuário</h1>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">
        <button type="button" name="button" class="btn pull-right mleft-15 btn-check save" @click="submit">Salvar</button>
        <router-link :to="{ name: 'users' }" class="btn btn-green pull-right hidden-xs hidden-sm">Usuários</router-link>
      </div>
    </div>
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 hide flex justify-center">
          <div class="logo-upload">
            <img src="~/assets/img/portrait.jpg" alt="" class="profile-img">
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3">
          <div :class="{'form-group': true, 'error': errors.has('name') }">
            <label for="name">Nome</label>
            <input type="text" id="name" name="name" v-model="form.name"
                   :class="{'form-control': true, 'error': errors.has('name') }" v-validate="'required'">
            <span v-show="errors.has('name')" class="help">{{ errors.first('name') }}</span>
          </div>
          <div :class="{'form-group': true, 'error': errors.has('email') }">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" v-model="form.email"
                  :class="{'form-control': true, 'error': errors.has('email') }" v-validate="'required|email'">
            <span v-show="errors.has('email')" class="help">{{ errors.first('email') }}</span>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div :class="{'form-group': true, 'error': errors.has('password') }">
                <label for="pass1">Senha</label>
                <input type="password" class="form-control" id="pass1" name="password" v-model="form.password"
                       :class="{'form-control': true, 'error': errors.has('password') }" v-validate="validatePassword" ref="password">
                <span v-show="errors.has('password')" class="help">{{ errors.first('password') }}</span>
              </div>
            </div>
            <div class="col-md-6">
              <div :class="{'form-group': true, 'error': errors.has('confirmed_password') }">
                <label for="confirmed_password">Confirmar Senha</label>
                <input type="password" class="form-control" id="confirmed_password" name="confirmed_password" v-model="form.confirmed_password"
                       :class="{'form-control': true, 'error': errors.has('confirmed_password') }" v-validate="validatePasswordConfirmed">
                <span v-show="errors.has('confirmed_password')" class="help">{{ errors.first('confirmed_password') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-11">
              <div :class="{'form-group': true, 'error': errors.has('rolesIds') }">
                <label for="rolesIds">Perfil</label>
                <div class="checkbox"
                     v-for="role in roles" :key="role.role">
                  <label>
                    <input type="checkbox" :id="role.role" :value="role.role" v-model="rolesIds">
                    {{ role.name }}
                  </label>
                </div>
                <span v-show="errors.has('role')" class="help">{{ errors.first('role') }}</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div :class="{'form-group': true, 'error': errors.has('enabled') }">
                <label for="enabled">Situação</label>
                <select name="enabled" v-model="form.enabled"
                       :class="{'form-control': true, 'error': errors.has('enabled') }" v-validate="'required'">
                  <option :value="true">Ativo</option>
                  <option :value="false">Inativo</option>
                </select>
                <span v-show="errors.has('enabled')" class="help">{{ errors.first('enabled') }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</template>

<script type="text/javascript">
  import { mapGetters } from 'vuex'
  import serviceUser from '~/services/user'
  export default {
    middleware: 'auth',
    data () {
      return {
        form: {
          name: '',
          email: '',
          rolesIds: [],
          password: '',
          confirmed_password: '',
          enabled: true
        },
        rolesIds: []
      }
    },
    computed: {
      ...mapGetters(['roles']),
      isEdit () {
        return this.$route.params.id
      },
      validatePassword () {
        if (this.isEdit) {
          return ''
        }
        return 'required'
      },
      validatePasswordConfirmed () {
        if (this.isEdit) {
          return 'confirmed:password'
        }
        return 'required|confirmed:password'
      }
    },
    watch: {
      '$route': 'fetchItems',
      rolesIds (val) {
        this.form.rolesIds = val
      }
    },
    methods: {
      submit () {
        this.$validator.validateAll().then((result) => {
          if (result) {
            if (!this.isEdit) {
              this.save()
              return false
            }

            this.update()

            return false
          }
          this.$swal('Erro!', 'Preencha o formulário corretamente!', 'error')
        })
      },
      save () {
        const { name, email, rolesIds, password, enabled } = this.form
        serviceUser.create({ name, email, rolesIds, password, enabled }).then(() => {
          window.swal('Sucesso!', 'Novo usuário cadastrado com sucesso!', 'success')
            .then(() => this.$router.push({ name: 'users' }))
        })
      },
      update () {
        const { name, email, rolesIds, password, enabled } = this.form
        serviceUser.update(this.isEdit, { name, email, rolesIds, password, enabled }).then(data => {
          window.swal('Sucesso!', 'Usuário atualizado com sucesso!', 'success')
            .then(() => this.$router.push({ name: 'users' }))

          if (data.id === this.$auth.user.id) {
            this.$auth.fetchUser()
          }
        })
      },
      fetchItems () {
        if (this.isEdit) {
          this.$axios.get('/api/v1/users/' + this.isEdit).then(data => {
            const { name, email, roles, enabled } = data.data
            this.form = { name, email, enabled }
            if (roles) {
              this.form.rolesIds = roles.data.map(r => r.name)
              this.rolesIds = roles.data.map(r => r.name)
            }
          })
        }
      }
    },
    mounted () {
      this.fetchItems()
    }
  }
</script>

<style rel='stylesheet/css' src="~/assets/css/usuario.css"></style>
