.event-blue {
  background-color: #4990E2;
  color: white;
  border: none; }
  .event-blue h2 {
    color: white; }

.event-orange {
  background-color: #F47B21;
  color: white;
  border: none; }
  .event-orange h2 {
    color: white; }

.event-green {
  background-color: #66c0ab;
  color: white;
  border: none; }
  .event-green h2 {
    color: white; }

.event-red {
  background-color: #cc0000;
  color: white;
  border: none; }
  .event-red h2 {
    color: white; }
