.flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

.filter-group {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  width: 80%;
  float: right; }
  .filter-group button {
    margin-left: 15px; }

@media (max-width: 767px) {
  .filter-group {
    float: none;
    width: 100%; }
    .filter-group button:first-of-type {
      margin: 0 !important; } }
.iso-item {
  margin-top: 15px;
  font-size: .9em;
  min-height: 150px;
  position: relative;
  overflow-x: hidden;
  width: 30%;
  margin-right: 20px; }
  .iso-item h5 {
    margin-bottom: 10px; }
  .iso-item ul li {
    display: flex;
    justify-content: space-between; }

@media (max-width: 767px) {
  .iso-item {
    width: 100%; }

  .filter {
    padding: 10px 15px; } }
.card {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem; }
  .card .card-block {
    padding: 1.25rem 1.25rem 3rem;
    width: 100%;
  }

@media (max-width: 767px) {
  .card .card-block {
    padding-bottom: 3.5rem; }

  .iso-item .menu {
    bottom: 0 !important; } }
.iso-item {
  border-top: 2px solid #F47B21;
  position: relative;
  overflow: hidden; }
  .iso-item h5 {
    margin-top: 0;
    font-size: 1.1em;
    font-weight: 400; }
  .iso-item .menu {
    background-color: #F47B21;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: absolute;
    width: 100%;
    bottom: -60px;
    transition: .3s; }
    .iso-item .menu a:hover {
      color: white;
      text-decoration: underline; }
  .iso-item:hover > .menu {
    bottom: 0; }
  .iso-item.success {
    border-top: 2px solid #66c0ab; }
    .iso-item.success h5 {
      color: #66c0ab; }
    .iso-item.success .menu {
      background-color: #66c0ab; }
  .iso-item.primary {
    border-top: 2px solid #4990E2; }
    .iso-item.primary h5 {
      color: #4990E2; }
    .iso-item.primary .menu {
      background-color: #4990E2; }
