#__nuxt {
    display: inline-flex !important;
    width: 100% !important;
    height: 100%;
}
#__layout {
  width: 100%;
}
.flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  height: 100%;
  margin: 0;
  font-family: 'Raleway', sans-serif !important;
  color: #4A4A4A;
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #F47B21; }

@media (max-width: 767px) {
  h1, h2, h3, h4, h5, h6 {
    font-weight: 400; } }
a {
  color: inherit; }
  a:hover, a:focus, .nuxt-link-active {
    text-decoration: none;
    color: #66c0ab; }

.container-fluid {
  height: 100%; }

.header {
  height: 60px;
  width: 100%;
  background-color: #56514E; }
  .header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .container-fluid:before {
      display: none; }
    .header .container-fluid:after {
      display: none; }
  .header .logo {
    background-image: url("../img/logo-neg.png");
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 40px;
    text-indent: -9999px;
    float: left; }
  .header .options {
    width: 315px;
    float: right; }
    .header .options .pesquisar {
      display: inline-block;
      width: 215px; }
      .header .options .pesquisar input {
        border-radius: 15px / 50%;
        box-shadow: none;
        border: none;
        height: 30px;
        padding-left: 10px;
        outline: none;
        width: 170px; }
    .header .options .fa {
      font-size: 1.2em; }
    .header .options .dropdown {
      display: inline-block; }

.options-btn {
  color: white;
  padding: 3px 6px;
  border: 0;
  cursor: pointer;
  background-color: #56514E; }
  .options-btn:hover {
    color: #F47B21; }

@media (max-width: 767px) {
  .options {
    width: 250px !important; }

  .logo {
    width: 90px !important; } }
.mini-dashboard {
  background-color: #66c0ab;
  width: 100%;
  height: 75px; }
  .mini-dashboard div .row {
    height: 100%;
    display: flex;
    align-items: center; }
  .mini-dashboard .user small {
    display: block;
    color: white; }
  .mini-dashboard .user a:hover {
    color: inherit;
    cursor: pointer; }
  .mini-dashboard .user a:hover .fa {
    display: inline-block !important; }
  .mini-dashboard .user .profile-img {
    border-color: white; }
  .mini-dashboard .arrow-date {
    color: white;
    display: flex;
    align-items: center; }
    .mini-dashboard .arrow-date span {
      float: left;
      font-size: 2em;
      margin-right: 20px; }
    .mini-dashboard .arrow-date p {
      margin: 0;
      font-size: 1.5em; }
  .mini-dashboard .agenda {
    display: flex;
    justify-content: center; }
    .mini-dashboard .agenda h3 {
      color: white;
      float: left;
      margin: 0;
      margin-right: 20px; }
      .mini-dashboard .agenda h3 span {
        line-height: 1.5; }
    .mini-dashboard .agenda ul {
      margin: 0;
      background-color: white;
      width: 80%;
      border-radius: 15px / 50%;
      display: flex;
      justify-content: space-between; }
      .mini-dashboard .agenda ul li {
        padding: 5px 20px;
        border-radius: 15px / 50%;
        background-color: #F47B21;
        color: white;
        margin: 2px;
        cursor: pointer;
        outline: none; }
      .mini-dashboard .agenda ul .blue {
        background-color: #4990E2; }
      .mini-dashboard .agenda ul .large {
        padding: 5px 50px; }
  .mini-dashboard .tools ul {
    display: flex;
    justify-content: space-between; }
    .mini-dashboard .tools ul li {
      text-align: center;
      position: relative;
      cursor: pointer; }
      .mini-dashboard .tools ul li p {
        margin: 0; }
      .mini-dashboard .tools ul li b {
        font-size: 2em;
        line-height: 1;
        display: block;
        color: white; }
      /*.mini-dashboard .tools ul li:nth-child(odd):after {*/
        /*content: '2';*/
        /*padding: 0 6px 1px 6px;*/
        /*color: white;*/
        /*border-radius: 50%;*/
        /*background-color: #F47B21;*/
        /*position: absolute;*/
        /*top: 15px;*/
        /*left: 7px; */
      /*}*/

.profile-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: relative;
  border-width: 1px;
  border-style: solid; }

.navigation {
  background-color: #56514E;
  width: 70px;
  font-size: 1.3em;
  transition: width .5s; }
  .navigation .nav-items li {
    padding: 20px;
    color: white; }
    .navigation .nav-items li:hover {
      background-color: #938376;
      cursor: pointer; }
  .navigation .col-md-9 {
    width: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, width .5s; }
  .navigation .col-md-3 {
    width: 100%;
    text-align: center; }
  .navigation:hover {
    width: 200px;
    transition: width .5s; }
    .navigation:hover .col-md-9 {
      opacity: 1;
      width: 75%;
      visibility: visible;
      transition: opacity .5s .2s, width .5s; }
    .navigation:hover small {
      text-align: left; }
    .navigation:hover .col-md-3 {
      width: 25%; }

@media (max-width: 767px) {
  .navigation {
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    right: -201px;
    z-index: 9999;
    transition: .5s; }
    .navigation .col-md-9 {
      opacity: 1;
      width: 100%;
      visibility: visible;
      height: auto;
      text-align: center; }
    .navigation:hover .col-md-3 {
      width: 100%; }
    .navigation:hover .col-md-9 {
      width: 100%; }
    .navigation .menu {
      margin: 20px 0; }
      .navigation .menu .col-xs-4 {
        display: flex;
        justify-content: center; }

  .mobile-nav-active {
    right: 0; } }
.return-mobile {
  color: white;
  font-size: 1.4em; }

.main {
  position: relative;
  width: 100%;
  min-height: calc(100% - 135px);
  overflow: visible;
  display: flex;
  align-items: stretch;
  justify-content: flex-start; }
  .main .container-fluid {
    width: 100%;
    padding-top: 10px; }

@media (max-width: 767px) {
  .main {
    min-height: 710px; } }
.paginator .wrapper {
  margin-top: 40px;
  font-size: 1.5em;
  text-align: center; }
  .paginator .wrapper .arrow-up {
    margin-bottom: 50px; }
  .paginator .wrapper .arrow-down {
    margin-top: 50px; }
  .paginator .wrapper ul li {
    margin: 15px 0; }
  .paginator .wrapper ul .active {
    color: #66c0ab; }
  .paginator .wrapper .fa:hover {
    color: #66c0ab;
    cursor: pointer; }

@media (max-width: 767px) {
  .paginator .wrapper {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .paginator ul li {
    display: inline-block !important;
    margin: 0 10px !important; }
  .paginator .arrow-up {
    display: inline-block;
    margin-bottom: 0 !important; }
  .paginator .arrow-down {
    margin-top: 0 !important; }
  .paginator .fa {
    font-size: 1.3em; }
  .paginator .fa-chevron-down:before {
    content: "\f054"; }
  .paginator .fa-chevron-up:before {
    content: "\f053"; } }
.section {
  border-left: 1px #979797 solid;
  padding: 0 15px;
  display: none;
  transition: opacity 2s;
  margin-bottom: 30px; }
  .section h1 {
    font-size: 1.5em;
    color: #66c0ab;
    margin-top: 10px; }
  .section.active {
    display: block; }

.section-no-border {
  border: none; }

@media (max-width: 767px) {
  .section {
    border: none;
    margin-top: 15px; }
    .section h1 {
      margin: 0 !important; } }
.form input, .form textarea {
  background-color: transparent;
  box-shadow: none;
  border-radius: 2px; }
  .form input:focus, .form textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1px #66c0ab solid; }
.form input.error {
  border-bottom: 1px #F47B21 solid; }
.form .error {
  color: #F47B21; }
.form label:hover {
  color: #66c0ab; }
.form .radio {
  margin-top: 25px; }
  .form .radio label {
    display: inline; }

.btn {
  border-radius: 15px / 50%;
  border: none;
  background-color: #33396f;
  color: white;
  font-size: .8em;
  padding: 10px 40px;
  position: relative;
  transition: .5s; }
  .btn.active {
    background-color: #66c0ab; }
  .btn:hover {
    color: #2B305E;
    background-color: #47ac95; }
  .btn:focus {
    color: white;
    outline: none; }

.btn-green {
  padding: 10px 40px;
  background-color: #66c0ab; }

.btn-blue {
  padding: 10px 40px;
  background-color: #4990E2; }

.btn-orange {
  padding: 10px 40px;
  background-color: #F47B21; }

.btn-next:after {
  position: absolute;
  right: 15px;
  top: 1em;
  content: "\f054";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

.btn-previous:after {
  position: absolute;
  left: 15px;
  top: 1em;
  content: "\f053";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased; }

@media (max-width: 767px) {
  .btn-previous {
    float: none !important; } }
.btn-check:after {
  position: absolute;
  right: 15px;
  top: 1em;
  content: "\f00c";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transition: color 1s;
  transition: padding 1s; }

.btn-saved {
  background-color: #66c0ab;
  cursor: default; }

.btn-small {
  padding: 10px 20px; }

/*.main {
  max-width: 1500px; }*/

.logo-upload {
  border: 1px #979797 dashed;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
  margin-bottom: 15px;
  cursor: pointer;
  margin-top: 20px; }
  .logo-upload span {
    font-size: 3em;
    padding: 40px; }

.table tbody tr td {
  vertical-align: middle;
  border-top-color: #66c0ab; }

.bread-crumb-title {
  padding-left: 15px; }
  .bread-crumb-title h4 {
    display: inline-block; }
  .bread-crumb-title h1 {
    display: inline-block;
    margin-left: 20px; }

.search-group {
  position: relative; }
  .search-group .dropdown-search {
    width: 450px;
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 9999; }
    .search-group .dropdown-search li {
      margin-bottom: 10px; }

@media (max-width: 767px) {
  .search-group .dropdown-search {
    width: 85%; } }
.pagination {
  margin-top: 0; }
  .pagination li a {
    color: #4A4A4A; }

.pagination-wrapper {
  display: flex;
  justify-content: flex-end; }

@media (max-width: 767px) {
  .pagination-wrapper {
    justify-content: center; } }
.badge-success {
  background-color: #66c0ab; }

.badge-alert {
  background-color: #F47B21; }

.badge-danger {
  background-color: #cc0000; }

.btn-search {
  padding-left: 70px;
  padding-right: 70px; }

.panel-footer {
  background-color: white; }

.label {
  font-size: 85%; }

.label-success {
  background-color: #66c0ab; }

.label-danger {
  background-color: #F47B21; }

.mleft-15 {
  margin-left: 15px; }

.mleft-10 {
  margin-left: 15px; }

.mleft-5 {
  margin-left: 5px; }

.mtop10 {
  margin-top: 10px; }

.mtop20 {
  margin-top: 20px; }

.mtop30 {
  margin-top: 30px; }

.mbottom20 {
  margin-bottom: 20px; }

.mright-20 {
  margin-right: 20px; }

.event-blue {
  background-color: #4990E2;
  color: white;
  border: none; }
  .event-blue h2 {
    color: white; }

.event-orange {
  background-color: #F47B21;
  color: white;
  border: none; }
  .event-orange h2 {
    color: white; }

.event-green {
  background-color: #66c0ab;
  color: white;
  border: none; }
  .event-green h2 {
    color: white; }

.event-red {
  background-color: #cc0000;
  color: white;
  border: none; }
  .event-red h2 {
    color: white; }

.event-gray {
  background-color: #7F7E7E;
  color: #F1F1F1;
  border: none; }
.event-gray h2 {
  color: #F1F1F1; }

.no-margin {
  margin: 0; }

.page-enter-active, .page-leave-active {
  transition: all .3s ease;
}
.page-enter, .page-leave-to {
  transform: translateX(10px);
  opacity: 0;
}

.slide-leave-active,
.slide-enter-active {
  transition: 0.5s;
}
.slide-enter {
  transform: translate3d(0, 50%, 0);
  visibility: visible;
}
.slide-leave-to {
  transform: translate3d(0, 0, 0);
}
