.flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

body {
  background: radial-gradient(farthest-side at 50% 0%, #938376 0%, #62564D 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top; }

label {
  font-size: 1.2em; }

.container {
  display: flex;
  align-items: center;
  height: 100%; }

.login-panel {
  width: 90%;
  /*height: 100%;*/
  max-width: 1200px;
  margin: auto;
  position: relative; }
  .login-panel .row:first-child {
    /*height: 100%;*/
    display: flex;
    align-items: center; }

.progress-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .progress-wrapper .progress {
    width: 80%;
    margin: 0; }
  .progress-wrapper .progress-bar-orange {
    background-color: #F47B21; }

@media (max-width: 767px) {
  .progress-wrapper .progress {
    width: 50%; }

  #btn-prev {
    float: none !important; } }
.banner {
  min-height: 650px;
  position: relative;
  background-color: white; }
  .banner.green {
    background-color: #66c0ab;
    color: white; }
  .banner.dark {
    background-image: radial-gradient(farthest-side at 50% 100%, #2B305E 0%, #252A51 100%); }
  .banner.left {
    border-radius: 5px 0 0 5px;
    text-align: center;
    width: 20%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; }
  .banner.right {
    width: 80%;
    padding: 25px;
    border-radius: 0 5px 5px 0; }

@media (max-width: 767px) {
  .banner {
    min-height: 95%; }
    .banner.right {
      width: 100%; } }
.conclusion-message {
  margin-top: 100px;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.active {
  color: #F47B21 !important; }

.paginator .wrapper .fa:hover {
  color: #F47B21 !important; }

.paginator .wrapper {
  margin-top: 0; }

h4 {
  color: white; }

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .form h4 {
    align-self: flex-end;
    color: #F47B21; }
  .form h5 {
    color: #4A4A4A; }
  .form a {
    cursor: pointer; }
  .form input {
    border: none;
    border-radius: 0;
    border-bottom: 1px #66c0ab solid; }
    .form input:focus {
      border: none !important;
      border-bottom: 1px #66c0ab solid !important; }
  .form .form-group {
    display: none; }
    .form .form-group.ativa {
      display: block; }
  .form .resumo {
    font-size: 1.2em;
    display: none; }
    .form .resumo .col-md-6 {
      margin-bottom: 10px; }
    .form .resumo strong {
      color: #66c0ab;
      font-weight: 400; }

@media (max-width: 767px) {
  .form .resumo .col-md-6 {
    margin-bottom: 0; } }
.step-done {
  color: #F47B21; }

.loading {
  background: url('../img/spinner.gif') no-repeat center center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
