.flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

/* .logo-upload {
  margin-top: 60px;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around; } */

/* @media (max-width: 767px) {
  .logo-upload {
    margin-top: 20px; } } */
.section {
  border: none; }

/* .profile-img {
  border-color: #F47B21;
  width: 40px; } */

/* .logo-upload {
  border: none;
  position: relative; }
  .logo-upload .profile-img {
    width: 100%; }
  .logo-upload:after {
    content: '\f040';
    font-family: 'FontAwesome';
    font-size: .8em;
    color: white;
    padding: 7px 10px;
    background-color: #F47B21;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: -10px; } */
