<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Agora, precisamos de suas medidas para continuar.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)" id="step1">
            <label for="">Qual sua altura e peso?</label>
            <div class="row mtop20">
              <div class="col-md-6">
                Altura <input type="number" name="height" id="height" v-mask="'9.99'" v-model="form.height" class="form-control startform">
              </div>
              <div class="col-md-6">
                Peso <input type="number" name="weight" id="weight" v-model="form.weight" v-mask="weightMask" @input="weightUpdate" maxlength="6" class="form-control">
              </div>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="step2">
            <label for="">Certo, agora precisamos algumas medidas suas.</label>
            <div class="row mtop20">
              <div class="col-xs-6 col-sm-6 col-md-3">
                Camisa <input type="text" name="shirt" id="shirt" v-model="form.shirt" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                Terno <input type="text" name="suit" id="suit" v-model="form.suit" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                Calçado <input type="text" name="shoes" id="shoes" v-model="form.shoes" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-3">
                Torax <input type="text" name="chest" id="chest" v-model="form.chest" v-mask="numberMask" class="form-control">
              </div>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)" id="step3">
            <label for="">Certo, agora precisamos algumas medidas suas.</label>
            <div class="row mtop20">
              <div class="col-xs-6 col-sm-6 col-md-4">
                Soutien <input type="text" name="bra" id="bra" v-model="form.bra" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4">
                Busto <input type="text" name="bust" id="bust" v-model="form.bust" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4">
                Cintura <input type="text" name="waist" id="waist" v-model="form.waist" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4">
                Quadril <input type="text" name="hip" id="hip" v-model="form.hip" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4">
                Coxas <input type="text" name="thighs" id="thighs" v-model="form.thighs" v-mask="numberMask" class="form-control">
              </div>
              <div class="col-xs-6 col-sm-6 col-md-4">
                Manequim <input type="text" name="dummy" id="dummy" v-model="form.dummy" v-mask="numberMask" class="form-control">
              </div>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===4) }" v-show="(step===4)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Altura</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step1" class="pull-right info" @click.prevent="changeStep(1)">{{form.height || 0}} m</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Peso</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step1" class="pull-right info" @click.prevent="changeStep(1)">{{form.weight || 0}} Kg</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Camisa</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step2" class="pull-right info" @click.prevent="changeStep(2)">{{form.shirt || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Terno</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step2" class="pull-right info" @click.prevent="changeStep(2)">{{form.suit || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Calçado</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step2" class="pull-right info" @click.prevent="changeStep(2)">{{form.shoes || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Manequim</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step3" class="pull-right info" @click.prevent="changeStep(3)">{{form.dummy || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Soutien</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step3" class="pull-right info" @click.prevent="changeStep(3)">{{form.bra || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Busto</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step3" class="pull-right info" @click.prevent="changeStep(3)">{{form.bust || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Torax</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step2" class="pull-right info" @click.prevent="changeStep(2)">{{form.chest || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Cintura</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step3" class="pull-right info" @click.prevent="changeStep(3)">{{form.waist || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Quadril</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step3" class="pull-right info" @click.prevent="changeStep(3)">{{form.hip || '--'}}</a>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <strong>Coxas</strong>
              </div>
              <div class="col-xs-6 col-md-6 col-md-6">
                <a data-target="step3" class="pull-right info" @click.prevent="changeStep(3)">{{form.thighs || '--'}}</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15"
                id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="measures"
                data-next="/model/step6"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import mixinSteps from '~/mixins/steps'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    numberMask: 999,
    weightMask: '99.99',
    form: {
      height: '',
      weight: '',
      shirt: '',
      suit: '',
      shoes: '',
      dummy: '',
      bra: '',
      bust: '',
      chest: '',
      waist: '',
      hip: '',
      thighs: ''
    },
    totalSteps: 4
  }),
  methods: {
    weightUpdate (ev) {
      if (ev.target.value.length > 3) {
        this.weightMask = '999.99'
      } else {
        this.weightMask = '99.99'
      }
    },
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'measures', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  mounted () {
    setTimeout(() => {
      let { modelMeasurements } = this.model.model
      if (modelMeasurements) {
        this.form = Object.assign(this.form, modelMeasurements)
      }
    }, 200)
  }
}
</script>
