<template>
  <div>
    <div class="card-block" style="height: 390px;">
      <h5>Foto</h5>
      <!-- <img src="~/assets/img/portrait.jpg" alt="" width="100%" style="width: 690px; height: 690px;"> -->
      <img :src="photo" alt="" style="width: 100%; max-height: 390px">
      <picture-input
        ref="pictureInput"
        @change="onChange"
        accept="image/jpeg,image/png"
        size="1" v-show="false"
        :custom-strings="{ fileSize: 'O tamanho do arquivo excede o limite' }">
      </picture-input>
    </div>
    <div class="card-block menu">
      <a href="javascript:void(0);" @click="onChangeImage"><span class="fa fa-upload"></span> Upload</a>
    </div>
  </div>
</template>

<script>
  import modelService from '~/services/models.js'
  export default {
    name: 'MmPhoto',
    props: ['fetch'],
    computed: {
      photo () {
        return this.fetch.photo
      }
    },
    methods: {
      onChange (photo) {
        this.$store.commit('FETCH_MODEL_PHOTO', photo)
        modelService.updatePhoto(this.fetch.id, photo)
      },
      onChangeImage () {
        this.$refs.pictureInput.onClick()
      }
    }
  }
</script>
