<template>
  <div>
    <div class="card-block">
      <h5>Medidas</h5>
      <ul class="list-inline">
        <li><strong>Altura</strong><span>{{measures.height}} m</span></li>
        <li><strong>Peso</strong><span>{{measures.weight}} Kg</span></li>
        <li><strong>Camisa</strong><span>{{measures.shirt}}</span></li>
        <li><strong>Terno</strong><span>{{measures.suit}}</span></li>
        <li><strong>Calçado</strong><span>{{measures.shoes}}</span></li>
        <li><strong>Manequim</strong><span>{{measures.dummy}}</span></li>
        <li><strong>Soutien</strong><span>{{measures.bra}}</span></li>
        <li><strong>Busto</strong><span>{{measures.bust}}</span></li>
        <li><strong>Torax</strong><span>{{measures.chest}}</span></li>
        <li><strong>Cintura</strong><span>{{measures.waist}}</span></li>
        <li><strong>Quadril</strong><span>{{measures.hip}}</span></li>
        <li><strong>Coxas</strong><span>{{measures.thighs}}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="#" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <measures-modal v-if="open" :open="open" :data="measures" @close="open=false"></measures-modal>
  </div>
</template>

<script>
  import MeasuresModal from './modal.vue'
  export default {
    name: 'MmMeasures',
    props: ['fetch'],
    components: {
      MeasuresModal
    },
    computed: {
      measures () {
        return this.fetch.modelMeasurements || {
          height: 0.00,
          weight: 0,
          shirt: 0,
          suit: 0,
          shoes: 0,
          dummy: 0,
          bra: 0,
          bust: 0,
          chest: 0,
          waist: 0,
          hip: 0,
          thighs: 0
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
