<template>
  <modal v-model="openModal" title="Medidas" @hide="dismissCallback" ref="modal" id="modalEndereco" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="height">Altura</label>
            <input type="text" name="height" id="height" v-mask="'9.99'" v-model="form.height" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="weight">Peso</label>
            <input type="text" name="weight" id="weight" v-model="form.weight" v-mask="'999'" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="shirt">Camisa</label>
            <input type="text" name="shirt" id="shirt" v-model="form.shirt" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="suit">Terno</label>
            <input type="text" name="suit" id="suit" v-model="form.suit" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="shoes">Calçado</label>
            <input type="text" name="shoes" id="shoes" v-model="form.shoes" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="dummy">Manequim</label>
            <input type="text" name="dummy" id="dummy" v-model="form.dummy" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="bra">Soutien</label>
            <input type="text" name="bra" id="bra" v-model="form.bra" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="bust">Busto</label>
            <input type="text" name="bust" id="bust" v-model="form.bust" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="chest">Torax</label>
            <input type="text" name="chest" id="chest" v-model="form.chest" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="waist">Cintura</label>
            <input type="text" name="waist" id="waist" v-model="form.waist" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hip">Quadril</label>
            <input type="text" name="hip" id="hip" v-model="form.hip" v-mask="numberMask" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="thighs">Coxas</label>
            <input type="text" name="thighs" id="thighs" v-model="form.thighs" v-mask="numberMask" class="form-control">
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
import modelService from '~/services/models.js'
import { mapState } from 'vuex'
export default {
  name: 'MeasuresModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        height: 0.00,
        weight: 0,
        shirt: 0,
        suit: 0,
        shoes: 0,
        dummy: 0,
        bra: 0,
        bust: 0,
        chest: 0,
        waist: 0,
        hip: 0,
        thighs: 0
      }
    }
  },
  data: () => ({
    numberMask: 999,
    openModal: false,
    form: {}
  }),
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let modelId = this.modelSelected.id

          modelService.saveMeasures(modelId, this.form).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Medidas atualizadas!' }).then(() => {
              this.$store.commit('FETCH_MODEL_MEASURES', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
  }
}
</script>
