<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Usuários</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-no-border active">
          <div class="row search-group">
            <button class="btn btn-search pull-right mleft-15 mright-20" type="button" id="btn-search" data-toggle="dropdown-search" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-search"></span>
            </button>
            <nuxt-link :to="{ name: 'users-store-id' }" class="btn btn-green pull-right"><span class="fa fa-plus"></span> Novo Usuário</nuxt-link>
            <div class="panel panel-default dropdown-search collapse" id="dropdown-search">
              <div class="panel-body">
                <form>
                  <ul class="list-unstyled">
                    <li>
                      <div class="form-group">
                        <label for="" >Nome</label>
                        <input type="text" name="name" v-model="filter.name" focus class="form-control search-input" autocomplete="off">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="email" >Email</label>
                        <input type="text" name="email" v-model="filter.email" class="form-control search-input" autocomplete="off">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="roles" >Perfil</label>
                        <select class="form-control search-select" name="roles" v-model="filter.roles">
                          <option value="">Selecione:</option>
                          <option v-for="role in roles"
                                  :key="role.role"
                                  :value="role.role" >
                                  {{ role.name }}
                          </option>
                        </select>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="" >Status</label>
                        <select class="form-control search-select" name="enabled" v-model="filter.enabled">
                          <option value="">Ambos</option>
                          <option value="1">Ativos</option>
                          <option value="0">Inativos</option>
                        </select>
                      </div>
                    </li>
                    <div class="panel-footer">
                      <button type="button" name="button" class="btn pull-right mleft-15" id="btn-filter" data-toggle="dropdown-search" @click.prevent="onSearch">Filtrar</button>
                      <button type="button" name="button" class="btn btn-green pull-right" id="btn-clear" data-toggle="dropdown-search" @click.prevent="fetch">Limpar</button>
                    </div>
                  </ul>
                </form>
              </div>
            </div>
          </div>
          <table class="table table-hover hidden-xs hidden-sm">
            <thead>
              <tr>
                <!--<th></th>-->
                <th>Nome</th>
                <th>Email</th>
                <th>Perfil</th>
                <th>Status</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user in paginateItems"
                  :key="user.id">
                <!--<td><img src="~/assets/img/portrait.jpg" :alt="user.firstname" class="profile-img"></td>-->
                <td>{{ user.name  }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles | mapRoles(roles) }}</td>
                <td>
                  <span class="label label-success" v-if="user.enabled">Ativo</span>
                  <span class="label label-danger" v-else>Inativo</span>
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="fa fa-bars"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li><router-link :to="{ name: 'users-store-id', params: { id: user.id } }"><span class="fa fa-edit"></span> Editar</router-link></li>
                      <li role="separator" class="divider"></li>

                      <li v-if="user.enabled"><a href="javascript: void(0)" @click="changeStatus(user.id, false)"><span class="fa fa-close"></span> Inativar</a></li>
                      <li v-else><a href="javascript: void(0)" @click="changeStatus(user.id, true)"><span class="fa fa-check"></span> Ativar</a></li>

                    </ul>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table table-hover visible-xs visible-xs">
            <thead>
              <tr>
                <th>Usuário</th>
                <th></th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="user in paginateItems"
                  :key="user.id">
                <!--<td><img src="~/assets/img/portrait.jpg" :alt="user.firstname" class="profile-img"></td>-->
                <td>
                  <span class="label label-success" v-if="user.enabled">Ativo</span>
                  <span class="label label-danger" v-else>Inativo</span>&nbsp;
                  <b>{{ user.name  }}</b><br>
                  {{ user.email }}<br>
                  {{ user.roles | mapRoles(roles) }}
                </td>
                <td>
                  <div class="dropdown">
                    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      <span class="fa fa-bars"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                      <li><router-link :to="{ name: 'users-store-id', params: { id: user.id } }"><span class="fa fa-edit"></span> Editar</router-link></li>
                      <li role="separator" class="divider"></li>

                      <li v-if="user.enabled"><a href="javascript: void(0)" @click="changeStatus(user.id, false)"><span class="fa fa-close"></span> Inativar</a></li>
                      <li v-else><a href="javascript: void(0)" @click="changeStatus(user.id, true)"><span class="fa fa-check"></span> Ativar</a></li>

                    </ul>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

          <p class="text-center" v-show="total === 0">Nenhum registro encontrado.</p>

          <nav aria-label="Page navigation" class="pagination-wrapper" v-show="isVisible">
            <paginate
              :page-count="totalPages"
              :prev-text="'Anterior'"
              :next-text="'Próxima'"
              :click-handler="getPaginatedItems"
              :container-class="'pagination'">
            </paginate>
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { search } from '~/plugins/search.js'
import { map, find } from 'lodash'
import serviceUsers from '~/services/user'
import paginate from '~/mixins/paginate'

export default {
  name: 'Users',
  middleware: 'auth',
  mixins: [paginate],
  data: () => ({
    filter: {
      name: '',
      email: '',
      roles: '',
      enabled: ''
    }
  }),
  computed: {
    ...mapGetters([
      'roles',
      'users'
    ]),
    items () {
      return this.users
    }
  },
  filters: {
    mapRoles (value, _roles) {
      if (!value) {
        return ''
      }
      let roles = map(value.data, r => {
        return find(_roles, { 'role': r.name }).name
      })
      return roles.join(', ')
    }
  },
  methods: {
    fetch () {
      this.$store.dispatch('getUsers')
    },
    onSearch () {
      this.$store.dispatch('getUsers', this.filter)
    },
    changeStatus (id, enabled) {
      let status = enabled ? 'enable' : 'disable'
      serviceUsers.changeStatus(id, status).then(data => {
        const enabledValue = enabled ? 'ativado' : 'inativado'
        this.$swal('Sucesso!', 'Usuário ' + enabledValue + ' com sucesso!', 'success')
          .then(() => this.$store.dispatch('getUsers'))
      })
    }
  },
  created () {
    this.fetch()
  },
  mounted () {
    search()
  }
}
</script>
