<template>
  <div class="dropdown">
    <button class="btn btn-small dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <span class="fa fa-bars"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
      <li><nuxt-link :to="{ name: 'jobs-store-id', params: { id: job.id } }"><span class="fa fa-edit"></span> Editar</nuxt-link></li>
      <li><a href="javascript: void(0)" @click="duplicate(job.id)"><span class="fa fa-copy"></span> Duplicar</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="javascript: void(0)" @click="destroy(job.id)"><span class="fa fa-close"></span> Excluir</a></li>
    </ul>
  </div>
</template>


<script type="text/javascript">
  import { ModalSchedule, ModalEvent } from '~/components/castings/modals'
  // import jobService from '~/services/jobs/jobs'
  export default {
    name: 'Actions',
    props: ['job'],
    components: {
      ModalSchedule,
      ModalEvent
    },
    data: () => ({
      openSchedule: false,
      openEvent: false
    }),
    methods: {
      duplicate () {
        let vm = this
        this.$nuxt.$loading.start()
        this.$store.commit('FETCH_JOBS_DUPLICATE', this.job)
        setTimeout(function () {
          vm.$router.push({ name: 'jobs-store-id' })
          this.$nuxt.$loading.finish()
        }, 500)
      },
      destroy (id) {
        this.$swal({
          title: 'Deseja excluir?',
          text: 'Depois não será possível reverter.',
          icon: 'warning',
          buttons: {
            cancel: {
              text: 'Cancelar',
              value: null,
              visible: true,
              closeModal: true
            },
            confirm: {
              text: 'Apagar',
              value: true,
              visible: true,
              closeModal: true
            }
          },
          dangerMode: true
        }).then((willDelete) => {
          if (willDelete) {
            this.$store.dispatch('jobs/destroy', { id: id })
            this.$swal('Job excluído com sucesso!', {
              icon: 'success'
            })
          }
        })
      },
      openModalSchedule (casting) {
        this.openSchedule = true
        // this.$store.commit('FETCH_CASTING_SELECT', casting)
      },
      formEvent () {
        this.openEvent = true
      }
    }
  }
</script>
