<template>
  <span class="label" :class="classBadge">{{label}}</span>
</template>

<script type="text/javascript">
export default {
  name: 'MmStatusJob',
  props: ['status'],
  data: () => ({
    label: ''
  }),
  computed: {
    classBadge () {
      let status = this.status
      let className = ''
      switch (status) {
        case 'CASTING': {
          className = 'label-primary'
          this.label = 'Casting'
          break
        }
        case 'WAITING_APPROVAL': {
          className = 'label-info'
          this.label = 'Aguardando Aprovação'
          break
        }
        case 'APPROVED': {
          className = 'label-success'
          this.label = 'Aprovado'
          break
        }
        case 'COMPLETED': {
          className = 'label-success'
          this.label = 'Completo'
          break
        }
        case 'CANCELED':
        default: {
          className = 'label-default'
          this.label = 'Cancelado'
        }
      }
      return className
    }
  }
}
</script>
