<template>
  <div>
    <div class="card-block">
      <h5>Experiência Profissional</h5>
      <ul class="list-inline">
        <!-- <li><strong>Outras agências</strong><span>{{profissional.hasOtherAgencies | yesOrNo}}</span></li> -->
        <li><strong>Agências</strong><span>{{profissional.otherAgencies || '--'}}</span></li>
        <li><strong>Material profissional</strong><span>{{profissional.hasProfessionalMaterial | yesOrNo}}</span></li>
        <li><strong>Fotos e Vídeos publicitários</strong><span>{{profissional.hasPhotosAndVideos | yesOrNo}}</span></li>
        <li><strong>Experiência internacional</strong><span>{{profissional.internacionalExperiences || '--' }}</span></li>
        <li><strong>Emprego fixo</strong><span>{{profissional.employed | yesOrNo}}</span></li>
        <li><strong>Empresa</strong><span>{{profissional.companyName || '--'}}</span></li>
        <li><strong>Área de atuação</strong><span>{{profissional.workingArea || '--'}}</span></li>
        <li><strong>Habilidades</strong><span>{{profissional.skills || '--'}}</span></li>
        <li><strong>Horário(s)</strong><span>{{ profissional.availability | join(', ') }}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="javascript:void(0)" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <professional-modal v-if="open" :open="open" :data="profissional" @close="open=false"></professional-modal>
  </div>
</template>

<script>
  import ProfessionalModal from './modal.vue'

  export default {
    name: 'MmProfessional',
    props: ['fetch'],
    components: {
      ProfessionalModal
    },
    computed: {
      profissional () {
        return this.fetch.modelExperience || {
          hasProfessionalMaterial: false,
          hasPhotosAndVideos: false,
          // hasOtherAgencies: false,
          otherAgencies: '',
          availability: '',
          internacionalExperiences: '',
          employed: false,
          companyName: '',
          workingArea: '',
          skills: ''
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
