<template>
  <modal v-model="openModal" title="Experiência Profissional" @hide="dismissCallback" ref="modal" id="modalFormacao" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
<!--         <div class="col-md-3">
          <div class="form-group">
            <label for="hasOtherAgencies">Outras Agências</label>
            <select class="form-control" name="hasOtherAgencies" id="hasOtherAgencies">
              <option :value="hasOtherAgencies">Sim</option>
              <option :value="hasOtherAgencies">Não</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-5" >
          <div class="form-group">
            <label for="otherAgencies">Agências</label>
            <input type="text" name="otherAgencies" id="otherAgencies" v-model="form.otherAgencies" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="hasProfessionalMaterial">Material Profissional</label>
            <select class="form-control" name="hasProfessionalMaterial" id="hasProfessionalMaterial" v-model="form.hasProfessionalMaterial">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="hasPhotosAndVideos">Fotos e Vídeos Publicitários</label>
            <select class="form-control" name="hasPhotosAndVideos" id="hasPhotosAndVideos" v-model="form.hasPhotosAndVideos">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="internacionalExperiences">Experiência Internacional</label>
            <input type="text" name="internacionalExperiences" id="internacionalExperiences" v-model="form.internacionalExperiences" class="form-control">
<!--             <select class="form-control" name="internacionalExperiences" id="internacionalExperiences" v-model="form.internacionalExperiences">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="employed">Emprego Fixo</label>
            <select class="form-control" name="employed" id="employed" v-model="form.employed">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="companyName">Empresa</label>
            <input type="text" name="companyName" id="companyName" v-model="form.companyName" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="workingArea">Área de Atuação</label>
            <input type="text" name="workingArea" id="workingArea" v-model="form.workingArea" class="form-control">
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <label for="skills">Habilidades</label>
            <textarea name="skills" id="skills" v-model="form.skills" rows="4" cols="80" class="form-control"></textarea>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label for="availability">Horários</label><br>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Manhã" id="manha" v-model="form.availability" > Manhã
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Tarde" id="tarde" v-model="form.availability"> Tarde
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Noite" id="noite" v-model="form.availability"> Noite
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Flexível" id="flexivel" v-model="form.availability"> Flexível
            </label>
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
import modelService from '~/services/models.js'
import { mapState } from 'vuex'

export default {
  name: 'GraduationModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        hasProfessionalMaterial: false,
        hasPhotosAndVideos: false,
        otherAgencies: '',
        availability: [],
        internacionalExperiences: '',
        employed: false,
        companyName: '',
        workingArea: '',
        skills: ''
      }
    }
  },
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  data: () => ({
    openModal: false,
    form: {}
  }),
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let { hasProfessionalMaterial, hasPhotosAndVideos, otherAgencies, availability, internacionalExperiences, employed, companyName, workingArea, skills } = this.form
          let modelId = this.modelSelected.id

          modelService.saveExperience(modelId, { hasProfessionalMaterial, hasPhotosAndVideos, otherAgencies, availability, internacionalExperiences, employed, companyName, workingArea, skills }).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Experiência profissional atualizada!' }).then(() => {
              this.$store.commit('FETCH_MODEL_EXPERIENCE', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
  }
}
</script>
