<template>
  <div>
    <div class="card-block">
      <h5>Responsável</h5>
      <ul class="list-inline">
        <li><strong>Nome</strong><span>{{ representative.fullName || '--' }}</span></li>
        <li><strong>CPF</strong><span>{{ representative.cpf || '--' }}</span></li>
        <li><strong>RG</strong><span>{{ representative.rg || '--' }}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="javascript:void(0)" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <representative-modal v-if="open" :open="open" :data="representative" @close="open=false"></representative-modal>
  </div>
</template>

<script>
  import RepresentativeModal from './modal.vue'
  import { mapGetters } from 'vuex'
  export default {
    name: 'MmRepresentative',
    props: ['fetch'],
    components: {
      RepresentativeModal
    },
    computed: {
      ...mapGetters(['hasOfAge']),
      representative () {
        return this.fetch.modelRepresentative || {
          cpf: '',
          fullName: '',
          rg: ''
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
