<template>
  <modal v-model="openModal" title="Responsável" @hide="dismissCallback" ref="modal" id="modalRepresentative" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">Nome</label>
            <input type="text" name="fullName" v-model="form.fullName" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="">CPF</label>
            <input type="text" name="cpf" v-model="form.cpf" v-mask="'999.999.999-99'" class="form-control">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="">RG</label>
            <input type="text" name="rg" v-model="form.rg" class="form-control">
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script type="text/javascript">
import modelService from '~/services/models.js'
import { mapState } from 'vuex'

export default {
  name: 'RepresentativeModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        cpf: '',
        fullName: '',
        rg: '',
        id: 0
      }
    }
  },
  data: () => ({
    openModal: false,
    form: {}
  }),
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let { cpf, fullName, rg } = this.form
          let modelId = this.modelSelected.id

          modelService.saveRepresentative(modelId, { cpf, fullName, rg }).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Responsável atualizado!' }).then(() => {
              this.$store.commit('FETCH_MODEL_REPRESENTATIVE', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.form = Object.assign({}, this.data)
  }
}
</script>
