<template>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header flex align-center event-orange">
        <img src="img/portrait.jpg" alt="Imagem" class="profile-img" style="height: 60px" data-toggle='tooltip' data-placement='top' title='João da Silva'>
        <h2 class="modal-title mleft-15">João da Silva</h2>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12" style="height: 400px;">
            <div id='calendar-mini'></div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</template>