<template>
  <div class="container">
    <div class="login-panel">
      <div class="row">
        <div class="col-sm-12 banner right">
          <nuxt />
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  export default {
  }
</script>
<style src="assets/css/login.css"></style>
