<template>
  <div class="body">
    <mm-header />
    <mini-dashboard />
    <main class="main">
      <navigation />
      <div class="container-fluid">
        <nuxt/>
      </div>
    </main>
  </div>
</template>

<script type="text/javascript">
  import MmHeader from '~/components/layout/mmheader.vue'
  import MiniDashboard from '~/components/layout/mini-dashboard.vue'
  import Navigation from '~/components/layout/navigation.vue'

  export default {
    name: 'default',
    components: {
      MmHeader,
      MiniDashboard,
      Navigation
    }
  }
</script>

<style lang="css">
  #__nuxt, .body{
    height: 100%;
    width: 100%;
  }
</style>
