<template>
  <div class="container">
    <div class="login-panel">
      <div class="row">
        <carousel></carousel>
        <div class="col-sm-12 col-md-6 banner right">
          <buttons></buttons>
          <nuxt/>
        </div>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  import Buttons from '~/components/auth/Buttons'
  import Carousel from '~/components/auth/Carousel'
  export default {
    components: {
      Carousel, Buttons
    }
  }
</script>
<style src="assets/css/scss/login.scss" lang="scss"></style>
