<template>
  <div class="container">
    <div class="login-panel">
      <div class="row">
        <steps></steps>
        <nuxt />
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
  import Steps from '~/components/layout/steps.vue'
  import { mapGetters } from 'vuex'
  export default {
    name: 'Wizard',
    components: {
      Steps
    },
    computed: mapGetters(['modelSelected']),
    mounted () {
      let id = this.$route.params.token || localStorage.idModel
      if (typeof id !== 'undefined') {
        this.$store.dispatch('loadingModel', id)
      } else {
        window.location = '/404'
      }
    }
  }
</script>

<style src="assets/css/modelo.css"></style>
