<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Ufa! Chegamos a última etapa. Vamos registrar seus dados bancários.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)" id="holder">
            <label for=''>Você é titular de sua conta?</label><br>
            <label class="radio-inline mleft-15 formstart">
              <input type="radio" name="holder" v-model="form.holder" v-focus="step===1" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="holder" v-model="form.holder" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="holderName">
            <label for=''>Nome do titular.</label>
            <input type="text" name="holderName" id="holderName" v-model="form.holderName" v-focus="step===2" class="form-control">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)">
            <label for='bankName'>Qual banco você trabalha?</label>
            <select class="form-control"
                    name="bankName"
                    id="bankName"
                    v-model="form.bankName">
              <option value=''>Selecione</option>
              <option v-for="bank in banks"
                      :value="bank.name">
                      {{ bank.code || 'N/A' }} - {{ bank.name }}
              </option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===4) }" v-show="(step===4)">
            <label for='agency'>Agora seus dados bancários.</label>
            <div class="row mtop20">
              <div class="col-md-6">
                Agência <input type="text" name="agency" id="agency" v-model="form.agency" class="form-control">
              </div>
              <div class="col-md-6">
                Conta <input type="text" name="number" id="number" v-model="form.number" class="form-control">
              </div>
            </div>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===5) }" v-show="(step===5)">
            <label for='type'>Qual o tipo da sua conta?</label><br>
            <label class="radio-inline mleft-15 formstart">
              <input type="radio" name="type" v-model="form.type" value="CC"> Conta-corrente
            </label>
            <label class="radio-inline">
              <input type="radio" name="type" v-model="form.type" value="CP"> Conta-poupança
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===6) }" v-show="(step===6)">
            <label for='document'>Se possui CNPJ, preencha o número dele.</label>
            <input type="text" name="document" id="document" v-mask="'99.999.999/9999-99'" v-model="form.document" v-focus="step===6" class="form-control">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===7) }" v-show="(step===7)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>

            <div class="row mtop30">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Titular da conta</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="holderName" class="pull-right info" @click.prevent="changeStep(2)">{{ form.holderName || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Banco</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="cep" class="pull-right info" @click.prevent="changeStep(3)">{{ form.bankName || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Agência</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="agency" class="pull-right info" @click.prevent="changeStep(4)">{{ form.agency || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Conta</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="agency" class="pull-right info" @click.prevent="changeStep(4)">{{ form.number || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Tipo de conta</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="type" class="pull-right info" @click.prevent="changeStep(5)">{{ form.type | accountType }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>CNPJ</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="document" class="pull-right info" @click.prevent="changeStep(6)">{{ form.document || '--' }}</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15" id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="banks"
                data-next="/model/success"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import { head, isEmpty, sortBy } from 'lodash'
import mixinSteps from '~/mixins/steps'
import febrabanBanks from '~/static/febraban_banks.json'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      bankName: '',
      bankCode: '',
      agency: '',
      number: '',
      type: 'CC',
      holderName: '',
      document: '',
      holder: true
    },
    banks: [],
    totalSteps: 7
  }),
  watch: {
    'form.bankName' (val) {
      if (isEmpty(val)) {
        this.form.bankCode = null
        return false
      }

      let bank = head(this.banks.filter(r => r.name.toLowerCase().indexOf(val)))
      this.form.bankCode = bank.code
    },
    'form.holder' (val) {
      if (val === true) {
        let { model } = this.model
        this.form.holderName = model.fullName
      }
    }
  },
  methods: {
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'banks', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  mounted () {
    this.banks = sortBy(febrabanBanks, ['code', 'name'])

    setTimeout(() => {
      let { modelBankAccount } = this.model.model
      if (modelBankAccount) {
        this.form = Object.assign(this.form, modelBankAccount)
      }
    }, 200)
  }
}
</script>
