<template>
  <form class="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="casting">Casting</label>
          <select class="form-control"
                  name="castingId"
                  v-model="castingId">
            <option value="0">Selecione</option>
            <option v-for="c in castings"
                    :key="c.id"
                    :value="c.id"
                    :disabled="c.status === 'USED'">
              {{c.description}} {{c.status === 'USED' ? '(Utilizado)' : ''}}
            </option>
          </select>
        </div>
      </div>
      <div class="col-md-2 flex justify-between">
        <nuxt-link :to="{ name: 'castings-store-id', params: { id: castingId } }"
          class="btn btn-small btn-casting"
          v-if="castingId">Editar Casting</nuxt-link>
        <nuxt-link :to="{ name: 'castings-store-id' }" class="btn btn-green btn-small btn-casting" :class="{  'mleft-15': castingId }">Novo Casting</nuxt-link>
      </div>

      <models
        :models="models"
        :casting="casting"
        :job-id="jobId">
      </models>
    </div>
  </form>
</template>

<script type="text/javascript">
import Models from './models'
import { getData } from '~/utils/get.js'
// import { mapActions, mapState } from 'vuex'
export default {
  name: 'MmCasting',
  props: ['value', 'jobId'],
  components: {
    Models
  },
  data: () => ({
    models: [],
    castingId: 0,
    castings: []
  }),
  watch: {
    castingId (val) {
      let casting = window._.find(this.castings, c => c.id === val)
      if (casting) {
        this.$emit('input', val)
        this.$emit('set-client', { clientId: casting.client.id, tradeName: casting.client.tradeName })
        this.getModels(val)
      } else {
        this.models = []
      }
    }
  },
  computed: {
    casting () {
      if (!this.castings) {
        return []
      }
      return window._.find(this.castings, c => c.id === this.value)
    }
  },
  methods: {
    getModels (castingId) {
      let getModels = this.$axios.post('api/v1/jobs-castings/models?includes=costs', { castingId: castingId, jobId: this.jobId }).then(getData)

      getModels.then((data) => {
        this.models = data
      })
    },
    getCastings () {
      let getCastings = this.$axios.get('api/v1/casting?include=client').then(getData)

      getCastings.then((data) => {
        this.castings = data.data
      })
    }
  },
  mounted () {
    this.getCastings()

    setTimeout(() => {
      this.castingId = this.value
    }, 500)
  }
}
</script>
