<template>
  <modal v-model="openModal" @hide="dismissCallback" ref="modal">
  <div slot="header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="dismissCallback"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Modelo</h4>
  </div>
  <div slot="default">
    <div class="row">
      <div class="col-md-4 col-md-offset-2 profile">
        <img :src="model.photo" class="profile-img">
        <h4>{{ model.artisticName }}</h4>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled">
          <li><strong>CPF:</strong> {{ model.cpf }}</li>
          <!-- <li><strong>Telefone:</strong> {{ model.phone }}</li>
          <li><strong>Celular:</strong> {{ model.artisticName }}</li> -->
          <li><strong>Email:</strong> {{ model.email }}</li>
        </ul>
      </div>
    </div>
    <hr>
    <form class="form">
      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-4 col-md-offset-2">
          <div class="form-group">
            <label>Cachê</label>
            <input type="text" class="form-control money" placeholder="00,00" v-model="form.commission" v-mask="'money'">
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-4">
          <div class="form-group">
            <label>Pagamento</label>
            <input type="text" v-mask="'99/99/9999'" class="form-control" name="paymentDate" v-model="form.paymentDate">
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <costs v-model="form.costs"
            :basic="true"></costs>
        </div>
      </div>
    </form>
  </div>
  <div slot="footer">
    <button type="button" class="btn btn-green" data-dismiss="modal" @click="openModal = false">Voltar</button>
    <a type="button" class="btn btn-check save" @click="save">Salvar</a>
  </div>
</modal>
</template>

<script type="text/javascript">
import Costs from '~/components/jobs/costs'
import serviceCosts from '~/services/jobs/costs'

export default {
  name: 'ModalModelCost',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    jobId: {
      type: String,
      'default': ''
    },
    casting: {
      type: Object,
      'default': {}
    },
    model: {
      type: Object,
      'default': {}
    }
  },
  components: {
    Costs
  },
  data: () => ({
    openModal: false,
    form: {
      commission: 0.00,
      paymentDate: '',
      costs: []
    }
  }),
  watch: {
    'form.paymentDate' (val) {
      this.form.paymentDate = this.$options.filters.dateFormat(val)
    }
  },
  methods: {
    save () {
      let form = this.form
      let data = { ...form, modelId: this.model.id, castingId: this.casting.id, jobId: this.jobId }
      serviceCosts.create(data).then(data => {
        this.model.cost.commission = form.commission

        this.model.cost.paymentDate = data.paymentDate

        this.model.cost.costs = data.costs.data
        this.close()
      })
    },
    dismissCallback () {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open

    this.form.commission = this.model.cost.commission

    this.form.paymentDate = this.model.cost.paymentDate

    this.form.costs = this.model.cost.costs
  }
}
</script>
