<template>
  <div class="col-md-12">

    <table class="table table-hover hidden-xs hidden-sm">
      <thead>
        <tr>
          <th style="width: 150px"></th>
          <th>Nome</th>
          <th>Cidade/Estado</th>
          <th style="width: 150px">Cachê</th>
          <th style="width: 150px">Ajuda de Custo</th>
          <th style="width: 50px">Ações</th>
        </tr>
      </thead>
      <tbody id="casting-list" v-if="models.length">
        <tr v-for="model in models"
            :key="model.id">
          <td><img :src="model.photo" :alt="model.artisticName" class="profile-img"></td>
          <td>{{ model.artisticName }}</td>
          <td>{{ model.city }} - {{ model.state }}</td>
            <td>R$ {{ commission(model.cost.commission) }}</td>
          <td>R$ {{ costsTotal(model.cost.costs) }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-bars"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><a href="javascript: void(0)" @click="openModalClick(model)"><span class="fa fa-money fa-fw"></span> Despesas</a></li>
                <li role="separator" class="divider"></li>
                <li><nuxt-link :to="{ name: 'models-store-id', params: { id: model.id } }"><span class="fa fa-male fa-fw"></span> Cadastro</nuxt-link></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-hover visible-xs visible-sm">
      <thead>
        <tr>
          <th>Modelo</th>
          <th style="width: 100px">Pgto.</th>
          <th style="width: 50px">Ações</th>
        </tr>
      </thead>
      <tbody id="casting-list-mobile">

        <tr v-for="model in models"
            :key="model.id">
          <td>
            <b>{{ model.artisticName }}</b><br>
            {{ model.city }} - {{ model.state }}<br>
          </td>
          <td>
            Cache<br>
            R$ {{ commission(model.cost.commission) }}<br>
            Custos<br>
            R$ {{ costsTotal(model.cost.costs) }}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-small dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span class="fa fa-bars"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><a href="javascript: void(0)" @click="openModalClick(model)"><span class="fa fa-money fa-fw"></span> Despesas</a></li>
                <li role="separator" class="divider"></li>
                <li><nuxt-link :to="{ name: 'models-store-id', params: { id: model.id } }"><span class="fa fa-male fa-fw"></span> Cadastro</nuxt-link></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <p class="text-center" v-if="!models.length">Nenhum casting selecionado.</p>

    <modal-model-cost
      v-if="openModal"
      :open="openModal"
      :model="model"
      :casting="casting"
      :job-id="this.jobId"
      @close="openModal=false">
    </modal-model-cost>
  </div>
</template>

<script type="text/javascript">
import ModalModelCost from './modal-model-cost'
// import { mapActions } from 'vuex'
import { sumBy } from 'lodash'

export default {
  props: ['models', 'casting', 'jobId'],
  components: {
    ModalModelCost
  },
  data: () => ({
    openModal: false,
    model: {}
  }),
  methods: {
    costsTotal (costs) {
      return sumBy(costs, (c) => parseFloat(c.price.replace(',', '.')))
    },
    commission (value) {
      return parseFloat(value)
    },
    openModalClick (model) {
      if (this.jobId !== 0) {
        this.openModal = true
        this.model = model
      } else {
        this.$swal('Ops!!!', 'É necessário salvar o trabalho antes de editar os custos!', 'info')
      }
    }
  }
}
</script>
