<template>
  <div>
    <dashboard/>
  </div>
</template>

<script>
import Dashboard from './dashboard'

export default {
  layout: 'default',
  middleware: 'auth',
  components: {
    Dashboard
  }
}
</script>
