<template>
  <div class="btn-group pull-right" role="group">
    <nuxt-link :to="{ name: 'login' }" :class="{ 'btn top-btn': true, 'active': (isActive && !isForgot) }">Login</nuxt-link>
    <nuxt-link :to="{ name: 'login-register' }" :class="{ 'btn top-btn': true, 'active': (!isActive && !isForgot) }">Cadastrar</nuxt-link>
  </div>
</template>
<script type="text/javascript">
  export default {
    name: 'Buttons',
    computed: {
      isActive () {
        return (this.$route.name === 'login')
      },
      isForgot () {
        return (this.$route.name === 'login-forgot')
      }
    }
  }
</script>