<template>
  <div class="hidden-xs col-md-6 banner left green">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators" style="bottom: -60px;">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <h3>Bem-vindo ao MyModelManager!</h3>
          <p>O administrador completo para sua agência.</p>
          <div class="logo" :style="{ 'background-image': 'url('+ logoBackground +')' }">
          </div>
        </div>
        <div class="item">
          <h3>Organize sua agenda.</h3>
          <p>Utilize o cadastro de eventos para organizar sua agenda com casting, eventos, ensaios, e mais.</p>
          <span class="fa fa-calendar mtop30" style="font-size: 5em;"></span>
        </div>
        <div class="item">
          <h3>Cadastre seus modelos.</h3>
          <p>Utilize um cadastro completo de modelos para ter sempre em mãos suas principais características com opções de filtragem e busca.</p>
          <span class="fa fa-user mtop30" style="font-size: 5em;"></span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'carousel',
    computed: {
      logoBackground () {
        return require('~/assets/img/logo-white.png')
      }
    }
  }
</script>

<style type="text/css">
  .item  {
    min-height: 320px !important;
  }
</style>