<template>
  <modal v-model="openSendLink" title="Enviar Link ao Modelo" @hide="dismissCallback" ref="modal" id="modalNewModel">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-12">
          <div :class="{'form-group': true, 'error': errors.has('name') }">
            <label for="">Nome Completo</label>
            <input type="text" name="name" id="name" v-model="form.name"
            :class="{'form-control': true, 'error': errors.has('name') }" v-validate="'required'">
            <span v-show="errors.has('name')" class="help">{{ errors.first('name') }}</span>
          </div>
        </div>
        <div class="col-md-12">
          <div :class="{'form-group': true, 'error': errors.has('email') }">
            <label for="">Email</label>
            <input type="text" id="email" name="email" v-model="form.email"
                   :class="{'form-control': true, 'error': errors.has('email') }" v-validate="'required|email'">
            <span v-show="errors.has('email')" class="help">{{ errors.first('email') }}</span>
          </div>
        </div>
      </div>
    </form>
    <div slot="footer">
      <button type="button" class="btn" @click="dismissCallback">Voltar</button>
      <button type="button" class="btn btn-green" @click="submit" :disabled="loading"><i class="fa fa-spinner" v-if="loading"></i> Enviar</button>
    </div>
  </modal>
</template>

<script>
import serviceModel from '~/services/models'
export default {
  name: 'SendLink',
  props: {
    open: {
      type: Boolean,
      'default': false
    }
  },
  data () {
    return {
      openSendLink: false,
      form: {
        name: '',
        email: ''
      },
      loading: false
    }
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        let { name, email } = this.form
        if (result) {
          this.loading = true
          serviceModel.sendLink({ name, email }).then(() => {
            this.$swal('Sucesso!', 'E-mail enviado com sucesso!', 'success').then(() => {
              this.$store.dispatch('getModels')
              this.$store.dispatch('getWidgetTotals')
              this.dismissCallback()
            })
          })
          this.loading = false
        }
      })
    },
    dismissCallback () {
      this.close()
    },
    close () {
      this.openSendLink = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openSendLink = this.open
  }
}
</script>
