<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)">
            <h4>Como você é menor de idade, temos que registrar os dados de seu responsável.</h4>
          </div>
        </transition>
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)" id="fullName">
            <label for="">Qual o nome de seu reponsável legal?</label>
            <input type="text" class="form-control" name="fullName" id="fullName" v-focus="step===1" v-model="form.fullName">
          </div>
        </transition>
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="rg">
            <label for="">Qual o RG de seu reponsável?</label>
            <input type="text" class="form-control" name="rg" id="rg" v-focus="step===2" v-model="form.rg">
          </div>
        </transition>
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)" id="cpf">
            <label for="">Qual o CPF de seu reponsável?</label>
            <input type="text" class="form-control" name="cpf" id="cpf" v-focus="step===3" v-model="form.cpf" v-mask="'999.999.999-99'">
          </div>
        </transition>
        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===4) }" v-show="(step===4)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>Nome responsável</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="name" class="pull-right info" @click.prevent="changeStep(1)">{{ form.fullName || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>RG do responsável</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="rg" class="pull-right info" @click.prevent="changeStep(2)">{{ form.rg || '--' }}</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <strong>CPF do responsável</strong>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <a data-target="cpf" class="pull-right info" @click.prevent="changeStep(3)">{{ form.cpf || '--' }}</a>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15"
                id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="fathers"
                data-next="/model/step4"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState, mapGetters } from 'vuex'
import mixinSteps from '~/mixins/steps'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapGetters(['hasOfAge']),
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      cpf: '',
      fullName: '',
      rg: '',
      id: 0
    },
    totalSteps: 4
  }),
  methods: {
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'representative', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      if (vm.hasOfAge) {
        if (from.name === 'model-step2') {
          vm.$router.push({ name: 'model-step4' })
        }
        if (from.name === 'model-step4') {
          vm.$router.push({ name: 'model-step2' })
        }
      }
    })
  },
  mounted () {
    setTimeout(() => {
      let { modelRepresentative } = this.model.model
      if (modelRepresentative) {
        this.form = Object.assign(this.form, modelRepresentative)
      }
    }, 200)
  }
}
</script>
