<template>
  <div>
<!--     Estamos testando o formulário de novos modelos.<br>
    Por favor teste clicando <nuxt-link :to="{ name: 'models' }" class="btn">aqui</nuxt-link>. -->
  </div>
</template>

<script type="text/javascript">
  export default {
    middleware: 'auth',
    name: 'Dashboard'
  }
</script>
