<template>
  <select class="form-control" id="banks" name="banks"
          @input="updateValue($event.target.value)"
          @change="updateBankCode($event.target.value)"
          v-bind:value="value">
    <option v-for="bank in febrabanBanks"
            :value="bank.name">
          {{ bank.code || 'N/A' }} - {{ bank.name }}
    </option>
  </select>
</template>

<script type="text/javascript">
import febrabanBanks from '~/static/febraban_banks.json'
import { sortBy, find } from 'lodash'
export default {
  name: 'selectBanks',
  props: ['value'],
  data: () => ({
    febrabanBanks: []
  }),
  methods: {
    updateValue (value) {
      this.$emit('input', value)
    },
    updateBankCode (value) {
      let bank = find(febrabanBanks, b => b.name === value)

      this.$emit('bank-code', bank.code)
    }
  },
  mounted () {
    this.febrabanBanks = sortBy(febrabanBanks, ['code', 'name'])
  }

}
</script>
