<template>
  <select class="form-control" id="state" name="state"
          @input="updateValue($event.target.value)"
          v-bind:value="value">
    <option v-for="state in states"
            :value="state.code">
          {{state.code}}
    </option>
  </select>
</template>

<script type="text/javascript">
import states from '~/static/states.json'
export default {
  name: 'selectStates',
  props: ['value'],
  data: () => ({
    states: []
  }),
  methods: {
    updateValue (value) {
      this.$emit('input', value)
    }
  },
  mounted () {
    this.states = states
  }

}
</script>
