<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Modelos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-no-border active">
          <div class="row search-group">
            <button class="btn btn-search pull-right mleft-15 mright-20" type="button" id="btn-search" data-toggle="dropdown-search" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-search"></span>
            </button>
            <!-- <a href="cad-modelo.html" class="btn btn-small btn-green pull-right mleft-15"><span class="fa fa-plus"></span> Novo Modelo</a> -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-green dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="fa fa-plus"></span> Novo Modelo
              </button>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0)" @click="openSendLink=true"><span class="fa fa-external-link"></span> Enviar Link</a></li>
                <li><nuxt-link :to="{ name: 'models-store-id' }"><span class="fa fa-plus"></span> Cadastrar Modelo</nuxt-link></li>
              </ul>
            </div>
            <div class="panel panel-default dropdown-search collapse" id="dropdown-search">
              <div class="panel-body">
                <form>
                  <ul class="list-unstyled">
                    <li>
                      <div class="form-group">
                        <label for="" >Nome</label>
                        <input type="text" name="" class="form-control search-input" v-model="filter.name">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="email" >Email</label>
                        <input type="text" name="email" class="form-control search-input" v-model="filter.email">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="cpf" >CPF</label>
                        <input type="text" name="cpf" class="form-control search-input" v-model="filter.cpf">
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <label for="indStatus" >Status</label>
                        <select class="form-control search-select" name="indStatus"  v-model="filter.indStatus">
                          <option value="">Todos</option>
                          <option value="APPROVED">Aprovados</option>
                          <option value="PRE_CANDIDATE">Pré-cadastrados</option>
                          <option value="PENDING">Pendente</option>
                          <option value="REPROVED">Reprovados</option>
                          <option value="INACTIVE">Inativos</option>
                        </select>
                      </div>
                    </li>
                    <div class="panel-footer">
                      <button type="button" name="button" class="btn pull-right mleft-15" id="btn-filter" data-toggle="dropdown-search" @click.prevent="onSearch">Filtrar</button>
                      <button type="button" name="button" class="btn btn-green pull-right" id="btn-clear" data-toggle="dropdown-search" @click.prevent="fetch">Limpar</button>
                    </div>
                  </ul>
                </form>
              </div>
            </div>
          </div>

          <table class="table table-hover hidden-sm hidden-xs">
            <thead>
              <tr>
                <th style="width: 150px"></th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Idade</th>
                <th>Abriu</th>
                <th style="width: 150px">Status</th>
                <th style="width: 150px">Data Atualização</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="m in paginateItems"
                 :key="m.id">
                <td>
                  <img :src="m.photo" :alt="m.fullName" :title="m.fullName" class="profile-img" v-if="m.photo">
                  <img src="~assets/img/portrait-nil.png" :title="m.fullName" class="profile-img" v-else>
                </td>
                <td>{{ m.fullName }} <small class="text-danger" v-if="!m.isEnabled"><strong>(inativo)</strong></small></td>
                <td>{{ m.email }}</td>
                <td>{{ m.birthDate | age }}</td>
                <td>
                  <!--<tooltip text="Expira em 11/11/2017 - 17:04">-->
                  <span class="badge badge-success" v-if="m.isOpen">sim</span>
                  <span class="badge badge-danger" v-else>não</span>
                  <!--</tooltip>-->
                </td>
                <td v-html="$options.filters.modelStatus(m.status)"></td>
                <td>{{ m.updatedAt | moment("DD/MM/YYYY") }}</td>
                <td>
                  <actions :model="m" @openModal="openModal"></actions>
                </td>
              </tr>
            </tbody>
          </table>

          <!-- table mobile -->
          <table class="table table-hover visible-xs visible-sm">
            <thead>
              <tr>
                <th style="width: 50px">Modelo</th>
                <th></th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="m in paginateItems"
                  :key="m.id">
                <td>
                  <img :src="m.photo" :alt="m.fullName" :title="m.fullName" class="profile-img" v-if="m.photo">
                  <img src="~assets/img/portrait-nil.png" :title="m.fullName" class="profile-img" v-else>
                </td>
                <td>
                  <span v-html="$options.filters.modelStatus(m.status)"></span><br>
                  <b>{{m.fullName}}</b> <small class="text-danger" v-if="!m.isEnabled"><strong>(inativo)</strong></small><br>
                  <b>Idade</b> {{ m.birthDate | age }}<br>
                  <b>Abriu: </b>
                    <!--<span class="badge badge-danger" data-toggle="tooltip" data-placement="top" title="Expira em 00/06/2017 - 17:04">-->
                      <span class="badge badge-success" v-if="m.isOpen">sim</span>
                      <span class="badge badge-danger" v-else>não</span>
                    <!--</span>-->
                  <br>
                </td>
                <td>
                  <actions :model="m" @openModal="openModal"></actions>
                </td>
              </tr>

            </tbody>
          </table>

          <p class="text-center" v-if="total===0">Nenhum registro encontrado.</p>

          <nav aria-label="Page navigation" class="pagination-wrapper" v-if="isVisible">
            <pagination v-model="pageNum"
                :total-page="totalPages"
                @change="getPaginatedItems"
                boundary-links />
          </nav>
        </div>
      </div>
    </div>

    <send-link v-if="openSendLink" :open="openSendLink" @close="openSendLink=false"></send-link>
    <calendar v-if="openCalendar" :open="openCalendar" @close="openCalendar=false"></calendar>
  </div>
</template>

<script>
  import { search } from '~/plugins/search.js'
  import { SendLink, Calendar } from '~/components/models'
  import Actions from '~/components/models/partials/actions.vue'
  import { mapGetters } from 'vuex'
  import paginate from '~/mixins/paginate'

  export default {
    middleware: 'auth',
    mixins: [paginate],
    components: {
      SendLink,
      Calendar,
      Actions
    },
    data () {
      return {
        msg: '',
        openSendLink: false,
        openCalendar: false,
        filter: {
          name: '',
          email: '',
          cpf: '',
          indStatus: ''
        }
      }
    },
    computed: {
      ...mapGetters([
        'models'
      ]),
      items () {
        return this.models
      }
    },
    methods: {
      openModal () {
        this.openCalendar = true
      },
      onSearch () {
        this.$store.dispatch('getModels', this.filter)
      },
      fetch () {
        this.$store.dispatch('getModels')
      }
    },
    created () {
      this.fetch()
    },
    mounted () {
      search()
      this.getPaginatedItems(1)
    },
    head () {
      return {
        title: 'Modelos',
        bodyAttrs: {
          class: 'models'
        }
      }
    }
  }
</script>
