.casting {
  .flex {
    display: flex;
  }

  .align-center {
    align-items: center;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-between {
    justify-content: space-between;
  }

  .cast-selection {
    width: 100%;
    border-bottom: 1px solid #F47B21;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #F47B21;
    padding: 5px 0;
    margin-bottom: 15px;
    .cast-items {
      display: flex;
      align-items: center;
      height: 50px;
      width: 100%;
      h4 {
        align-self: flex-end;
        margin-right: 15px;
        margin-bottom: 0;
      }
      .item {
        position: relative;
        margin-right: 20px;
        min-height: auto !important;
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 1px solid #F47B21;
        }
        .remove-cast-item {
          font-size: .7em;
          color: white;
          padding: 2px 5px;
          background-color: #F47B21;
          border-radius: 50%;
          position: absolute;
          top: 0;
          right: -7px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .cast-items {
      overflow-x: scroll;
      overflow-y: hidden;
    }
  }

  .filter {
    border-radius: 7px;
    border: 1px solid #66c0ab;
    margin-bottom: 20px;
    .filter-header {
      padding: 10px;
      background-color: #66c0ab;
      border-radius: 5px 5px 0 0;
      display: flex;
      justify-content: space-between;
      h5 {
        margin-top: 15px;
        margin-bottom: 0;
        color: white;
        font-size: 1.2em;
      }
      .fa {
        font-size: 2em;
      }
    }
    .items {
      padding: 15px;
      .slider.slider-horizontal {
        width: 90%;
        margin-left: 12px;
      }
      label {
        display: block;
        margin-top: 10px;
      }
    }
  }

  @media (max-width: 767px) {
    .filter {
      margin-bottom: 0;
      .filter-header {
        cursor: pointer;
      }
      .items {
        display: none;
      }
    }
  }

  .card {
    border: 1px solid lightgray;
    border-radius: 7px;
    height: 200px;
    display: flex;
    position: relative;
    margin-bottom: 20px;
    .image-link {
      background-color: #F47B21;
      opacity: 0;
      height: 100%;
      width: 200px;
      position: absolute;
      top: 0;
      left: 0;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: .2s;
      a {
        color: white;
        font-size: 4em;
      }
      span {
        font-size: 1.5em;
        color: white;
        text-align: center;
      }
      &:hover {
        opacity: .6;
      }
    }
    img {
      width: 200px;
      border-radius: 5px 0 0 5px;
    }
    h4 {
      margin-bottom: 0;
    }
    ul {
      margin-top: 10px;
      li {
        display: flex;
        justify-content: space-between;
      }
    }
    strong {
      font-weight: 800;
    }
    .card-info {
      margin-left: 15px;
      width: calc(100% - 230px);
    }
  }

  @media (max-width: 767px) {
    .card {
      height: 230px;
    }
    .checkbox-break {
      padding-left: 15px;
    }
    .col-xs-4, .col-sm-4 {
      padding: 0 5px;
    }
  }

  .tooltip {
    z-index: 0;
  }

  .tooltip-inner {
    background-color: #4990E2;
  }

  .tooltip-arrow {
    border-top-color: #4990E2 !important;
  }

  .cat-title {
    font-size: 1.1em;
    font-weight: bold;
  }

  .fa-ellipsis-v {
    font-size: 1.3em;
  }

  .cast-btn {
    padding: 0 10px;
  }
}
