.flex {
  display: flex; }

.align-center {
  align-items: center; }

.justify-center {
  justify-content: center; }

.justify-between {
  justify-content: space-between; }

body.login {

  background: radial-gradient(farthest-side at 50% 0%, #938376 0%, #62564D 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;


  .container {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .login-panel {
    width: 70%;
    max-width: 900px;
    margin: auto;
    box-shadow: 5px 8px 20px 5px rgba(0, 0, 0, 0.3);
    position: relative; }
    .login-panel .row {
      height: 100%; }

  @media (max-width: 768px) {
    .login-panel {
      width: 95%; }
      .login-panel .row {
        height: 90%; } }
  .banner {
    height: 580px;
    position: relative;
    background-color: white; }
    .banner.green {
      background-color: #66c0ab;
      color: white; }
    .banner.dark {
      background-image: radial-gradient(farthest-side at 50% 100%, #2B305E 0%, #252A51 100%); }
    .banner.left {
      padding-top: 15%;
      border-radius: 5px 0 0 5px;
      text-align: center; }
    .banner.right {
      padding: 25px;
      border-radius: 0 5px 5px 0; }

  @media (max-width: 768px) {
    .banner {
      height: 80%;
    }
  }
  .logo {
    margin: auto;
    margin-top: 100px;
    width: 250px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat; }

  .item h3 {
    color: inherit;
    font-weight: 100; }
  .item p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px; }

  .mtop30 {
    margin-top: 30px; }

  .form {
    margin-top: 100px; }
    .form h1 {
      border-bottom: 1px #66c0ab solid;
      width: 80px;
      color: inherit;
      font-weight: 100;
      padding-bottom: 5px;
      margin-bottom: 50px; }
    .form a {
      line-height: 2.8; }
    .form input {
      border: none;
      border-radius: 0;
      border-bottom: 1px #66c0ab solid; }
      .form input:focus {
        border: none !important;
        border-bottom: 1px #66c0ab solid !important; }

  @media (max-width: 768px) {
    .form {
      margin-top: 0; } }
  .top-btn {
    padding: .7em 1.5em !important; }

}
