<template>
  <div class="card iso-item primary" :key="'primary'">
    <div class="card-block">
      <h5>Dados Bancários</h5>
      <ul class="list-inline">
        <li><strong>Titular da conta</strong><span>{{banks.holder | yesOrNo}}</span></li>
        <li><strong>Banco</strong><span>{{banks.bankName}}</span></li>
        <li><strong>Agência</strong><span>{{banks.agency}}</span></li>
        <li><strong>Conta</strong><span>{{banks.number}}</span></li>
        <li><strong>Tipo de conta</strong><span>{{banks.type | accountType}}</span></li>
        <li><strong>Nome responsável</strong><span>{{banks.holderName}}</span></li>
        <li><strong>CPF do responsável</strong><span>{{banks.document}}</span></li>
      </ul>
    </div>
    <div class="card-block menu">
      <a href="#" @click="open=true"><span class="fa fa-pencil"></span> Editar</a>
    </div>
    <bank-modal v-if="open" :open="open" :data="banks" @close="open=false"></bank-modal>
  </div>
</template>

<script>
  import BankModal from './modal.vue'
  export default {
    name: 'MmBank',
    props: ['fetch'],
    components: {
      BankModal
    },
    filters: {
      accountType (value) {
        if (value === 'CC') {
          return 'Conta-corrente'
        }
        return 'Conta-poupança'
      }
    },
    computed: {
      banks () {
        return this.fetch.modelBankAccount || {
          number: '',
          agency: '',
          bankCode: '',
          bankName: '',
          holder: true,
          type: 'CC',
          holderName: '',
          document: ''
        }
      }
    },
    data () {
      return {
        open: false
      }
    }
  }
</script>
