<template>
  <modal v-model="openModal" title="Dados Bancários" @hide="dismissCallback" ref="modal" id="modalBanco" size="lg">
    <form class="form" @submit.prevent="submit">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="holder">Titular da Conta</label>
            <select class="form-control" name="holder" id="holder" v-model="form.holder">
              <option :value="true">Sim</option>
              <option :value="false">Não</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label for="bankName">Banco</label>
            <select class="form-control" name="bankName" id="bankName" v-model="form.bankName">
              <option v-for="bank in banks"
                      :value="bank.name">
                      {{ bank.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="type">Tipo da Conta</label>
            <select class="form-control" name="type" id="type" v-model="form.type">
              <option value="CC">Conta-corrente</option>
              <option value="CP">Conta-poupança</option>
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="agency">Agência</label>
            <input type="text" name="agency" id="agency" v-model="form.agency" class="form-control">
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label for="number">Conta</label>
            <input type="text" name="number" id="number" v-model="form.number" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
<!--         <div class="col-md-4">
          <div class="form-group">
            <label for="bank_is_cnpj">Possui CNPJ</label>
            <select class="form-control" name="bank_is_cnpj" id="bank_is_cnpj" v-model="form.bank_is_cnpj">
              <option value="1">Sim</option>
              <option value="0">Não</option>
            </select>
          </div>
        </div> -->
        <div class="col-md-4">
          <div class="form-group">
            <label for="document">CPF</label>
            <input type="text" name="document" id="document" class="form-control" v-mask="'999.999.999-99'" v-model="form.document">
            <!-- <input type="text" name="document" id="document" v-mask="'99.999.999/9999-99'" v-model="form.document" class="form-control"> -->
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="holderName">Nome do Responsável</label>
            <input type="text" name="holderName" id="holderName" v-model="form.holderName" class="form-control">
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="bank_rg">RG do Responsável</label>
            <input type="text" name="bank_rg" id="bank_rg" v-model="form.bank_rg" class="form-control">
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="bank_cpf">CPF do Responsável</label>
            <input type="text" name="bank_cpf" id="bank_cpf" v-mask="'999.999.999-99'" v-model="form.bank_cpf" class="form-control">
          </div>
        </div>
      </div> -->
    </form>
    <div slot="footer">
      <button type="button" class="btn btn-green" @click="openModal=false">Voltar</button>
      <button type="button" class="btn btn-check save" @click="submit">Salvar</button>
    </div>
  </modal>
</template>

<script>
import modelService from '~/services/models.js'
import { mapState } from 'vuex'
import { isEmpty, head } from 'lodash'
export default {
  name: 'BankModal',
  props: {
    open: {
      type: Boolean,
      'default': false
    },
    data: {
      type: Object,
      'default': {
        number: '',
        agency: '',
        bankCode: '',
        bankName: '',
        holder: true,
        type: 'CC',
        holderName: '',
        document: ''
      }
    }
  },
  computed: {
    ...mapState({
      'modelSelected': state => state.models.modelSelected
    })
  },
  data: () => ({
    openModal: false,
    form: {},
    banks: []
  }),
  watch: {
    'form.bankName' (val) {
      if (isEmpty(val)) {
        this.form.bankCode = null
        return false
      }

      let bank = head(this.banks.filter(r => r.name === val))
      if (bank) {
        this.form.bankCode = bank.code
      }
    }
  },
  methods: {
    submit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          let modelId = this.modelSelected.id

          modelService.saveBankAccount(modelId, this.form).then((data) => {
            this.openModal = false
            this.$swal({ title: 'Dados bancários atualizada!' }).then(() => {
              this.$store.commit('FETCH_MODEL_BANKS', data)
            })
          })
        }
      })
    },
    dismissCallback (msg) {
      this.close()
    },
    close () {
      this.openModal = false
      setTimeout(() => {
        this.$emit('close')
      }, 100)
    }
  },
  mounted () {
    this.openModal = this.open
    this.$axios.get('/febraban_banks.json').then(res => {
      let data = res.data
      this.banks = data
    })
    this.form = Object.assign({}, this.data)
  }
}
</script>
