<template>
  <div class="col-sm-12 col-md-6 banner right form" :class="{ loading: loading }" @keyup.enter="stepUp">
    <progress-status :step="step" :total-steps="totalSteps"></progress-status>
    <div class="row">
      <div class="col-md-12">
        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===0) }" v-show="(step===0)" id="prev">
            <h4>Vamos adicionar suas formações agora.</h4>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===1) }" v-show="(step===1)" id="scholarity">
            <label for="scholarity">Qual sua escolaridade?</label>
            <select class="form-control formstart" id="scholarity" name="scholarity" v-focus="step===1" v-model="form.scholarity">
              <option value="NONE">Não sabe ler nem escrever</option>
              <option value="ELEMENTARY_INCOMPLETE">Ensino fundamental incompleto</option>
              <option value="ELEMENTARY">Ensino fundamental completo</option>
              <option value="HIGH_SCHOOL_INCOMPLETE">Ensino médio incompleto</option>
              <option value="HIGH_SCHOOL">Ensino médio completo</option>
              <option value="GRADUATION_INCOMPLETE">Ensino superior incompleto</option>
              <option value="GRADUATED">Ensino superior completo</option>
              <option value="MASTER">Pós-graduação</option>
              <option value="OTHERS">Outros</option>
            </select>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===2) }" v-show="(step===2)" id="actorActress">
            <label for="actorActress">É Ator/Atriz?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="actorActress" id="actorActress" v-model="form.actorActress" v-focus="step===2" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="actorActress" id="actorActress" v-model="form.actorActress" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===3) }" v-show="(step===3)" id="drt" v-if="form.actorActress">
            <label for="">Número de seu DRT.</label>
            <input type="text" name="drt" id="drt" v-model="form.drt" v-focus="step===3" class="form-control">
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===4) }" v-show="(step===4)" id="presenter">
            <label for="presenter">Apresentador(a)?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="presenter" id="presenter" v-model="form.presenter" v-focus="step===4" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="presenter" id="presenter" v-model="form.presenter" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===5) }" v-show="(step===5)" id="singer">
            <label for="singer">E cantor(a)?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="singer" id="singer" v-model="form.singer" v-focus="step===5" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="singer" id="singer" v-model="form.singer" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===6) }" v-show="(step===6)" id="dancer">
            <label for="">Dançarino(a)?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="dancer" id="dancer" v-model="form.dancer" v-focus="step===6" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="dancer" id="dancer" v-model="form.dancer" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===7) }" v-show="(step===7)" id="ceremonyMaster">
            <label for="">Mestre de cerimônia?</label><br>
            <label class="radio-inline mleft-15">
              <input type="radio" name="ceremonyMaster" id="ceremonyMaster" v-model="form.ceremonyMaster" v-focus="step===7" :value="true"> Sim
            </label>
            <label class="radio-inline">
              <input type="radio" name="ceremonyMaster" id="ceremonyMaster" v-model="form.ceremonyMaster" :value="false"> Não
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'ativa': (step===8) }" v-show="(step===8)" id="language">
            <label for="">Qual idioma você fala além do português?</label><br>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Inglês" id="ingles" v-model="form.language" v-focus="step===8"> Inglês
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Espanhol" id="espanhol" v-model="form.language"> Espanhol
            </label>
            <label class="check-inline mleft-15">
              <input type="checkbox" value="Outro" id="outro" v-model="form.language"> Outro
            </label>
          </div>
        </transition>

        <transition name="slide">
          <div :class="{ 'form-group': true, 'resumo': true, 'ativa': (step===9) }" v-show="(step===9)">
            <h4>Por favor revise as informações e clique em avançar.</h4>
            <h5>Se necessário, clique em alguma informação para altera-la.</h5>
            <div class="row mtop30">
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Escolaridade</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="scholarity" class="pull-right info" @click.prevent="changeStep(1)">{{ form.scholarity | scholarityTrans }}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Ator/Atriz</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="actorActress" class="pull-right info" @click.prevent="changeStep(2)">{{form.actorActress | yesOrNo}}</a>
                </div>
              </div>
              <div class="row" v-if="form.actorActress">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Número DRT</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="drt" class="pull-right info" @click.prevent="changeStep(3)">{{ form.drt || '--' }}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Apresentador(a)</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="presenter" class="pull-right info" @click.prevent="changeStep(4)">{{form.presenter | yesOrNo}}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Cantor(a)</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="singer" class="pull-right info" @click.prevent="changeStep(5)">{{form.singer | yesOrNo}}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Dançarino(a)</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="dancer" class="pull-right info" @click.prevent="changeStep(6)">{{form.dancer | yesOrNo}}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Mestre de cerimônia</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="ceremonyMaster" class="pull-right info" @click.prevent="changeStep(7)">{{form.ceremonyMaster | yesOrNo}}</a>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-6 col-md-6 col-md-6">
                  <strong>Idioma</strong>
                </div>
                <div class="col-xs-6 col-md-6 col-md-6">
                  <a data-target="language" class="pull-right info" @click.prevent="changeStep(8)">{{ form.language | join(', ') || 'Nenhum' }}</a>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <button class="btn pull-right mleft-15" id="btn-next"
                :data-form="JSON.stringify(form)"
                data-relation="education"
                data-next="/model/step7"
                @click="stepUp">Avançar</button>
        <button class="btn btn-green pull-right" id="btn-prev" @click="stepDown">Voltar</button>
      </div>
    </div>
  </div>
</template>

<script type="text/javascript">
import { mapState } from 'vuex'
import mixinSteps from '~/mixins/steps'

export default {
  layout: 'wizard',
  mixins: [mixinSteps],
  computed: {
    ...mapState({
      model: state => state.wizard.model
    })
  },
  data: () => ({
    form: {
      actorActress: false,
      presenter: false,
      singer: false,
      dancer: false,
      ceremonyMaster: false,
      drt: '',
      language: [],
      scholarity: 'NONE'
    },
    totalSteps: 9
  }),
  watch: {
    'form.actorActress' (val) {
      if (val === false) {
        this.form.drt = ''
      }
    },
    step (newStep, oldStep) {
      if ((oldStep === 2 && newStep === 3) && this.form.actorActress === false) {
        this.step = 4
      }

      if ((oldStep === 4 && newStep === 3) && this.form.actorActress === false) {
        this.step = 2
      }

      if ((oldStep === 9 && newStep === 3) && this.form.actorActress === false) {
        this.step = 9
      }
    }
  },
  methods: {
    save () {
      if (this.step === this.totalSteps) {
        this.loading = true
        const payload = { relation: 'education', data: this.form }
        this.$store.dispatch('saveRelationWizard', payload).then(() => {
          this.loading = false
          this.$router.push({ path: $('#btn-next').data('next') })
        }, () => {
          this.loading = false
        })
        return true
      }
      return false
    }
  },
  mounted () {
    setTimeout(() => {
      let { modelEducation } = this.model.model
      if (modelEducation) {
        this.form = Object.assign(this.form, modelEducation)
      }
    }, 200)
  }
}
</script>
