<template>
  <div>
    <div class="row">
      <div class="col-md-11">
        <h1>Trabalhos</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="section-no-border active">
          <div class="row search-group">
            <button class="btn btn-search pull-right mleft-15 mright-20" type="button" id="btn-search" data-toggle="dropdown-search" aria-haspopup="true" aria-expanded="false">
              <span class="fa fa-search"></span>
            </button>
            <nuxt-link :to="{ name: 'jobs-store-id' }" class="btn btn-green pull-right"><span class="fa fa-plus"></span> Novo Trabalho</nuxt-link>
            <div class="panel panel-default dropdown-search collapse" id="dropdown-search">
              <div class="panel-body">
                <form>
                <ul class="list-unstyled">
                  <li>
                    <div class="form-group">
                      <label for="client" >Cliente</label>
                        <input type="text" name="client" v-model="form.client"  class="form-control search-input">
                    </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label for="title" >Título</label>
                        <input type="text" name="title" v-model="form.title" class="form-control search-input">
                      </div>
                  </li>
                  <li>
                    <div class="form-group">
                      <label for="status">Status</label>
                      <select class="form-control search-select" name="status" v-model="form.status">
                        <option value="">Todos</option>
                        <option value="APPROVED">Aprovado</option>
                        <option value="CASTING">Casting</option>
                        <option value="WAITING_APPROVAL">Aguardando Aprovação</option>
                        <option value="COMPLETED">Concluído</option>
                        <option value="CANCELED">Cancelado</option>
                      </select>
                    </div>
                  </li>
                  <div class="panel-footer">
                    <button type="button" name="button" class="btn pull-right mleft-15" id="btn-filter" data-toggle="dropdown-search" @click="onSearch">Filtrar</button>
                    <button type="button" name="button" class="btn btn-green pull-right" id="btn-clear" data-toggle="dropdown-search" @click="fetch">Limpar</button>
                  </div>
                </ul>
                </form>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <table class="table table-hover hidden-xs hidden-sm">
            <thead>
              <tr>
                <th>Cliente</th>
                <th>Título</th>
                <th>Descrição</th>
                <th>Data</th>
                <th>Status</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="job in paginateItems"
                  :key="job.id">
                <td>{{ job.client.tradeName }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.description }}</td>
                <td>{{ job.jobDate | moment("DD/MM/YYYY") }} {{ job.jobHour }}</td>
                <td><status :status="job.status"></status></td>
                <td>
                  <actions :job="job"></actions>
                </td>
              </tr>

            </tbody>
          </table>
          <table class="table table-hover visible-xs visible-sm">
            <thead>
              <tr>
                <th>Trabalho</th>
                <th style="width: 50px">Ações</th>
              </tr>
            </thead>
            <tbody>

              <tr v-for="job in paginateItems"
                  :key="job.id">
                <td>
                  <status :status="job.status"></status><br>
                  <b>{{ job.title }}</b><br>
                    {{ job.client.tradeName }} - {{ job.jobDate | moment("DD/MM/YYYY") }} {{ job.jobHour }}<br>
                    {{ job.description }}
                </td>
                <td>
                  <actions :job="job"></actions>
                </td>
              </tr>

            </tbody>
          </table>

          <p class="text-center" v-if="total === 0">Nenhum registro encontrado.</p>

          <nav aria-label="Page navigation" class="pagination-wrapper" v-if="isVisible">
            <pagination
              v-model="pageNum"
              :total-page="totalPages"
              @change="getPaginatedItems"
              boundary-links />
          </nav>
        </div>
      </div>
    </div>
  </div>
</template>
<script type="text/javascript">
import { search } from '~/plugins/search.js'
import paginate from '~/mixins/paginate'
import Actions from '~/components/jobs/partials/actions.vue'
import Status from '~/components/jobs/partials/status.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'MmJobs',
  middleware: 'auth',
  components: {
    Actions,
    Status
  },
  mixins: [paginate],
  data: () => ({
    form: {
      title: '',
      client: '',
      status: ''
    }
  }),
  computed: {
    ...mapGetters([
      'filterJobs'
    ]),
    items () {
      return this.filterJobs
    }
  },
  methods: {
    onSearch () {
      this.$store.dispatch('getJobs', this.form)
    },
    fetch () {
      this.form = {
        title: '',
        client: '',
        status: ''
      }
      this.$store.dispatch('getJobs')
    }
  },
  created () {
    this.fetch()
  },
  mounted () {
    search()
  }
}
</script>
